<head th:fragment="headMeta">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 주소창 등의 웹 브라우저 UI를 표시하지 않기 -->
    <meta name="apple-mobile-web-app-capable" th:content="yes">
    <!-- 상태 바의 스타일을 지정 -->
    <meta name="apple-mobile-web-app-status-bar-style" th:content="black">
    <!-- 홈 화면에서 표시되는 앱 이름을 지정 -->
    <meta name="apple-mobile-web-app-title" th:content="PATRON">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=yes" name="viewport" />
    <meta name="naver-site-verification" content="71663cc11fa0da016a7ac674056f65619ae296b0" />
</head>