<head th:fragment="headLink">
  <link rel="apple-touch-icon" th:href="@{/img/app_icon.png}">
  <link rel="manifest" th:href="@{/manifest.json}">
  <link rel="icon" th:href="@{/img/favicon.png}">
  <link rel="stylesheet" th:href="@{/css_v1_3/owl-carousel/owl.theme.default.css}">
  <link rel="stylesheet" th:href="@{/css_v1_3/owl-carousel/owl.carousel.css}">
  <link rel="stylesheet" th:href="@{/css_v1_3/common/font.css}">
  <link rel="stylesheet" th:href="@{/css_v1_3/common/common.css}">
  <link rel="stylesheet" th:href="@{/css_v1_3/common/header.css}">
  <link rel="stylesheet" th:href="@{/css_v1_3/common/footer.css}">
  <link rel="alternate" hreflang="ko" href="https://patron.digital">
  <link rel="alternate" hreflang="en" href="https://en.patron.digital">
</head>