<footer>
    <!--footer 상단 nav-->
    <div id="footer_nav" style="display: flex">
        <div class="footer-service-box">
            <h5 th:text="#{footer.service}">서비스</h5>
            <ul>
                <li><a th:href="'/'+${language}+'/artwork/all'" th:text ="#{artworks}">아트워크</a></li>
                <li><a th:href="'/'+${language}+'/artist/all'" th:text="#{artist}">아티스트</a></li>
                <li><a href="https://patron-gallery.com/" target="_blank" th:text="#{store}">스토어</a></li>
                <li><a th:href="@{'https://patron-gallery.com/artmagazine'}" target="_blank" th:text="#{artMagazine}">아트 매거진</a></li>
            </ul>
        </div>
        <div class="footer-service-box">
            <h5 th:text="#{account}">계정</h5>
            <ul>
                <li sec:authorize="isAuthenticated()"><a th:href="'/'+${language}+'/mypage/profile'" th:text="#{editProfile}">프로필 수정</a></li>
                <li sec:authorize="!isAuthenticated()"><a onclick="NonMemberInAccessible();" th:text="#{editProfile}">프로필 수정</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="'/'+${language}+'/mypage/password/reset'" th:text="#{setting.changePassword}">개인정보 변경</a></li>
                <li sec:authorize="!isAuthenticated()"><a onclick="NonMemberInAccessible();" th:text="#{setting.changePassword}">개인정보 변경</a></li>
            </ul>
        </div>
        <div class="footer-service-box">
            <h5 th:text="#{footer.howToUseTv}">TV 이용방법</h5>
            <ul>
                <li><a th:href="@{'/'+${language}+'/mypage/use-tv?type=samsung'}" th:text="#{footer.samsung}">삼성 QLED</a></li>
                <li><a th:href="@{'/'+${language}+'/mypage/use-tv?type=lg'}">LG OLED</a></li>
                <li><a th:href="@{'/'+${language}+'/mypage/use-tv?type=chromecast'}" th:text="#{footer.chromecast}">크롬캐스트</a></li>
                <li><a th:href="@{'/'+${language}+'/mypage/use-tv?type=kt'}" th:text="#{footer.kt}">KT 기가지니</a></li>
            </ul>
        </div>
        <div class="footer-service-box footer-ask">
            <h5 th:text="#{footer.inquery}">문의</h5>
            <ul>
                <li>
                    <span th:text="#{footer.customerHelp}" class="footer-title">고객전용</span>
                    <span>help@patron.digital</span>
                </li>
                <li>
                    <span th:text="#{footer.artistHelp}" class="footer-title">작가전용</span>
                    <span>artist@patron.digital</span>
                </li>
                <li>
                    <span th:text="#{footer.phone}" class="footer-title">전화</span>
                    <span th:text="#{footer.phoneNumber}">070-7724-1703 (주중 09:00 ~ 17:00)</span>
                </li>
            </ul>
        </div>
<!--        <div class="footer-service-box">-->
<!--            <h5 th:text="#{customerSatisfaction}">고객만족</h5>-->
<!--            <ul class="help-list">-->
<!--                <li sec:authorize="isAuthenticated()"><a th:href="'/'+${language}+'/mypage/help?type=QnA'" th:text="#{inquiry}">1:1 문의</a></li>-->
<!--                <li sec:authorize="!isAuthenticated()"><a onclick="NonMemberInAccessible();" th:text="#{inquiry}">1:1 문의</a></li>-->
<!--                <li><a th:href="'/'+${language}+'/mypage/help?type=FAQ'" th:text="#{faq}">자주하는 질문</a></li>-->
<!--                <li><a th:href="'/'+${language}+'/mypage/help?type=notice'" th:text="#{notice}">공지사항</a></li>-->
<!--                <li style="margin-top: 28px;">-->
<!--                    <button type="button" id="btn_copy_help" class="btn-copy-email" onclick="copyToClipboard('help@patron.digital')">-->
<!--                        <span class="subtitle" th:text="#{footer.customerHelp}">고객전용</span>-->
<!--                        <span class="footer-info">help@patron.digital</span>-->
<!--                    </button>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <button type="button" id="btn_copy_artist" class="btn-copy-email" onclick="copyToClipboard('artist@patron.digital')">-->
<!--                        <span class="subtitle" th:text="#{footer.artistHelp}">작가전용</span>-->
<!--                        <span class="footer-info">artist@patron.digital</span>-->
<!--                    </button>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <span class="subtitle" th:text="#{footer.phone}">전화</span>-->
<!--                    <span class="footer-info" th:text="#{footer.phoneNumber}">070-7724-1703 (주중 09:00 ~ 17:00)</span>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <!--footer 하단-->
        <div id="footer_bottom">
            <div class="sns-box">
                <ul>
                    <li>
                        <a class="icon-instagram icon-sns" th:href="@{https://www.instagram.com/iam__patron/}" target="_blank"></a>
                    </li>
                    <li>
                        <a class="icon-facebook icon-sns" th:href="@{https://www.facebook.com/patron.nodamen}" target="_blank"></a>
                    </li>
                    <li>
                        <a class="icon-twitter icon-sns" th:href="@{https://twitter.com/LetsPATRON}" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h5 class="company-name" th:text="#{footer.nodamen}">주식회사 노다멘</h5>
            <span class="company-copyright">Copyright © 2023 Nodamen Inc.</span>
            <div id="footer_anchor_box">
                <a th:href="'/'+${language}+'/mypage/terms-of-service?type=service'" id="terms_of_service" th:text="#{footer.termsOfService}">서비스이용약관</a>
                <!-- before '|' -->
                <a th:href="'/'+${language}+'/mypage/terms-of-service?type=privacy'" id="personal_information" th:text="#{footer.personalInformation}">개인정보 처리방침</a>
                <!-- before '|' -->
                <a th:href="'/'+${language}+'/mypage/terms-of-service?type=account'" id="terms_of_account" th:text="#{footer.termsOfAccount}">계정 운영정책</a>
            </div>
            <p class="business-info"><span th:text="#{footer.registrationNumber}">사업자등록번호</span> : <span class="business-number">489-88-00555</span> | <span th:text="#{footer.ceo}">대표이사 : 이원준</span> |  <span th:text="#{footer.mailOrderNumber}">통신판매업신고 : 제2017-제주이도2-0100호</span> <a id="business_information" onclick="businessInfo('https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4898800555&apv_perm_no=',800,800)" th:text="#{footer.confirmationOfBusinessInfo}">사업자정보확인</a><br>
                <span th:text="#{footer.address}">주소 : 서울특별시 서대문구 연희로 134-1 제임스빌 5층 | 대표전화 : 070 7724 1703</span></p>
        </div>
    </div>
</footer>
