<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="nav_menu">
        <a th:href="'/'+${language}+'/home'">
            <img th:src="@{/img/logo_symbol.png}" id="header_logo" class="header-logo" alt="header-logo">
        </a>
        <div id="nav_button_box">
            <button type="button" id="btn_app_download" class="btn-app-download" onclick="" th:text="#{header.appDownload}">앱 다운로드</button>
            <a id="anchor_search" class="anchor-search" th:href="'/'+${language}+'/search'">
                <img th:src="@{/img/icon_search.png}" alt="icon_search">
            </a>
<!--            <button sec:authorize="isAuthenticated()" type="button" id="btn_tv_connection" class="btn-tv-connection" onclick="">-->
<!--                <img th:src="@{/img/icon_connect_tv.png}" alt="icon_tv_unconnected">-->
<!--            </button>-->
<!--            <button sec:authorize="!isAuthenticated()" type="button" class="btn-tv-connection" onclick="goToLoginPage()">-->
<!--                <img th:src="@{/img/icon_connect_tv.png}" alt="icon_tv_unconnected">-->
<!--            </button>-->
            <input type="checkbox" class="nav-checkbox" id="nav_checkbox" value="off">
            <label class="nav-checkbox-label" for="nav_checkbox" onclick="navChecker();">
                <span class="label-hidden" th:text="#{header.navigationBar}">네비게이션 바</span>
                <img class="header-icon" th:src="@{/img/icon_menu.png}" alt="icon_menu">
            </label>
        </div>
    </div>

    <div id="nav_dropdown_box">
        <div id="nav_dropdown" style="display: none;" onclick="navChecker()">
            <div class="nav-inner-box">
<!--                <div class="nav-username-search-box"> &lt;!&ndash; 로그인 상태 &ndash;&gt;-->
<!--                    <span class="nav-username">-->
<!--                    <span sec:authorize="isAuthenticated()" th:data-url="'/' + ${language} + '/mypage'" onclick="location.href=this.dataset.url" style="cursor: pointer">-->
<!--                        <span id="user_name" class="user-name" th:text="${generalMember.getName()}">header가나다라마바사아자차카타파하</span><span><img class="nav-icon-more" th:src="@{/img/icon_more.png}" alt="icon_more"></span>-->
<!--                    </span>-->
<!--                    <span class="user-name" sec:authorize="!isAuthenticated()"><span id="goToLogin" th:attr="data-language=${language}"><span th:text="#{login}">로그인하기</span><img class="nav-icon-more" th:src="@{/img/icon_more.png}" alt="icon_more"></span></span>-->
<!--                </span>-->
<!--                    <div class="icons">-->
<!--                        <a th:href="'/'+${language}+'/search'">-->
<!--                            <img th:src="@{/img/icon_search_active.png}" alt="icon_search">-->
<!--                        </a>-->
<!--                        <a sec:authorize="isAuthenticated()" th:href="'/'+${language}+'/mypage/setting'" class="nav-icon-setting">-->
<!--                            <img th:src="@{/img/icon_setting_active.png}" alt="icon_setting">-->
<!--                        </a>-->
<!--                        <a sec:authorize="!isAuthenticated()" class="nav-icon-setting" onclick="NonMemberInAccessible();">-->
<!--                            <img th:src="@{/img/icon_setting_active.png}" alt="icon_setting">-->
<!--                        </a>-->
<!--                        <button type="button" onclick="toggleLanguageModal(); setLanguageModalStyle()">-->
<!--                            <img th:src="@{/img/icon_language.png}" alt="icon_language">-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="nav-sub-menu">
                    <ul id="nav_anchor">
                        <li class="header-buttons" sec:authorize="!isAuthenticated()">
                            <button type="button" class="header-register-button" th:data-url="'/' + ${language} + '/signup'" onclick="checkGAEvent('menu_signup');location.href=this.dataset.url" th:text="#{login.signup}">회원가입</button>
                            <button type="button" class="header-login-button" th:data-url="'/' + ${language} + '/login'" onclick="checkGAEvent('menu_login');location.href=this.dataset.url" th:text="#{login.login}">로그인</button>
                        </li>
                        <li><a th:href="'/'+${language}+'/home'" th:text="#{header.home}">홈</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="'/'+${language}+'/mypage'" th:text="#{header.library}">라이브러리</a></li>
                        <li><a th:href="'/'+${language}+'/artwork/all'" th:text="#{artworks}">아트스트림</a></li>
                        <li><a th:href="'/'+${language}+'/artist/all'" th:text="#{artist}">아티스트</a></li>
                        <li><a onclick="hideNavMenu_gallery()" target="_blank"><span th:text="#{store}">스토어</span><img class="icon-store" th:src="@{/img/icon_new_tab.png}" alt="icon_store"></a></li>
                        <li><a th:href="@{'https://patron-gallery.com/artmagazine'}" target="_blank"><span th:text="#{artMagazine}">아트매거진</span><img class="icon-store" th:src="@{/img/icon_new_tab.png}" alt="icon_store"></a></li>
                        <li class="icons">
                            <button type="button" onclick="toggleLanguageModal(); setLanguageModalStyle()">
                                <img th:src="@{/img/icon_language.png}" alt="icon_language">
                            </button>
                            <a sec:authorize="isAuthenticated()" th:href="'/'+${language}+'/mypage/setting'" class="nav-icon-setting">
                                <img th:src="@{/img/icon_setting_active.png}" alt="icon_setting">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="language-choice-modal">
                    <button class="btn-kor" onclick="chooseLanguage('ko')">
                        <img class="icon-confirm" th:src="@{/img/icon_confirm_black.png}" alt="icon_confirm_black" th:style="${language.equals('ko') ? 'display:block;' : ''}">
                        <span>한국어</span>
                    </button>
                    <button class="btn-eng" onclick="chooseLanguage('en')">
                        <img class="icon-confirm" th:src="@{/img/icon_confirm_black.png}" alt="icon_confirm_black" th:style="${language.equals('en') ? 'display:block;' : ''}">
                        <span>English</span>
                    </button>
                    <button class="btn-jap" onclick="chooseLanguage('ja')">
                        <img class="icon-confirm" th:src="@{/img/icon_confirm_black.png}" alt="icon_confirm_black" th:style="${language.equals('ja') ? 'display:block;' : ''}">
                        <span>日本語</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- 연결 해제 모달 -->
<!--<div id="disconnect_modal_container" class="connection_modal_container">-->
<!--    <div class="modal-disconnect modal-content">-->
<!--    </div>-->
<!--</div>-->
<script>
    // pwa install 버튼 동작
    if (/Mac|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
        document.getElementById('btn_app_download').style.display = 'none';
    }else{
        if(document.getElementById('btn_app_download')){
            let deferredPrompt;
            const installApp = document.getElementById('btn_app_download');
            window.addEventListener('beforeinstallprompt', (e) => {
                e.preventDefault();
                deferredPrompt = e;
                if (deferredPrompt !== null) {
                    installApp.style.display = 'block';
                }else{
                    installApp.style.display = 'none';
                }
                return false;
            });

            installApp.addEventListener('click', async () => {
                if (deferredPrompt !== null) {
                    deferredPrompt.prompt();
                    const { outcome } = await deferredPrompt.userChoice;
                    if (outcome === 'accepted') {
                        deferredPrompt = null;
                    }
                }
            });
        }
    }
</script>


