//color
$primary-color : #2841fa;
$primary-variant-color : #4C60FA;
$secondary : #FBCA67;
$grayscale1 : #F5F5F5;
$grayscale2 : #EBEBEB;
$grayscale3 : #E0E0E0;
$grayscale4 : #C2C2C2;
$grayscale5 : #999999;
$grayscale6 : #707070;
$grayscale7 : #424242;
$grayscale8 : #0A0A0A;
$background-dark : #0A0A0A;
$background-light : #ffffff;
$text-black : #000000;
$text-dark : #0A0A0A;
$text-gray : #707070;
$text-grayer : #777777;
$text-light : #f5f5f5;
$text-lightest : #ffffff;
$success-color : #3EBA27;
$error-color : #EA6600;
$inactive-color : #EBEBEB;
//opacity rgba color
$opacity-level1-light : rgba(245, 245, 245, 0.65);
$opacity-level2-light : rgba(255, 255, 255, 0.2);
$opacity-level3-light : rgba(245, 245, 245, 0.15);

//font
$notoSansRegular : notoSansRegular, serif !default;
$notoSansMedium : notoSansMedium, serif !default;
$notoSansBold : notoSansBold, serif !default;
$robotoRegular : RobotoRegular, serif !default;
$robotoMedium : RobotoMedium, serif !default;
$robotoBold : RobotoBold, serif !default;
$bothLight : RobotoLight ,notoSansLight, serif !default;
$bothRegular : RobotoRegular ,notoSansRegular, serif !default;
$bothMedium : RobotoMedium ,notoSansMedium, serif !default;
$bothBold : RobotoBold ,notoSansBold, serif !default;


//font-size
$fontsize-small : 12px !default;
$fontsize-small-regular : 14px !default;
$fontsize-regular : 16px !default;
$fontsize-regular-big : 18px !default;
$fontsize-big : 24px !default;
$fontsize-big-big : 32px !default;
$border-radius-default : 8px !default;
$border-radius-breadcrumbs : 12px !default;
$border-radius-small : 8px !default;

//opacity
$opacity-level1 : 0.65;
$opacity-level2 : 0.2;
$opacity-level3 : 0.15;

//gradiant
$dafault-gradient : linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
$dark-gradient : linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, #0A0A0A 100%);

//font-style(service)
%service-category-font-style {
  font-family: $notoSansBold;
  font-size: $fontsize-small;
  line-height: 17px;
  color : $text-dark;
}
%service-title-font-style {
  font-family: $notoSansMedium;
  font-size: 24px;
  line-height: 35px;
  color : $text-dark;
}
%service-text-font-style {
  font-family: $notoSansRegular;
  font-size: $fontsize-regular;
  line-height: 23px;
  color : $text-dark;
}

//font-style(contents)
%contents-category-font-style {
  font-family: $notoSansMedium;
  font-size: $fontsize-small;
  line-height: 17px;
  color : $text-dark;
  opacity: 0.8;
}
%contents-artworkName-font-style {
  font-family: $bothMedium;
  font-size: 16px;
  line-height: 26px;
  color : $text-dark;
}
%contents-artistName-font-style {
  font-family: $notoSansRegular;
  font-size: $fontsize-small-regular;
  line-height: 20px;
  color : #adadad;
}
%contents-additional-font-style {
  font-family: $notoSansRegular;
  font-size: $fontsize-small;
  line-height: 17px;
  color : $text-dark;
  opacity: $opacity-level1;
}


//텍스트 버튼 스타일
%first-text-button-style{
  font-family: $bothMedium;
  color: #ffffff;
  font-size: 16px;
  text-decoration : underline;
}

%second-text-button-style{
  font-family: $bothMedium;
  color: #ffffff;
  font-size: 14px;
  text-decoration : underline;
}

%third-text-button-style{
  font-family: $bothMedium;
  color: #ffffff;
  font-size: 12px;
  text-decoration : underline;
  opacity : 0.65;
}

%fourth-text-button-style{
  font-family: $bothMedium;
  color: #2841FA;
  font-size: 14px;
  text-decoration : underline;
}

%fifth-text-button-style{
  font-family: $bothMedium;
  color: #ea6600;
  font-size: 16px;
  text-decoration : underline;
}

%sixth-text-button-style{
  font-family: $bothMedium;
  color: #0a0a0a;
  font-size: 14px;
  text-decoration : underline;
}


