@import 'library';

* {
  margin: 0;  padding: 0;
  &::-webkit-scrollbar,&::-webkit-scrollbar-track,&::-webkit-scrollbar-thumb{
    opacity: 0;
    display: none;
  }
  font-weight: normal!important;
}
a {
  -webkit-tap-highlight-color: transparent;
}
:active, :focus {
  //border: none;
  outline: none;
}

input {
  border-radius : unset or 0px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.label-hidden{
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: -1;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

//.scrollHidden{
//  .wrap:nth-of-type(1){
//    position: fixed;
//    z-index: 0;
//    height: 100vh;
//    overflow-y: hidden;
//  }
//}
//.scrollHidden {
//  //height:100%;
//  //min-height:100%;
//  //overflow: hidden!important;
//  //touch-action: none;
//}

button {
  font-size: $fontsize-regular;
  font-weight: normal;
  background-color: #2841fa;
  color: white;
  border: none;
  cursor: pointer;
}

.cta-button {
  width: 163px;
  height: 48px;
  line-height: 48px;
  font-size: $fontsize-regular;
  font-family: $bothMedium;
  border-radius: $border-radius-default;
  a{
    white-space: nowrap;
  }
}
a {
  color: #fff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.carousel-item {
  cursor: pointer;
}

ol, ul {
  list-style: none;
  margin:0;
  padding:0;
}
//main{
//  height:100%;
//  overflow-y: scroll;
//}
//.artwork-list{
//  display: none;
//  &:nth-of-type(-n+5){
//    display: flex;
//  }
//}
.btn-goback{
  width: 28px;
  height: 28px;
  margin: 10px 20px;
  background: transparent;
  @media screen and (min-width: 481px) {
    margin: 10px 0;
  }
  img{
    width: 28px;
    height: 28px;
  }
}
.btn-gohome{
  background: transparent;
  margin: 9px 10px;
  width: 28px;
  height: 28px;
  img{
    width: 28px;
    height: 28px;
  }
}
.btn-cancel {
  position: absolute;
  right: 0px;
  background: transparent;
  margin: 15px 20px;
  @extend %first-text-button-style
}
//Basic Layout
.wrap{
  width: 100vw;
  background-color: $background-dark;
}
section{
  //TODO
  //width: 90vw;
  width: calc(100vw - 40px);
  @media screen and (min-width: 481px) {
    width: 768rem;
    //margin: auto;
  }
  //margin: 0;
  margin: auto;
}

//wrap background color
.wrap.semi-light{
  background: $grayscale1;
}
.wrap.light{
  background: $background-light;
}


//Carousel Css
.carousel-wrap{
  width:100vw;
}
.carousel-item{
  display: block;
  position: relative;
  width: 328px;
  max-height: 520px;
  box-sizing: border-box;
  border-radius: $border-radius-default;
  //overflow: auto;
  .btn-add-coming-soon-collection,.home-exh-carousel-img-wrap {
    display: block;
    position: relative;
    width: 328px;
    max-height: 494px;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    overflow: hidden;
  }
  .carousel-img-wrap{
    height: inherit;
    img{
      //width: auto;
      height: inherit;
      object-fit: cover;
      //margin-left: 50%;
      //transform: translateX(-50%);
    }
  }
}
.carousel-text-wrap{
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: inherit;
  padding: 16px;
  box-sizing: border-box;
  z-index: 2;
}
.carousel-exh-type,
.carousel-artist-type{
  @extend %contents-category-font-style;
  color: $text-light;
}
.carousel-exh-title,
.carousel-artwork-title,
.carousel-artist-name{
  max-width: 296px;
  @extend %contents-artworkName-font-style;
  color: $text-light;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carousel-exh-artist,
.carousel-artwork-artist{
  margin-bottom: 14px;
  @extend %contents-artistName-font-style;
  max-width: 296px;
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carousel-exh-info{
  @extend %contents-additional-font-style;
  color: $text-light;
}
.carousel-artist-content,
.carousel-exh-content{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: $fontsize-small-regular;
  line-height: 20px;
  color: $opacity-level1-light;
  font-family: $bothRegular;
}
.carousel-exh-number{
  width: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: $opacity-level2-light;
  color: rgba(255, 255, 255, 0.8);
  border-radius: $border-radius-breadcrumbs;
  font-size: 10px;
  font-family: $bothBold;
}
.carousel-exh-info-wrap{
  li{
    float: left;
  }
  .carousel-exh-number{
    float: right;
  }
}
//모달
.modal-box{
  display: block;
  position: fixed;
  z-index: 1000;
  width: 328px;
  height: 48px;
  padding: 0 12px 0 12px;
  left: 50%;
  top: -60px;
  box-sizing: border-box;
  transform: translateX(-50%);
  background: $grayscale1;
  box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius-breadcrumbs;
  line-height: 48px;
  font-family: $bothMedium;
  font-size: $fontsize-small;
  color: $text-dark;
  transition: all 0.25s ease-in-out 0s;
}
.modal-box.active {
  top: 20px;
}
.modal-box.orange {
  background-color: #FFF4F3;
}
.modal-box.green {
  color: $success-color;
}
.modal-error {
  color: $error-color;
  background-color: #FFF4F3;
}

.modal-gradation-box{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}

.modal-container{
  top: 0;
  &.going-up{
    animation: going-up 0.5s ease-in-out;
  }
  &.going-down{
    animation: going-down 0.5s ease-in-out;
  }
}

.modal-content{
  top: 0;
  &.going-up{
    animation: going-up 0.5s ease-in-out;
  }
  &.going-down{
    animation: going-down 0.5s ease-in-out;
  }
}

#toast_popup {
  .modal-box {
    z-index: 2000;
  }
}

.icon-more  {
  width: 16px!important;
  height: 16px!important;
  align-self: center!important;
  img {
    width: inherit;
    height: inherit;
  }
}

@keyframes going-up{
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
@keyframes going-down{
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
//loading spinner
.loading{
  position: relative;
  left: 50%;
  width: 32px;
  height: 32px;
  padding-bottom: 80px;
  img{
    width: 32px;
    height: 32px;
    animation: spin 2s ease-in-out infinite;
    animation-delay: .5s;
  }
}
@keyframes spin{
  from{
    transform: translateX(-50%) rotate(0deg);
  }
  to{
    transform: translateX(-50%) rotate(360deg);
  }
}


body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

//작품 상세
.artwork-detail-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1010;
  overflow: scroll;
  section{
    padding-bottom: 80px;
  }
  h1{
    height: 27px;
    margin: 24px 0 12px 0;
    font-family: $bothBold;
    font-size: $fontsize-regular-big;
    line-height: 26px;
    color: $text-lightest;
  }
  .btn-goback{
    margin: 10px 0px;
  }
  .thumbnail-img-wrap{
    position: relative;
    width: 297px;
    height: 184px;
    overflow: hidden;
    border-radius: 4px;
    margin: auto;
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      height: inherit;
      transform: translate(-50%,-50%);
    }
  }
  .info-box{
    width: 328px;
    height: auto;
    margin-top: 12px;
    padding: 16px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.08);
    border-radius: $border-radius-breadcrumbs;
    li{
      margin-bottom: 8px;
      &:last-of-type{
        margin-bottom: 0;
      }
      span{
        display: block;
        &:nth-of-type(1){
          height: 21px;
          font-family: $bothRegular;
          font-size: $fontsize-small-regular;
          line-height: 20px;
          color: $opacity-level1-light;
        }
        &:nth-of-type(2){
          height: auto;
          font-family: $bothMedium;
          font-size: $fontsize-regular;
          line-height: 19px;
          color: $text-light;
        }
      }
    }
  }
}
//공유하기
.share-option-box{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 0%, #0A0A0A 30.21%);
  .share-options{
    position: absolute;
    bottom: 176px;
    left: 50%;
    transform: translateX(-50%);
    .share-option-title{
      font-family: $bothBold;
      font-size: 19px;
      line-height: 28px;
      color: $text-lightest;
      text-align: center;
    }
    button{
      background: transparent;
      width: 100%;
      height: 52px;
      text-align: center;
      img{
        width: 28px;
        height: 28px;
        transform: translatey(8px);
      }
      span{
        font-family: $bothRegular;
        font-size: $fontsize-regular;
        line-height: 23px;
        color: $text-light;
      }
    }
  }
  .btn-share-close{
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    background: transparent;
    img{
      width: inherit;
    }
  }
}

.icon-show-option {
  span {
    display: none;
  }
}

//로그인이 필요합니다 모달
.modal-login-required {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1002;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grayscale1;
    width: 280px;
    height: auto;
    border-radius: 16px;
    padding: 16px;
  }
  .modal-title {
    font-family: $notoSansMedium;
    font-size: $border-radius-default;
      .modal-title-top{
        display: block;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 900 !important;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #0A0A0A;
      }
      .modal-title-bottom{
        display: block;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #0A0A0A;
        padding-top: 4px;
      }
  }
  .modal-guide {
    font-family: $notoSansRegular;
    font-size: $fontsize-small-regular;
    color: $text-gray;
  }
  .btn {
    //width: 248px;
    width: inherit;
    height: 45px;
    border-radius: $border-radius-breadcrumbs;
    font-size: $fontsize-regular;
    margin: 16px 0;
    background-color: $primary-color;
    color: $text-lightest;
  }
  .btn-modal-cancel {
    width: 248px;
    background-color: transparent;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    margin: 0;
  }
  .btn-cancel {
    position: initial;
    width: inherit;
    background-color: transparent;
    line-height: 24px;
    margin: 0;
    @extend %sixth-text-button-style
  }
}


html {
  font-size: calc(1vw /3.6);
  overflow-x: hidden;
}

//FIXME
@media screen and (min-width: 1320px){
  html {
    font-size: 1.03px;
    overflow-x: hidden;
  }
  body {
    &::-webkit-scrollbar,&::-webkit-scrollbar-track,&::-webkit-scrollbar-thumb{
      opacity: 0;
      display: none;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 1319px) {
  html {
    font-size: calc(1vw /12.8);
    overflow-x: hidden;
  }
  body {
    &::-webkit-scrollbar,&::-webkit-scrollbar-track,&::-webkit-scrollbar-thumb{
      opacity: 0;
      display: none;
    }
  }
}


.iframe {
  opacity:0;
  width: 328px;
  border: none;
  margin-left:50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  touch-action: none;
  @media screen and (min-width: 481px) {
    width: 768rem;
    overflow-x: hidden;
  }
}


//collection addition modal
.collection-addition-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1001;
  overflow: scroll;
  background-color:$background-dark;
  .fixed-part{
    position: fixed;
    top: 0;
    left: 50%;
    width: calc(100% - 32rem);
    @media screen and (min-width: 481px) {
      width: 768rem;
    }
    height: 189px;
    transform: translateX(-50%);
    .btn-close{
      position: absolute;
      top: 18px;
      right: 0;
      font-family: $bothRegular;
      font-size: $fontsize-small-regular;
      line-height: 20px;
      text-decoration-line: underline;
      color: $text-light;
      background: transparent;
    }
    h1{
      position: absolute;
      top: 72px;
      left: 0;
      font-family: $bothBold;
      font-size: $fontsize-big;
      line-height: 35px;
      color: $text-light;
    }
    .main-title{
      position: absolute;
      top: 132px;
      left: 0;
      ul{
        display: flex;
        width: 100%;
        height: 45px;
        li{
          height: inherit;
          &:nth-of-type(1){
            width: 80px;
            img{
              width: inherit;
              border-radius: 4px;
            }
          }
          &:nth-of-type(2){
            width: 200px;
            margin-left: 12px;
            .artwork-title{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              height: 24px;
              font-family: $bothRegular;
              font-size: $fontsize-regular;
              line-height: 19px;
              color: $text-light;
            }
            .artwork-artist{
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              height: 21px;
              font-family: $bothRegular;
              font-size: $fontsize-small-regular;
              line-height: 20px;
              color: $text-light;
              opacity: 0.65;
            }
          }

        }
      }
    }
  }
  .relative-part{
    position: relative;
    top: 189px;
    height: calc(100vh - 300px);
    overflow: scroll;
    .subtitle{
      height: 21px;
      margin-bottom: 12px;
      font-family: $bothRegular;
      font-size: $fontsize-small-regular;
      line-height: 20px;
      color: $opacity-level1-light;
    }
    .collection-list{
      display: flex;
      width: 100%;
      flex-direction: column;
      li{
        width: 100%;
        height: 52px;
        margin-bottom: 12px;
        &.user-own-collection{
          margin-bottom: 24px;
        }
        button{
          position: relative;
          display: flex;
          width: inherit;
          height: inherit;
          background: rgba(255, 255, 255, 0.08);
          border-radius: 12px;
          justify-content: space-between;
          .collection-name{
            width: 264px;
            text-align: left;
            line-height: 52px;
            padding-left: 16px;
            box-sizing: border-box;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          img{
            position: absolute;
            width: 28px;
            height: 28px;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .add-collection-modal-gradient {
    background: $dark-gradient;
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 88px;
  }
  .btn-add-artworks{
    position: fixed;
    bottom: 40px;
    width: calc(100% - 32px);
    height: 48px;
    border-radius: 12px;
    @media screen and (min-width: 481px) {
      width: 768rem;
    }
    span{
      height: 24px;
      font-family: $bothMedium;
      font-size: $fontsize-regular;
      line-height: 48px;
      color: $text-lightest;
    }
    &.disable{
      background-color:#424242;
    }
  }
}


//TV연결 하기
.tv-connection-notice{
  .controllers{
    @media screen and (min-width: 481px) {
      width: 232px;
    }
    position: absolute;
    width: 246px;
    height: 56px;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    left: 50%;
    li{
      height: inherit;
      button{
        height: inherit;
        background-color: transparent;
        img{
          height: inherit;
        }
      }
    }
  }
}

//TV연결해제모달
.modal-disconnect {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  z-index: 4;

  .modal-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grayscale1;
    width: 248px;
    height: auto;
    border-radius: 16px;
    padding: 16px;

    div {
      background: #ebebeb;
      margin-top: 8px;
      height: 42px;
      text-align: center;
      padding: 12px;
      border-radius: 8px;
    }
  }
  .modal-title{
    font-family: $notoSansMedium;
    font-size: 16px;
  }
  .modal-guide {
    font-family: $notoSansRegular;
    font-size: $fontsize-small;
    color: $text-gray;
    line-height: 17px;
  }
  .tv-model {
    font-family: $notoSansRegular;
    font-size: $fontsize-regular;
    color: $text-dark;
    line-height: 19px;
  }
  i {
    display: block;
    text-align: center;
    margin-top: 16px;

    img {
      width: 56px;
      height: 56px;
    }
  }
  .btn{
    width: 248px;
    height: 45px;
    border-radius: $border-radius-breadcrumbs;
    font-size: $fontsize-small-regular;
    margin: 16px 0;
    background-color: $primary-color;
    color: $text-lightest;
  }
  .btn-cancel{
    position: initial;
    width: 248px;
    background-color: transparent;
    margin: 0;
    @extend %sixth-text-button-style
  }
}

// WEGLOT
.weglot-container.wg-default {
  display: none;
}
.skiptranslate {display:none!important; }


.btn-make-new-collection{
  position: fixed;
  bottom: -22px;
  display: flex;
  width: inherit;
  height: 21px;
  margin: 24px 0 144px 0;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4C60FA;
  background: transparent;
  span{
    margin: auto;
  }
}

.tv-link-button{
  margin-bottom: 24px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 163px;
  padding: 0 24px;
  height: 48px;
  box-sizing: border-box;
  white-space: nowrap;
  line-height: 48px;
  font-size: 16px;
  font-family: $bothMedium;
  border-radius: 16px;
  background-color: #2841fa;
  color: white;
  border: none;
  cursor: pointer;
}

//.korean-name,
.english-name,
.bracket-english-name,
.etc-number-of-artists{
  //display: none;
}
//리스트 더보기 버튼
#anchor_see_more_item{
  font-family: $bothMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: $text-lightest!important;
  margin-left: 50%;
  transform: translateX(-50%);
  display: none;
  margin-top: 32px;
  background-color: transparent;
}

.fade-in-section{
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  //padding-top: 0;
}
.catch-phrase{
  opacity:0;
  transition: opacity 0.3s ease-in-out;
  padding-top: 88px;
}