<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex,nofollow">
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <!--      <meta property="og:type" th:content="article">-->
    <meta name="twitter:card" th:content="summary">
    <meta name="twitter:site" th:attr='content=#{ogSiteName}'>
    <meta name="twitter:image" th:attr='content=${ogImg}'>
    <meta name="twitter:description" th:attr='content=#{ogText}'>
    <meta property="og:title" th:attr='content=#{ogTitle}'>
    <meta property="og:site_name"  th:attr='content=#{ogSiteName}'>
    <meta id="ogUrl" property="og:url" th:attr='content=${ogUrl}'>
    <meta id="ogImg" property="og:image"  th:attr='content=${ogImg}'>
    <meta id="ogText" property="og:description" th:attr='content=#{ogText}' >
    <title id="html_title">ART MAGAZINE</title>
    <link rel="stylesheet" th:href="@{/css_v1_3/artmagazine/artmagazine-detail.css}">
</head>

<body>

<div th:replace="common/header-depth.html"></div>

<main>
    <div class="wrap magazine-info-container">

        <!--section 1-->
        <div id="btn_play_artist_video" class="player-wrap">
            <div class="player-box">
                <div class="article-gradation"></div>
                <img th:src="${artMagazine.getThumbnail()}" alt="April">
            </div>
        </div>

        <section class="exh-info-section">
            <span class="breadcrumb" th:text="${artMagazine.getType()}">아트픽</span>
            <p class="exh-title" th:text="${artMagazine.getTitle()}">Exhibition Title</p>
            <p class="exh-createTime art-magazine-time" th:text="${#temporals.format(artMagazine.getCreateTime(), 'yyyy.MM.dd')}">Exhibition Title</p>
        </section>
    </div>
    <div class="wrap light">
        <!--section 2-->
        <div id="child_url" style="display: none!important;" th:text="${artMagazine.getUrl()}"></div>
        <iframe id="child" class="iframe" src></iframe>
        <button type="button" id="btn_share_exh" class="btn-share-exh" onclick="showModal('#share_option_box');putThisPageUrlToDataAttr();">
            <img th:src="@{/img/icon_share_large.png}" alt="icon_share">
            <span>취향을 공유할래요</span>
        </button>
    </div>
    <div class="wrap" th:if="${artMagazine.getExhibition() != null}">
        <!--section 3-->
        <section class="art-magazine-exh-section">
            <h2 class="art-magazine-section-title">함께 볼만한 전시</h2>
            <div class="art-magazine-carousel owl-carousel carousel-wrap">
                <div class="carousel-item">
                    <a th:href="@{'/player?exh_id='+${artMagazine.getExhibition().getId()}}">
                        <img class="icon-exhibition" th:src="@{/img/icon_exhibition.png}" alt="icon_exhibition">
                        <div class="art-magazine-carousel-img-wrap carousel-img-wrap">
                            <img th:src="${artMagazine.getExhibition().getArtworkExhibitions()[0].getArtwork().getContentsThumbnail().getDefaultImg()}" alt="Cloud_Study_With_Blue_Sky">
                        </div>
                        <div class="carousel-text-wrap">
                            <p class="carousel-text carousel-exh-type">전시</p>
                            <p class="carousel-text carousel-exh-title" th:text="${artMagazine.getExhibition().getExhibitionName()}">Exhibition Title</p>
                            <p class="carousel-text carousel-exh-artist etc-number-of-artists" th:text="${artMagazine.getExhibition().getArtworkExhibitions()[0].getArtwork().getArtist().getKorName() + ((artMagazine.getExhibition().getArtistExhibitions().size()-1) > 0 ? (' 외 ' + (artMagazine.getExhibition().getArtistExhibitions().size()-1) + '명') : '')}">Exhibition Artist</p>
                            <p class="carousel-text carousel-artist-content" th:text="${artMagazine.getExhibition().getIntro()}">그림이 풍경같다. 풍경이 그림같다. 이 두 문장은 긍정적인 의미에서 서로 호환됩니다. 잠시...</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!--공유 옵션 선택 창-->
    <div id="share_option_box" class="share-option-box">
        <div class="modal-gradation-box" onclick="closeModal('#share_option_box')"></div>
        <ul id="share_options" class="share-options">
            <li class="share-option-title" th:text="#{share}">
                공유
            </li>
            <li>
                <button type="button" id="btn_share_kakaotalk" onclick="closeModal('#share_option_box'); shareKakaoTalk();">
                    <span>카카오톡</span>
                </button>
            </li>
            <li>
                <button type="button" id="btn_share_facebook" onclick="closeModal('#share_option_box'); shareFacebook();">
                    <span>페이스북</span>
                </button>
            </li>
            <li>
                <button type="button" id="btn_share_twitter" onclick="closeModal('#share_option_box'); shareTwitter();">
                    <span>트위터</span>
                </button>
            </li>
            <li>
                <button type="button" id="btn_copy_link" onclick=" copyHref(); closeModal('#share_option_box');">
                    <span>링크 복사</span>
                </button>
            </li>
        </ul>
        <button type="button" id="btn_share_close" class="btn-share-close" onclick="closeModal('#share_option_box')">
            <img th:src="@{/img/icon_close_popup.png}" alt="icon_close_popup">
        </button>
    </div>
</main>

<!-- script 위치 시작 -->
<script th:src="@{/js/common/jquery.min.js}"></script>
<script th:src="@{/js/common/jsCookie.js}"></script>
<script th:src="@{/js/common/owl.carousel.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js/common/header.js}"></script>
<script th:src="@{https://developers.kakao.com/sdk/js/kakao.js}"></script>
<script>
    //kakao init 실행 (페이지에서 한번만 실행돼야하니 함수에 넣지 말아주세요!)
    Kakao.init('da1fee3add758b28330cf06dd2f04b15');
</script>
<script th:src="@{/js/common/common.js}"></script>
<script type="text/javascript" th:src="@{/js/artmagazine/artmagazine-detail.js}"></script>
<!-- script 위치 종료 -->
</body>

</html>
