<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="robots" content="noindex,nofollow">
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">ART MAGAZINE</title>
  <link rel="stylesheet" th:href="@{/css_v1_3/artmagazine/artmagazine.css}">
</head>

<body>

<div th:replace="common/header-depth.html"></div>

<main>
  <div class="wrap art-magazine-title-wrap">
    <!--section 1-->
    <section class="art-magazine-main-section">
      <div class="art-magazine-main-section-title">
        <h1>아트 매거진</h1>
      </div>
<!--       Tab links -->
      <div class="art-magazine-tab-container" id="art_magazine_tab">
        <div class="art-magazine-tab" >
          <button class="tablinks" onclick="showMagazineItem('#article_all'); showUnderBar(this);  moveLeft('art_magazine_tab', -500)">
            <span class="tablink-title">모두</span>
            <span class="focus-bar first-focus-bar" th:name="focus-bar"></span>
          </button>
<!--          th:onclick="'controlFavoriteArtist('+${artist.getId()}+')'"-->
          <button class="tablinks" th:if="${artMagazineTypes}" th:each="artMagazineType : ${artMagazineTypes}" th:attr="onclick=|getArtmagazine('${artMagazineType}','article_trend'); showMagazineItem('#article_trend'); showUnderBar(this);  moveLeft('art_magazine_tab', -500)|">
            <span class="tablink-title" th:text="${artMagazineType}">아카이빙</span>
            <span class="focus-bar" th:name="focus-bar"></span>
          </button>
        </div>
      </div>
    </section>
  </div>


  <article>
    <div class="wrap article-all magazine-content" id="article_all">
      <!--section 2-->
      <section class="art-magazine-recommendation-section" th:if="${recommended != null && recommended.size() != 0}">
        <div class="art-magazine-recommendation-title">
          <h2>추천</h2>
        </div>
        <div class="art-magazine-carousel owl-carousel carousel-wrap">
          <a th:each="recommend : ${recommended}" th:href="@{'/art-magazine-detail?artMagazineId=' + ${recommend.getId()}}" class="carousel-item"  >
            <div class="carousel-text carousel-magazine-number">
              <span class="carousel-magazine-number-now" th:text="${recommendStat.index + 1}">1/</span>/<span class="carousel-magazine-number-total" th:text="${recommended.size()}">3</span>
            </div>
            <div class="art-magazine-carousel-img-wrap carousel-img-wrap">
              <img th:src="${recommend.getThumbnail()}" alt="Cloud_Study_With_Blue_Sky">
            </div>
            <div class="carousel-text-wrap">
              <p class="carousel-text carousel-exh-type">추천 매거진</p>
              <p class="carousel-text carousel-exh-title" th:text="${recommend.getTitle()}">Exhibition Title</p>
              <p class="carousel-text carousel-exh-content" th:text="${recommend.getIntro()}">"어떤 작가 좋아해요?" 라고 물어보면 근래엔 에곤 실레의 이름을 심심치 않게 들어볼 수...</p>
            </div>
          </a>
        </div>
      </section>
      <section class="art-magazine-section" th:if="${artMagazines != null && artMagazines.size() != 0}">
        <div class="art-magazine-title">
          <h2>모든 매거진</h2>
        </div>
        <ul class="art-magazine-container">
          <li th:each="artMagazine : ${artMagazines}">
            <a th:href="@{'/art-magazine-detail?artMagazineId=' + ${artMagazine.getId()}}">
              <ul class="art-magazine-item">
                <li>
                  <p class="art-magazine-category" th:text="${artMagazine.getType()}">아트픽</p>
                  <p class="art-magazine-title" th:text="${artMagazine.getTitle()}">브뤼겔의 시간 정지</p>
                  <p class="art-magazine-time"><span th:text="${#temporals.format(artMagazine.getCreateTime(), 'yyyy.MM.dd')}">2022.02.23</span></p>
                </li>
                <li>
                  <img th:src="${artMagazine.getThumbnail()}" alt="Cloud_Study_With_Blue_Sky">
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </section>
    </div>

    <div class="wrap article-trend magazine-content" id="article_trend">
      <section class="art-magazine-section">
        <ul class="art-magazine-container">
        </ul>
      </section>
    </div>
    <div class="wrap article-trend magazine-content" id="article_recruit">
      <section class="art-magazine-section">
        <ul class="art-magazine-container">
        </ul>
      </section>
    </div>
    <div class="wrap article-art-pick magazine-content" id="article_art_pick">
      <section class="art-magazine-section">
        <ul class="art-magazine-container">
          <li th:each="artMagazine : ${artMagazines}">
            <a href="#">
              <ul class="art-magazine-item">
                <li>
                  <p class="art-magazine-category" th:text="${artMagazine.getType()}">아트픽</p>
                  <p class="art-magazine-title" th:text="${artMagazine.getTitle()}">브뤼겔의 시간 정지</p>
                  <p class="art-magazine-time"><span th:text="${#temporals.format(artMagazine.getCreateTime(), 'yyyy.MM.dd')}">2022.02.23</span></p>
                </li>
                <li>
                  <img th:src="${artMagazine.getThumbnail()}" alt="Cloud_Study_With_Blue_Sky">
                  <!--                  <img th:src="@{https://nodamen.akamaized.net/Albert_Bierstadt/Cloud_Study_With_Blue_Sky/HD.jpg}" alt="Cloud_Study_With_Blue_Sky">-->
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="wrap article-art-world magazine-content" id="article_art_world">
      <section class="art-magazine-section">
        <ul class="art-magazine-container">
          <li th:each="artMagazine : ${artMagazines}">
            <a href="#">
              <ul class="art-magazine-item">
                <li>
                  <p class="art-magazine-category" th:text="${artMagazine.getType()}">아트픽</p>
                  <p class="art-magazine-title" th:text="${artMagazine.getTitle()}">브뤼겔의 시간 정지</p>
                  <p class="art-magazine-time"><span th:text="${#temporals.format(artMagazine.getCreateTime(), 'yyyy.MM.dd')}">2022.02.23</span></p>
                </li>
                <li>
                  <img th:src="${artMagazine.getThumbnail()}" alt="Cloud_Study_With_Blue_Sky">
                  <!--                  <img th:src="@{https://nodamen.akamaized.net/Albert_Bierstadt/Cloud_Study_With_Blue_Sky/HD.jpg}" alt="Cloud_Study_With_Blue_Sky">-->
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="wrap article-art-broadcast magazine-content" id="article_art_broadcast">
      <section class="art-magazine-section">
        <ul class="art-magazine-container">
          <li th:each="artMagazine : ${artMagazines}">
            <a href="#">
              <ul class="art-magazine-item">
                <li>
                  <p class="art-magazine-category" th:text="${artMagazine.getType()}">아트픽</p>
                  <p class="art-magazine-title" th:text="${artMagazine.getTitle()}">브뤼겔의 시간 정지</p>
                  <p class="art-magazine-time"><span th:text="${#temporals.format(artMagazine.getCreateTime(), 'yyyy.MM.dd')}">2022.02.23</span></p>
                </li>
                <li>
                  <img th:src="${artMagazine.getThumbnail()}" alt="Cloud_Study_With_Blue_Sky">
                  <!--                  <img th:src="@{https://nodamen.akamaized.net/Albert_Bierstadt/Cloud_Study_With_Blue_Sky/HD.jpg}" alt="Cloud_Study_With_Blue_Sky">-->
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="wrap article-interview magazine-content" id="article_art_recommend">
      <section class="art-magazine-section">
        <ul class="art-magazine-container">
          <li th:each="artMagazine : ${artMagazines}">
            <a href="#">
              <ul class="art-magazine-item">
                <li>
                  <p class="art-magazine-category" th:text="${artMagazine.getType()}">추천매거진 선정</p>
                  <p class="art-magazine-title" th:text="${artMagazine.getTitle()}">브뤼겔의 시간 정지</p>
                  <p class="art-magazine-time"><span th:text="${#temporals.format(artMagazine.getCreateTime(), 'yyyy.MM.dd')}">2022.02.23</span></p>
                </li>
                <li>
                  <img th:src="${artMagazine.getThumbnail()}" alt="Cloud_Study_With_Blue_Sky">
                  <!--                  <img th:src="@{https://nodamen.akamaized.net/Albert_Bierstadt/Cloud_Study_With_Blue_Sky/HD.jpg}" alt="Cloud_Study_With_Blue_Sky">-->
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </article>

</main>

<!-- script 위치 시작 -->
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<script th:src="@{/js_v1_3/common/owl.carousel.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script type="text/javascript" th:src="@{/js_v1_3/artmagazine/artmagazine.js}"></script>
<!-- script 위치 종료 -->
</body>

</html>
