<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <title id="html_title">PATRON | Search</title>
    <meta name="Description" CONTENT="Search Art or Artist you want">
    <link rel="stylesheet" th:href="@{/css_v1_3/search/search.css}">
</head>

<body>

<div th:replace="common/header.html"></div>

<main>
    <div class="wrap search-main-wrap">
        <!--section 1-->
        <section class="search-main-section">
            <div class="search-main-section-title">
                <h1 th:text="#{search.search}">검색</h1>
            </div>
            <button type="button" class="btn-open-search" onclick="showModal('.search-wrap'); searchKeywordNone(); goFocus('#input_search');">
                <img class="icon-search" th:src="@{/img/icon_search.png}" alt="icon_search">
                <span th:text="#{search.whatAreYouLookingFor}">어떤 예술을 찾으시나요</span>
            </button>
            <p class="search-category-title" th:text="#{search.recommendedSearch}">추천 검색어</p>
            <ul class="search-categories">
                <li th:if="${fixedTags != null}" th:each="fixedTag : ${fixedTags}">
                    <a th:href="'/'+${language}+'/search-result?keyword='+${fixedTag.getArtworkTag().getTagName()}" th:text="${fixedTag.getArtworkTag().getTagName()}">하늘</a>
                </li>
                <li th:if="${randomizeTags != null}" th:each="ranodmizeTag : ${randomizeTags}">
                    <a th:href="'/'+${language}+'/search-result?keyword='+${ranodmizeTag.getArtworkTag().getTagName()}" th:text="${ranodmizeTag.getArtworkTag().getTagName()}">하늘</a>
                </li>
            </ul>
        </section>
    </div>
    <div class="wrap search-wrap">
        <!--section 2-->
        <section class="search-section">
            <div class="search-box-container">
                <div class="search-box">
                    <div class="search-area">
                        <input type="text" class="input-search" id="input_search" th:placeholder="#{search.whatAreYouLookingFor}" onkeyup="toggleModal(this)" spellcheck="false">
                        <label for="input_search" class="search-label" th:text="#{search.whatAreYouLookingFor}">어떤 예술을 찾으시나요</label>
                        <button class="text-eraser" id="text_eraser" onclick="eraseTxt('#input_search'); goFocus('#input_search');">
                            <img th:src="@{/img/icon_erase.png}" alt="icon_erase">
                        </button>
                        <a class="btn-cancel" id="btn_cancel" th:href="'/'+${language}+'/search'" th:text="#{cancel}">취소</a>
                    </div>
                </div>
            </div>
            <div class="recent-search-list-container">
                <div class="recent-search-list-top">
                    <p class="recent-search-list-title" th:text="#{search.recentHistory}">최근 검색</p>
                    <button type="button" class="btn-delete-all" id="btn_delete_all" onclick="deleteAllSearchKeyword()" th:text="#{searchHistory.clear}">지우기</button>
                </div>
                <ul class="recent-search-list">
                    <li th:each="keyword,index : ${keywords}">
                        <div class="searched-keyword-box">
                            <button th:onclick="|location.href='@{search-result(keyword=${keyword})}'|" class="recent-search">
                                <img class="icon-search" th:src="@{/img/icon_search.png}" alt="icon_search">
                                <span class="searched-keyword" th:text="${keyword}"></span>
                            </button>
                            <input type="hidden" th:value="${keyword}" th:name="single-keyword">
                        </div>
                        <button type="button" class="btn-delete" onclick="deleteSingleSearchKeyword(this)">
                            <img class="icon-search" th:src="@{/img/icon_delete.png}" alt="icon_search">
                        </button>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

<!-- script 위치 시작 -->
<script th:inline="javascript">
    const language = [[${language}]];
    var needToLogin = [[#{needToLogin}]];
    var signup = [[#{signup}]];
    var joinPatron = [[#{joinPatron}]];
    var login = [[#{login}]];
    var cancel = [[#{cancel}]];
    var inputSearchKeyword = [[#{search.inputSearchKeyword}]];
    var symbolCantBeSearched = [[#{search.symbolCantBeSearched}]];
</script>
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<script th:src="@{/js_v1_3/common/owl.carousel.js}"></script>
<!--<script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/search/search.js}"></script>

<script>
    $(window).on('scroll',function (e){
        if(e.target.tagName !== 'INPUT'){
            document.querySelectorAll('input').forEach(x=>x.blur());
        }
    });
</script>
<!-- script 위치 종료 -->
</body>

</html>
