@import '../common/library';
#preload-black-page{
  width: 10000px;
  height: 10000px;
  background-color: #0a0a0a;
  position: absolute;
  z-index: 1;
  position: fixed;
}
//common
.exh-artwork {
  margin-right: 6px;
  color: $opacity-level1-light;
  span{text-decoration: underline;}
}
.wrap{
  padding-bottom: 40px;
}
.carousel-item{
  a{
    display: block;
    width: inherit;
  }
}

// section 1
// tag
.art-stream-main-section {
  padding-top: 88px;
  background: $grayscale8;
  transform: translateY(1px);
  //carousel
  .owl-carousel{
    .owl-stage-outer{
      overflow: inherit;
    }
  }
  .art-stream-carousel{
    .carousel-item{
      height: 410px;
      .carousel-text-wrap{
        bottom: 16px;
      }
    }
    .icon-exhibition{
      width: 28px;
      height: 28px;
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 1;
    }
  }
}
// font
.art-stream-main-section-title{
  margin-bottom: 12px;
  h1 {
    font-family: $bothBold;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    color: $text-lightest;
  }
  p {
    margin-top: 16px;
    font-family: $bothRegular;
    font-style: normal;
    font-weight: 400;
    font-size: $fontsize-regular;
    line-height: 23px;
    text-align: center;
    color: $grayscale3
  }

}
.more-contents-anchor {
  font-family: $bothMedium;
  font-style: normal;
  font-weight: 500;
  font-size: $fontsize-small-regular;
  line-height: 20px;
  text-decoration-line: underline;
  color: $primary-variant-color!important;
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 32px;
  background: transparent;
  cursor: pointer;
  img {
    width: 16px !important;
    height: 16px !important;
    display: inline !important;
    transform: translateY(2px);
    text-decoration: none;
  }
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #4C60FA !important;
  }
}

// section 2
.art-stream-contents-section {
  background: $grayscale8;
}
.art-stream-section-title {
  font-family: $bothBold;
  font-style: normal;
  font-size: $fontsize-regular-big;
  line-height: 26.06px;
  color: $text-lightest;
  margin-bottom: 8px;
}
// section 2, 3, 4, 5, 8, 9, 10 carousel
.art-stream-contents-section{
  .carousel-item{
    width: 200px;
    height: 248px;
    overflow: inherit;
    .carousel-img-wrap{
      height: 184.5px;
      border-radius: $border-radius-default;
      overflow: hidden;
    }
    .carousel-artwork-title{
      font-family: $bothRegular;
      font-size: $fontsize-regular;
      height: 24px;
      line-height: 24px;
    }
    .carousel-artwork-artist{
      color: rgba(255, 255, 255, 0.65);
    }
    .carousel-text-wrap{
      left: 0;
      bottom: -12px;
      padding: 0;
    }
  }
}
.art-stream-carousel{
  .carousel-item{
    height: 389px;
    background: rgba(255, 255, 255, 0.08);
    .carousel-text-wrap{
      height: 143px;
      text-align: left;
    }
    .art-stream-carousel-img-wrap{
      position: absolute;
      top: 0;
      height: 246px;
      width: 328px;
      img {
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
    .carousel-artist-name{
      white-space: nowrap;
      width: 296px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-family: $bothRegular;
      font-size: $fontsize-regular-big;
      color: $text-light;
    }
    .carousel-artwork-artist{
      margin-bottom: 24px;
      color: $opacity-level1-light
    }
    .carousel-artist-number{
      position: absolute;
      top: 214px;
      right: 12px;
      width: 37px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      color: rgba(255, 255, 255, 0.8);
      border-radius: $border-radius-breadcrumbs;
      font-family: $bothRegular;
      font-size: 10px;
      z-index: 1;
    }
  }
}

//section 4, 5
.art-stream-exh-section{
  .art-stream-section-title{
    margin-bottom: 0;
  }
  .exh-info-wrap{
    display: block;
    width: auto;
    height: 18px;
    margin-bottom: 8px;
    line-height: 18px;
    color: $opacity-level1-light;
    font-size: $fontsize-small;
    //font-family: $notoSansRegular;
    font-family: $bothRegular;
  }
  .carousel-artist-type{
    height: 18px;
  }
  .carousel-exh-title{
    width: auto;
    height: 24px;
    font-family: $bothRegular;
    font-size: $fontsize-regular;
    line-height: 24px;
  }
  .carousel-exh-artist{
    color: $text-light;
  }
}
// section 6
.art-stream-waiting-exh-section{
  .carousel-item{
    height: 494px;
    .carousel-text-wrap{
      padding: 16px 16px 0 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .art-stream-carousel-img-wrap{
      height: inherit;
    }
  }
  .owl-carousel{
    .owl-stage-outer{
      overflow: inherit;
    }
  }
  .carousel-exh-title{
    width: auto;
    height: 24px;
    font-family: $bothRegular;
    font-size: $fontsize-regular-big;
    line-height: 24px;
  }
  .carousel-exh-artist{
    color: $text-light;
  }
  .more-contents-anchor{
    margin: 0;
    transform: translate(0);
    @extend %fourth-text-button-style;
  }
  .art-stream-carousel{
    .carousel-item{
      .btn-add-coming-soon-collection{
        width: inherit;
        height: inherit;
        background: transparent;
      }
      .carousel-d-day{
        z-index: 1;
        position: absolute;
        text-align: center;
        top: 17px;
        left: 12px;
        width: auto;
        padding: 0 8px;
        height: 26px;
        color: rgba(255, 255, 255, 0.8);
        border-radius: $border-radius-breadcrumbs;
        background: rgba(0, 0, 0, 0.65);
        font-family: $bothBold;
        font-size: $fontsize-small;
        line-height: 26px;
      }
      .icon-exhibition{
        width: 28px;
        height: 28px;
        position: absolute;
        top: 17px;
        right: 12px;
        z-index: 1;
      }
    }
  }
}

// section 7
.tv-enjoy-section{
  background: $grayscale1;
  padding-top: 60px;
  .more-contents-anchor{
    margin-top: 0;
  }
  .tv-section-main-title {
    font-family: $bothBold;
    font-style: normal;
    font-weight: 700;
    font-size: $fontsize-big;
    line-height: 35px;
    color: #000000;
    margin-bottom: 16px;
  }
  .tv-section-sub-title{
    font-family: $bothBold;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: $primary-color;
    margin-bottom: 6px;
  }
  .tv-section-main-content {
    font-family: $notoSansRegular;
    font-style: normal;
    font-weight: 400;
    font-size: $fontsize-regular;
    line-height: 30px;
    color: $grayscale8;
    margin-bottom: 40px;
  }
  .cta-button {
    width: auto;
    padding: 0 24px;
    margin-bottom: 24px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .tv-section-img{
    width: 328px;
    margin-bottom: 40px;
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }

}
//section 8
.wrap.padding40{
  padding-top: 40px;
}
.wrap:last-of-type{
  padding-bottom: 69px;
}
//carousel web css
@media screen and (min-width: 481px) {
  .art-stream-main-section,
  .art-stream-contents-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-waiting-exh-section,
  .tv-enjoy-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-contents-section.art-stream-exh-section  {
    position: relative;
    width: 768rem;
    overflow: hidden;
  }
}


//carousel web css
@media screen and (min-width: 481px) {
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}






