.art-stream-waiting-exh-section .more-contents-anchor {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #2841FA;
  font-size: 14px;
  text-decoration: underline;
}

#preload-black-page {
  width: 10000px;
  height: 10000px;
  background-color: #0a0a0a;
  position: absolute;
  z-index: 1;
  position: fixed;
}

.exh-artwork {
  margin-right: 6px;
  color: rgba(245, 245, 245, 0.65);
}
.exh-artwork span {
  text-decoration: underline;
}

.wrap {
  padding-bottom: 40px;
}

.carousel-item a {
  display: block;
  width: inherit;
}

.art-stream-main-section {
  padding-top: 88px;
  background: #0A0A0A;
  transform: translateY(1px);
}
.art-stream-main-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.art-stream-main-section .art-stream-carousel .carousel-item {
  height: 410px;
}
.art-stream-main-section .art-stream-carousel .carousel-item .carousel-text-wrap {
  bottom: 16px;
}
.art-stream-main-section .art-stream-carousel .icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}

.art-stream-main-section-title {
  margin-bottom: 12px;
}
.art-stream-main-section-title h1 {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  color: #ffffff;
}
.art-stream-main-section-title p {
  margin-top: 16px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #E0E0E0;
}

.more-contents-anchor {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4C60FA !important;
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 32px;
  background: transparent;
  cursor: pointer;
}
.more-contents-anchor img {
  width: 16px !important;
  height: 16px !important;
  display: inline !important;
  transform: translateY(2px);
  text-decoration: none;
}
.more-contents-anchor span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #4C60FA !important;
}

.art-stream-contents-section {
  background: #0A0A0A;
}

.art-stream-section-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26.06px;
  color: #ffffff;
  margin-bottom: 8px;
}

.art-stream-contents-section .carousel-item {
  width: 200px;
  height: 248px;
  overflow: inherit;
}
.art-stream-contents-section .carousel-item .carousel-img-wrap {
  height: 184.5px;
  border-radius: 8px;
  overflow: hidden;
}
.art-stream-contents-section .carousel-item .carousel-artwork-title {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
}
.art-stream-contents-section .carousel-item .carousel-artwork-artist {
  color: rgba(255, 255, 255, 0.65);
}
.art-stream-contents-section .carousel-item .carousel-text-wrap {
  left: 0;
  bottom: -12px;
  padding: 0;
}

.art-stream-carousel .carousel-item {
  height: 389px;
  background: rgba(255, 255, 255, 0.08);
}
.art-stream-carousel .carousel-item .carousel-text-wrap {
  height: 143px;
  text-align: left;
}
.art-stream-carousel .carousel-item .art-stream-carousel-img-wrap {
  position: absolute;
  top: 0;
  height: 246px;
  width: 328px;
}
.art-stream-carousel .carousel-item .art-stream-carousel-img-wrap img {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}
.art-stream-carousel .carousel-item .carousel-artist-name {
  white-space: nowrap;
  width: 296px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 18px;
  color: #f5f5f5;
}
.art-stream-carousel .carousel-item .carousel-artwork-artist {
  margin-bottom: 24px;
  color: rgba(245, 245, 245, 0.65);
}
.art-stream-carousel .carousel-item .carousel-artist-number {
  position: absolute;
  top: 214px;
  right: 12px;
  width: 37px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 10px;
  z-index: 1;
}

.art-stream-exh-section .art-stream-section-title {
  margin-bottom: 0;
}
.art-stream-exh-section .exh-info-wrap {
  display: block;
  width: auto;
  height: 18px;
  margin-bottom: 8px;
  line-height: 18px;
  color: rgba(245, 245, 245, 0.65);
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
}
.art-stream-exh-section .carousel-artist-type {
  height: 18px;
}
.art-stream-exh-section .carousel-exh-title {
  width: auto;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 24px;
}
.art-stream-exh-section .carousel-exh-artist {
  color: #f5f5f5;
}

.art-stream-waiting-exh-section .carousel-item {
  height: 494px;
}
.art-stream-waiting-exh-section .carousel-item .carousel-text-wrap {
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.art-stream-waiting-exh-section .carousel-item .art-stream-carousel-img-wrap {
  height: inherit;
}
.art-stream-waiting-exh-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.art-stream-waiting-exh-section .carousel-exh-title {
  width: auto;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 18px;
  line-height: 24px;
}
.art-stream-waiting-exh-section .carousel-exh-artist {
  color: #f5f5f5;
}
.art-stream-waiting-exh-section .more-contents-anchor {
  margin: 0;
  transform: translate(0);
}
.art-stream-waiting-exh-section .art-stream-carousel .carousel-item .btn-add-coming-soon-collection {
  width: inherit;
  height: inherit;
  background: transparent;
}
.art-stream-waiting-exh-section .art-stream-carousel .carousel-item .carousel-d-day {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 17px;
  left: 12px;
  width: auto;
  padding: 0 8px;
  height: 26px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.65);
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 12px;
  line-height: 26px;
}
.art-stream-waiting-exh-section .art-stream-carousel .carousel-item .icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 17px;
  right: 12px;
  z-index: 1;
}

.tv-enjoy-section {
  background: #F5F5F5;
  padding-top: 60px;
}
.tv-enjoy-section .more-contents-anchor {
  margin-top: 0;
}
.tv-enjoy-section .tv-section-main-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 16px;
}
.tv-enjoy-section .tv-section-sub-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #2841fa;
  margin-bottom: 6px;
}
.tv-enjoy-section .tv-section-main-content {
  font-family: notoSansRegular, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0A0A0A;
  margin-bottom: 40px;
}
.tv-enjoy-section .cta-button {
  width: auto;
  padding: 0 24px;
  margin-bottom: 24px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.tv-enjoy-section .tv-section-img {
  width: 328px;
  margin-bottom: 40px;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.wrap.padding40 {
  padding-top: 40px;
}

.wrap:last-of-type {
  padding-bottom: 69px;
}

@media screen and (min-width: 481px) {
  .art-stream-main-section,
  .art-stream-contents-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-waiting-exh-section,
  .tv-enjoy-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-contents-section.art-stream-exh-section,
  .art-stream-contents-section.art-stream-exh-section {
    position: relative;
    width: 768rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 481px) {
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=artstream.css.map */
