@charset "UTF-8";
.item-exh-title {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 26px;
  color: #0A0A0A;
}

.item-exh-artist {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
}

.artists-description .artist-profile-txt .more-contents-anchor, .artists-description .artist-profile-txt .btn-more-contents {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.exh-info-container .exh-info-section .btn-more-contents, .exh-info-container .exh-info-section .exh-info-wrap .exh-artwork {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #ffffff;
  font-size: 12px;
  text-decoration: underline;
  opacity: 0.65;
}

.artist-title-box .btn-all-artist {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #2841FA;
  font-size: 14px;
  text-decoration: underline;
}

.modal-connected .btn-cancel {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #0a0a0a;
  font-size: 14px;
  text-decoration: underline;
}

.art-stream-similar-exh-section .art-stream-section-title, .exh-artworks-list-wrap h2 {
  height: 27px;
  margin-bottom: 6px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
}

.btn-share-exh,
.btn-see-all-artist {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 76px;
  margin-top: 62px;
  background: transparent;
}
.btn-share-exh img,
.btn-see-all-artist img {
  width: 52px;
}
.btn-share-exh span,
.btn-see-all-artist span {
  display: block;
  height: 18px;
  margin-top: 6px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #0A0A0A;
}

.exh-info-container {
  position: relative;
  padding: 48px 0 0 0;
}
.exh-info-container .exh-info-section {
  display: block;
  padding-top: 56.25vw;
}
@media screen and (min-width: 481px) {
  .exh-info-container .exh-info-section {
    padding-top: 100rem;
  }
}
.exh-info-container .exh-info-section .exh-title {
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: RobotoBold, notoSansBold, serif;
  line-height: 28px;
  font-size: 20px;
  color: #fff;
}
.exh-info-container .exh-info-section .exh-artist {
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #adadad;
}
.exh-info-container .exh-info-section .exh-info-wrap {
  display: block;
  width: auto;
  height: 18px;
  margin: 6px 0 8px 0;
  line-height: 18px;
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  color: #707070;
}
.exh-info-container .exh-info-section .exh-info-wrap .exh-artwork {
  height: 18px;
  background: transparent;
  line-height: 17px;
}
.exh-info-container .exh-info-section .now-playing-info {
  display: none;
  width: 100%;
  height: 77px;
  position: relative;
  margin: 24px 0 0 0;
  box-sizing: border-box;
  background-color: #0a0a0a;
}
.exh-info-container .exh-info-section .now-playing-info.scrolled {
  display: block;
}
@media screen and (max-width: 481px) {
  .exh-info-container .exh-info-section .now-playing-info.scrolled {
    display: flex;
    width: 100vw;
    position: fixed;
    top: calc(48px + 56.25vw);
    z-index: 2;
    left: 50%;
    transform: translatex(-50%);
    border: none;
    margin-top: 0;
  }
}
@media screen and (max-width: 481px) {
  .exh-info-container .exh-info-section .now-playing-info.scrolled ul {
    width: calc(100vw - 32px);
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}
.exh-info-container .exh-info-section .now-playing-info ul {
  display: flex;
  width: inherit;
  height: 45px;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.exh-info-container .exh-info-section .now-playing-info ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(1) {
  width: 200px;
  height: 45px;
  margin-left: 12px;
}
@media screen and (min-width: 481px) {
  .exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(1) {
    flex-basis: 900rem;
  }
}
.exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(1) p:nth-of-type(1) {
  display: block;
  max-width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #f5f5f5;
}
@media screen and (min-width: 481px) {
  .exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(1) p:nth-of-type(1) {
    text-overflow: unset;
    overflow: unset;
  }
}
.exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(1) p:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #f5f5f5;
  opacity: 0.65;
}
.exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(2) {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 8px;
}
.exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(2) .btn-more-now-playing {
  width: inherit;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  background: transparent;
}
.exh-info-container .exh-info-section .now-playing-info ul li:nth-of-type(2) .btn-more-now-playing img {
  width: inherit;
}
.exh-info-container .exh-info-section .btn-save-exhibition {
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  text-align: left;
}
.exh-info-container .exh-info-section .btn-save-exhibition img {
  width: 28px;
}
.exh-info-container .exh-info-section .btn-save-exhibition span {
  display: none;
  width: inherit;
  height: 18px;
  font-weight: RobotoRegular, notoSansRegular, serif;
  font-size: 11px;
  line-height: 17px;
  opacity: 0.65;
  text-align: center;
}
.exh-info-container .exh-info-section .exh-description {
  font-family: RobotoLight, notoSansLight, serif;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 17px;
  color: #adadad;
  margin: 4px 0 22px 0;
}
.exh-info-container .exh-info-section .btn-more-contents {
  display: none;
  background-color: transparent;
  font-size: 14px;
}
.exh-info-container .exh-info-section .btn-more-contents.active {
  display: block;
}
.exh-info-container .exh-info-section .exh-tags {
  display: flex;
  padding-top: 24px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  row-gap: 12px;
}
.exh-info-container .exh-info-section .exh-tags ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
}
.exh-info-container .exh-info-section .exh-tags ul li {
  height: 28px;
  padding: 0 10px;
  margin-right: 8px;
  line-height: 28px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.65);
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
}
.exh-info-container .exh-info-section .exh-tags ul li a {
  opacity: 0.65;
  display: block;
  width: inherit;
  height: inherit;
}
.exh-info-container .exh-info-section .anchor-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: inherit;
}
@media screen and (min-width: 481px) {
  .exh-info-container .exh-info-section .anchor-box {
    justify-content: space-evenly;
  }
}
.exh-info-container .exh-info-section .anchor-box .btn-connect-tv {
  display: inline-block;
  text-align: center;
  width: inherit;
  height: 48px;
  margin-top: 40px;
  line-height: 48px;
  background: #ebebeb;
  border-radius: 12px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  color: #0a0a0a;
}
@media screen and (min-width: 481px) {
  .exh-info-container .exh-info-section .anchor-box .btn-connect-tv {
    width: 328px;
  }
}
.exh-info-container .exh-info-section .anchor-box .btn-connect-tv img {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  transform: translateY(7px);
}
.exh-info-container .exh-info-section .anchor-box .btn-shop-url {
  display: none;
  text-align: center;
  width: inherit;
  height: 48px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 48px;
  background: #2841fa;
  border-radius: 12px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  color: #ffffff;
}
@media screen and (min-width: 481px) {
  .exh-info-container .exh-info-section .anchor-box .btn-shop-url {
    width: 328px;
  }
}
.exh-info-container .exh-info-section .anchor-box .btn-shop-url img {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  transform: translateY(7px);
}

.player-wrap {
  width: 100vw;
  height: 56.25vw;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 481px) {
  .player-wrap {
    position: relative;
    width: 768rem;
    height: 432rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.player-wrap .tv-connection-notice {
  position: absolute;
  background: rgba(10, 10, 10, 0.65);
  width: 100vw;
  height: 204px;
  display: none;
}
@media screen and (min-width: 481px) {
  .player-wrap .tv-connection-notice {
    width: inherit;
    height: inherit;
  }
}
.player-wrap .tv-connection-notice p {
  position: absolute;
  top: 33px;
  left: 50%;
  z-index: 1001;
  transform: translateX(-50%);
  width: 100vw;
  text-align: center;
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.player-wrap .tv-connection-notice .btn-disconnection {
  position: absolute;
  bottom: 28.5px;
  left: 50%;
  z-index: 1001;
  transform: translateX(-50%);
  background: transparent;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #f5f5f5;
}
.player-wrap .play-step-1 {
  width: 100vw;
  height: 56.25vw;
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-1 {
    width: inherit;
    height: inherit;
  }
}
.player-wrap .play-step-1 .player-gradation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56.25vw;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 47.92%, #0A0A0A 100%);
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-1 .player-gradation {
    width: inherit;
    height: inherit;
  }
}
.player-wrap .play-step-1 img {
  width: inherit;
  height: inherit;
}
.player-wrap .play-step-2 {
  width: 100vw;
  height: 56.25vw;
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-2 {
    width: inherit;
    height: inherit;
  }
}
.player-wrap .play-step-2 img {
  width: inherit;
  height: inherit;
  -webkit-filter: grayscale(100%);
  transition: 1.5s;
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-2 img {
    transition: none;
  }
}
.player-wrap .play-step-3 {
  position: relative;
  display: block;
  width: 100vw;
  height: 56.25vw;
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-3 {
    width: inherit;
    height: inherit;
  }
}
.player-wrap .play-step-3 .player-gradation {
  position: absolute;
  width: 100vw;
  height: inherit;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) -70.12%, #0A0A0A 100%);
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-3 .player-gradation {
    width: 105%;
    height: 102%;
    margin-left: -1px;
  }
}
.player-wrap .play-step-3 img, .player-wrap .play-step-3 video {
  object-fit: contain;
  width: inherit;
  height: inherit;
}
.player-wrap .play-step-3 .controllers {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 232px;
  flex-direction: row;
  justify-content: space-between;
}
.player-wrap .play-step-3 .controllers button {
  background: transparent;
}
.player-wrap .play-step-3 .controllers button img {
  width: 56px;
}
.player-wrap .play-step-3 .play-time {
  position: absolute;
  bottom: 14.5px;
  left: 20px;
  height: 18px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
  color: rgba(245, 245, 245, 0.8);
}
.player-wrap .play-step-3 #fullScreen {
  width: 48px;
  position: absolute;
  bottom: 14.5px;
  height: 16px;
  right: 20px;
  cursor: pointer;
}
.player-wrap .play-step-3 #fullScreen img {
  width: 16px;
  right: 0;
  height: 16px;
  position: absolute;
  bottom: 0;
}

.btn-play-exhibition {
  position: absolute;
  top: 77px;
  left: 50%;
  z-index: 1001;
  width: 56px;
  transform: translatex(-50%);
  background: transparent;
}
@media screen and (min-width: 481px) {
  .btn-play-exhibition {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-skip-docent {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 3;
  width: 104px;
  height: 34px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  line-height: 34px;
  font-size: 12px;
}
@media screen and (min-width: 481px) {
  .btn-skip-docent {
    width: 124px;
    height: 41px;
    font-size: 14px;
  }
}

.play-bar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: #2841fa;
}
@media screen and (min-width: 481px) {
  .play-bar {
    width: inherit;
  }
}

.fixed-bar {
  display: block;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: #424242;
}
@media screen and (min-width: 481px) {
  .fixed-bar {
    width: inherit;
  }
}

.playing-bar {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2841fa;
}

.exh-article-title {
  width: 328px;
  padding-top: 26px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.exh-article-contents {
  width: 100%;
  padding: 24px 0 40px 0;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 30px;
  color: #0A0A0A;
  border-bottom: 1px solid #E0E0E0;
}
.exh-article-contents img {
  width: inherit;
  margin-top: 24px;
}
.exh-article-contents span {
  display: block;
  margin-bottom: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
}

.artist-title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.artist-title-box h2 {
  width: auto;
  height: 27px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 18px;
  line-height: 26px;
  color: #f5f5f5;
}
.artist-title-box .btn-all-artist {
  width: auto;
  height: 21px;
  line-height: 20px;
  background: transparent;
}

.artists-description {
  display: flex;
  padding-top: 14px;
  width: 155px;
  height: 186px;
  flex-direction: column;
}
@media screen and (min-width: 481px) {
  .artists-description {
    display: flex;
  }
}
.artists-description::after {
  content: "";
  clear: both;
  display: block;
}
.artists-description li {
  display: block;
  float: left;
}
.artists-description .artist-profile-img {
  position: relative;
  overflow: hidden;
  width: inherit;
  border-radius: 155px;
  height: 155px;
}
.artists-description .artist-profile-img a {
  width: inherit;
  height: inherit;
  display: flex;
}
.artists-description .artist-profile-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  -webkit-filter: grayscale(100%);
}
.artists-description .artist-profile-txt {
  width: 288px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .artists-description .artist-profile-txt {
    position: relative;
    text-align: center;
    width: inherit;
    margin-left: 0;
    margin-top: 6px;
    font-size: 16px;
  }
}
@media screen and (min-width: 481px) {
  .artists-description .artist-profile-txt {
    width: 98%;
  }
}
.artists-description .artist-profile-txt .artist-name {
  width: auto;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artists-description .artist-profile-txt .artist-detail {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 30px;
  color: #c2c2c2;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.artists-description .artist-profile-txt .more-contents-anchor, .artists-description .artist-profile-txt .btn-more-contents {
  display: block;
  height: 21px;
  margin: 18px 0 40px 0;
  line-height: 20px;
  background-color: transparent;
}

.exh-artworks-list-wrap {
  padding: 0 0 40px 0;
}
@media screen and (min-width: 481px) {
  .exh-artworks-list-wrap {
    left: 50%;
    transform: translatex(-50%);
  }
}
.exh-artworks-list-wrap h2 {
  padding-top: 40px;
  color: #f5f5f5;
}
.exh-artworks-list-wrap .exh-artworks-list {
  display: flex;
  flex-direction: column;
}
.exh-artworks-list-wrap .exh-artworks-list > li {
  padding: 6px 0;
  width: inherit;
  display: none;
  flex-direction: row;
  justify-content: center;
}
.exh-artworks-list-wrap .exh-artworks-list > li.artwork-list:nth-of-type(-n+15) {
  display: flex !important;
}
.exh-artworks-list-wrap .exh-artworks-list > li .shared-link {
  display: none;
}
.exh-artworks-list-wrap .exh-artworks-list > li:last-of-type {
  margin-bottom: 0px;
}
.exh-artworks-list-wrap .exh-artworks-list .exh-artwork {
  display: flex;
  flex-direction: row;
  width: 88%;
  height: 45px;
  background: transparent;
}
.exh-artworks-list-wrap .exh-artworks-list .exh-artwork .exh-artwork-img-wrap {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  min-width: 45px;
  width: 45px;
  height: 45px;
}
.exh-artworks-list-wrap .exh-artworks-list .exh-artwork .exh-artwork-img-wrap img {
  position: absolute;
  top: 0;
  height: inherit;
  object-fit: cover;
  left: 50%;
  transform: translatex(-50%);
  width: auto;
}
.exh-artworks-list-wrap .exh-artworks-list .exh-artwork .exh-artwork-img-wrap img.playing-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
}
.exh-artworks-list-wrap .exh-artworks-list .artwork-txt-info {
  width: 100%;
  overflow: hidden;
  margin-left: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.exh-artworks-list-wrap .exh-artworks-list .artwork-txt-info .artwork-info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.exh-artworks-list-wrap .exh-artworks-list .artwork-txt-info .artwork-info:nth-of-type(1) {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  color: #f5f5f5;
}
.exh-artworks-list-wrap .exh-artworks-list .artwork-txt-info .artwork-info:nth-of-type(2) {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  color: #adadad;
}
.exh-artworks-list-wrap .exh-artworks-list .icon-show-option {
  width: 28px;
  height: 28px;
  background: transparent;
  align-self: center;
}
.exh-artworks-list-wrap .exh-artworks-list .icon-show-option img {
  width: inherit;
}
.exh-artworks-list-wrap .exh-artworks-list .icon-show-option span {
  display: none;
}

.art-stream-similar-exh-section {
  padding: 40px 0 0 0;
}
.art-stream-similar-exh-section .art-stream-section-title {
  color: #f5f5f5;
  font-family: RobotoRegular, notoSansRegular, serif;
}
.art-stream-similar-exh-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.art-stream-similar-exh-section .carousel-exh-title {
  width: auto;
  height: 27px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 18px;
  line-height: 21px;
}
.art-stream-similar-exh-section .carousel-exh-artist {
  color: #ffffff;
  opacity: 0.65;
}
.art-stream-similar-exh-section .more-contents-anchor {
  margin: 0;
  transform: translate(0);
}
.art-stream-similar-exh-section .art-stream-carousel .carousel-item {
  height: 410px;
  background: rgba(255, 255, 255, 0.08);
}
.art-stream-similar-exh-section .art-stream-carousel .carousel-item .carousel-img-wrap {
  height: 246px;
}
.art-stream-similar-exh-section .art-stream-carousel .carousel-item .icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 17px;
  right: 12px;
}
.art-stream-similar-exh-section .art-stream-carousel .carousel-item .carousel-text-wrap {
  top: 246px;
}
.art-stream-similar-exh-section .art-stream-carousel .carousel-item .carousel-artist-content {
  margin-top: 24px;
}

.artwork-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
}
.artwork-option-box .artwork-options {
  position: absolute;
  bottom: 178px;
  left: 50%;
  transform: translateX(-50%);
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-id {
  display: none;
}
.artwork-option-box .artwork-options .artwork-wrap a, .artwork-option-box .artwork-options .artwork-wrap button {
  display: flex;
  margin-bottom: 28px;
}
.artwork-option-box .artwork-options .artwork-wrap img {
  width: 96px;
  height: 54px;
  margin-right: 12px;
  border-radius: 4px;
  transform: translatey(0);
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info {
  all: unset; /*span에 적용된 style 초기화*/
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-top: 5px;
  margin-left: 12px;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info .artwork-info {
  all: unset; /*span에 적용된 style 초기화*/
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info .artwork-info:nth-of-type(1) {
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info .artwork-info:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 21px;
  color: #f5f5f5;
  opacity: 0.65;
}
.artwork-option-box .artwork-options button,
.artwork-option-box .artwork-options .artist-information {
  display: block;
  background: transparent;
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: left;
}
.artwork-option-box .artwork-options button img,
.artwork-option-box .artwork-options .artist-information img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.artwork-option-box .artwork-options button span,
.artwork-option-box .artwork-options .artist-information span {
  position: absolute;
  transform: translateY(12px);
  margin-left: 8px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.artwork-option-box .artwork-options button span.artwork-txt-info,
.artwork-option-box .artwork-options .artist-information span.artwork-txt-info {
  position: unset;
}
.artwork-option-box .btn-artwork-options-close {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.artwork-option-box .btn-artwork-options-close img {
  width: inherit;
}

.share-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
}
.share-option-box .share-options {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.share-option-box .share-options .share-option-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 19px;
  height: 52px;
  line-height: 28px;
  color: #ffffff;
}
.share-option-box .share-options button {
  background: transparent;
  width: 100%;
  height: 52px;
  text-align: center;
}
.share-option-box .share-options button img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.share-option-box .share-options button span {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.share-option-box .btn-share-close {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  background: transparent;
}
.share-option-box .btn-share-close img {
  width: inherit;
}

.code-error-modal {
  z-index: 1000;
  color: #EA6600;
}

.tv-connection-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.tv-connection-modal section {
  position: relative;
  top: 48px;
}
.tv-connection-modal .blue {
  background-color: #2841fa !important;
}
.tv-connection-modal ol.tv-connection-guide-text {
  list-style: decimal;
  height: 72px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
  padding-left: 16px;
}
.tv-connection-modal .tv-connection-container {
  width: 360px;
  margin-right: 40px;
}
@media screen and (min-width: 481px) {
  .tv-connection-modal .tv-connection-container {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.tv-connection-modal .tv-connection-title {
  margin-top: 16px;
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 4px;
}
.tv-connection-modal .tv-connection-subtitle {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.tv-connection-modal .code-input-area {
  margin-top: 16px;
}
.tv-connection-modal .code-input-title {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #2841fa;
}
.tv-connection-modal .code-input {
  font-family: notoSansRegular, serif;
  font-size: 20px;
  color: #0A0A0A;
  width: 328px;
  height: 54px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #2841fa;
  caret-color: #2841fa;
  margin-bottom: 16px;
}
.tv-connection-modal .btn-text {
  display: block;
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #0A0A0A;
  text-decoration: underline;
  background-color: transparent;
}
.tv-connection-modal .btn-tv-guide {
  margin-top: 16px;
}
.tv-connection-modal .btn-complete {
  position: fixed;
  margin-top: 40px;
  width: 328px;
  height: 48px;
  background-color: #EBEBEB;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-connected {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}
.modal-connected div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 248px;
  height: auto;
  border-radius: 16px;
  padding: 16px 16px 0 16px;
}
.modal-connected .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 8px;
}
.modal-connected .btn {
  width: 248px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  margin: 16px 0 0 0;
  background-color: #2841fa;
  color: #ffffff;
}
.modal-connected .btn-cancel {
  position: relative;
  width: 248px;
  height: 45px;
  background-color: transparent;
  margin: 0;
}

.artwork-detail-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1001;
  overflow: scroll;
}
.artwork-detail-box section {
  padding-bottom: 150px;
}
.artwork-detail-box h1 {
  height: 27px;
  margin: 49px 0 12px 0;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.artwork-detail-box .btn-goback {
  margin: 10px 0px;
  position: fixed;
  top: 0;
}
.artwork-detail-box .thumbnail-img-wrap {
  position: relative;
  width: 297px;
  height: 184px;
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
}
.artwork-detail-box .thumbnail-img-wrap img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: inherit;
  transform: translate(-50%, -50%);
}
.artwork-detail-box .info-box {
  width: inherit;
  height: auto;
  margin-top: 12px;
  padding: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}
@media screen and (min-width: 481px) {
  .artwork-detail-box .info-box {
    width: 768rem;
  }
}
.artwork-detail-box .info-box li {
  margin-bottom: 8px;
}
.artwork-detail-box .info-box li:last-of-type {
  margin-bottom: 0;
}
.artwork-detail-box .info-box li span {
  display: block;
}
.artwork-detail-box .info-box li span:nth-of-type(1) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.artwork-detail-box .info-box li span:nth-of-type(1).korean-name {
  color: #fff;
}
.artwork-detail-box .info-box li span:nth-of-type(2) {
  width: inherit;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: auto;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 14px;
  line-height: 19px;
  color: #f5f5f5;
}

.all-artist-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1001;
  overflow: scroll;
}
.all-artist-box section {
  padding-bottom: 80px;
}
.all-artist-box h1 {
  height: 27px;
  margin: 24px 0 12px 0;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.all-artist-box .artist-head-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.all-artist-box .btn-goback {
  margin: 10px 0;
}
.all-artist-box .contents-wrap {
  width: 328px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all-artist-box .contents-wrap .artist-item {
  position: relative;
  flex-basis: 160px;
  width: 160px;
  margin-bottom: 40px;
}
.all-artist-box .contents-wrap .artist-item .artist-name {
  height: 24px;
  margin-top: 4.5px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.all-artist-box .contents-wrap .artist-item .artist-name a {
  display: flex;
}
.all-artist-box .contents-wrap .artist-item .like-count {
  height: 14px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 14px;
  color: rgba(245, 245, 245, 0.65);
}
.all-artist-box .contents-wrap .artist-item .like-count img {
  float: left;
  width: 16px;
}
.all-artist-box .contents-wrap .artist-item .item-img-wrap {
  width: 160px;
  height: 184.5px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
}
.all-artist-box .contents-wrap .artist-item .item-img-wrap img {
  width: inherit;
}
.all-artist-box .contents-wrap .artist-item .item-gradation {
  position: absolute;
  width: 160px;
  height: 184.5px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
  border-radius: 8px;
}

#all_artist_box_section {
  width: 768rem;
}
@media screen and (max-width: 481px) {
  #all_artist_box_section {
    width: 360px;
  }
}

.player-background {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  background: #0A0A0A;
}
@media screen and (min-width: 481px) {
  .player-background {
    width: inherit;
    height: inherit;
  }
}

#player_box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 481px) {
  #player_box {
    width: inherit;
    height: inherit;
  }
}

.now_playing_info_artwork {
  max-width: 200px;
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.play-step-1 .loading {
  top: 50%;
  position: relative;
  left: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  padding-bottom: 0;
}

.iframe {
  opacity: 0;
  width: 328px;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
}
@media screen and (min-width: 481px) {
  .iframe {
    width: 768rem;
  }
}

.nav-modal {
  width: 100%;
  height: 48px;
  background: #0a0a0a;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1;
  top: 0;
}

@media screen and (min-width: 481px) {
  .art-stream-similar-exh-section, .exh-artworks-list-wrap, .exh-info-section, .participate-artist-section, .tv-connection-section, .collection-add-section,
  .more-info-section {
    position: relative;
    width: 768rem;
    overflow: hidden;
    height: inherit;
  }
  .tv-connection-modal .btn-complete {
    margin-top: 221px;
    position: relative;
    bottom: unset;
    left: 0;
    transform: translateX(0px);
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
  margin-top: 7px;
}
.buttons .button-group {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 15px;
}
.buttons .share-button {
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  text-align: left;
}
.buttons .share-button img {
  width: 28px;
}
.buttons .share-button span {
  display: block;
  width: inherit;
  height: 18px;
  font-weight: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  opacity: 0.65;
  text-align: center;
}

.fullScreen {
  transform: rotate(90deg) !important;
  display: block !important;
  width: 100vh !important;
  height: 100vw !important;
  z-index: 999 !important;
  background: black !important;
}
.fullScreen #artwork_image {
  transform: translateX(-50%) !important;
  margin-left: 50% !important;
  width: auto !important;
  height: 100% !important;
}
.fullScreen .player-gradation {
  width: 100vh !important;
  height: 100vw !important;
  z-index: 1;
}
.fullScreen .controllers, .fullScreen .play-time, .fullScreen .play-bar, .fullScreen #fullScreen {
  z-index: 2;
}
.fullScreen .play-bar .playing-bar, .fullScreen .play-bar, .fullScreen .fixed-bar {
  width: 100vh;
}

.fullScreenBlack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: block !important;
}

.contents-wrap {
  width: auto;
}
@media screen and (min-width: 481px) {
  .contents-wrap {
    width: 320px;
  }
  .contents-wrap .contents-wrap-div {
    width: 320px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.exh-artwork {
  margin-right: 6px;
  color: rgba(245, 245, 245, 0.65);
}

.exh-item {
  position: relative;
  width: 320px;
  height: 245px;
  overflow: inherit;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.exh-item .icon-exhibition {
  width: 28px !important;
  height: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  opacity: 0.8;
}
.exh-item .item-img-wrap {
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
}
.exh-item .item-img-wrap img {
  width: auto;
  height: inherit;
}
.exh-item .item-gradation {
  position: absolute;
  width: 100%;
  height: 184.5px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
}
.exh-item .carousel-artwork-title {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
}
.exh-item .carousel-artwork-artist {
  color: #adadad;
}
.exh-item .item-text-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  box-sizing: border-box;
}

.art-stream-section-title {
  height: 36px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 12px;
}

.exh-info-wrap {
  display: block;
  width: auto;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  font-family: RobotoLight, notoSansLight, serif;
  color: #707070;
}

.item-exh-title {
  width: auto;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
}

.item-exh-artist {
  white-space: nowrap;
  width: 328px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.art-stream-contents-section h2.art-stream-section-title {
  width: 768rem;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
}
.art-stream-contents-section .carousel-item {
  width: 155px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.art-stream-contents-section .carousel-item a {
  display: flex;
  width: 155px;
  height: 155px;
  border-radius: 12px;
  background: #707070;
  overflow: hidden;
  color: #f5f5f5;
  font-size: 16px;
  font-family: RobotoRegular, notoSansRegular, serif;
}
.art-stream-contents-section .carousel-item .carousel-artwork-title {
  max-width: 155px;
  height: 21px;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin-top: 4px;
}
.art-stream-contents-section .carousel-item .carousel-artwork-artist {
  margin-bottom: 0;
  font-size: 14px;
}

.wrap.list {
  padding-top: 40px;
}
@media screen and (min-width: 481px) {
  .wrap.list section {
    position: relative;
    width: 768rem;
    overflow: hidden;
    height: inherit;
  }
}

.artwork-container-box {
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 481px) {
  .artwork-container-box {
    width: 768rem;
  }
}

.playing-gif {
  display: none;
}

.artwork-list.active {
  background-color: #1f1f1f;
}
.artwork-list.active .playing-gif {
  display: block;
}

.artwork-list {
  display: none;
}
.artwork-list.artwork-list:nth-of-type(-n+5) {
  display: flex !important;
}

.player-button {
  width: 52px;
  height: 52px;
}

.btn_play {
  width: inherit;
  height: inherit;
  border-radius: 52px;
  overflow: hidden;
}
.btn_play img {
  width: inherit;
  height: inherit;
}

#artist_artwork {
  display: none;
}

@media screen and (min-width: 481px) {
  .carousel-wrap {
    width: 768rem;
  }
}

.btn-like-artwork {
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.btn-like-artwork img {
  width: inherit;
}
.btn-like-artwork span {
  opacity: 0;
}

.icon-show-option {
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.icon-show-option img {
  width: inherit;
}

.other-category .carousel-item {
  width: unset;
  height: unset;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.other-category .carousel-item a {
  display: flex;
  overflow: hidden;
  width: unset;
  height: unset;
  padding: 12px 24px;
  background-color: #1f1f1f;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 16px;
  font-family: RobotoMedium, notoSansMedium, serif;
}

/*# sourceMappingURL=artstream-detail.css.map */
