.art-stream-exh-section .item-exh-title {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 26px;
  color: #0A0A0A;
}

.art-stream-exh-section .item-exh-artist {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
}

.btn-sorting {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.wrap {
  padding-top: 68px;
  padding-bottom: 80px;
}

.contents-wrap {
  width: 154px;
}
@media screen and (min-width: 481px) {
  .contents-wrap {
    width: 360px;
  }
  .contents-wrap .contents-wrap-div {
    width: 328px;
  }
}

.exh-artwork {
  margin-right: 6px;
  color: rgba(245, 245, 245, 0.65);
}
.exh-artwork span {
  text-decoration: underline;
}

.art-stream-contents-section {
  background: #0A0A0A;
}
.art-stream-contents-section .art-stream-list {
  justify-content: space-between;
}
@media screen and (min-width: 481px) {
  .art-stream-contents-section .art-stream-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.art-stream-contents-section .exh-item {
  position: relative;
  overflow: inherit;
  box-sizing: border-box;
  border-radius: 8px;
}
.art-stream-contents-section .exh-item .icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  opacity: 0.8;
}
.art-stream-contents-section .exh-item .item-img-wrap {
  height: 155px;
  border-radius: 8px;
  overflow: hidden;
}
.art-stream-contents-section .exh-item .item-img-wrap img {
  width: auto;
  height: inherit;
}
.art-stream-contents-section .exh-item .item-gradation {
  position: absolute;
  width: 100%;
  height: 155px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
}
.art-stream-contents-section .exh-item .carousel-artwork-title {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
}
.art-stream-contents-section .exh-item .carousel-artwork-artist {
  color: rgba(255, 255, 255, 0.65);
}
.art-stream-contents-section .exh-item .item-text-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  box-sizing: border-box;
}
.art-stream-contents-section .art-stream-list, .art-stream-contents-section .exh-item {
  width: inherit;
}
.art-stream-contents-section .art-stream-list > a, .art-stream-contents-section .exh-item > a {
  width: inherit;
}
.art-stream-contents-section .art-stream-list > a .item-img-wrap, .art-stream-contents-section .exh-item > a .item-img-wrap {
  width: inherit;
}
.art-stream-contents-section .art-stream-list > a .item-img-wrap > img, .art-stream-contents-section .exh-item > a .item-img-wrap > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.art-stream-exh-section .art-stream-section-title {
  height: 36px;
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 28px;
}
.art-stream-exh-section .exh-info-wrap {
  display: block;
  width: auto;
  height: 18px;
  margin-bottom: 8px;
  line-height: 18px;
  color: rgba(245, 245, 245, 0.65);
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
}
.art-stream-exh-section .carousel-artist-type {
  height: 18px;
}
.art-stream-exh-section .item-exh-title {
  margin-top: 4px;
  width: 154px;
  height: 24px;
  line-height: 24px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.art-stream-exh-section .item-exh-artist {
  white-space: nowrap;
  width: 328px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-sorting {
  position: absolute;
  top: 75px;
  right: 16px;
  height: 21px;
  line-height: 21px;
  background: transparent;
}
@media screen and (min-width: 481px) {
  .btn-sorting {
    top: 12px;
    right: 0px;
  }
}
.btn-sorting img {
  width: 16px;
  height: 16px;
  transform: translateY(2px);
}

.sorting-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 0%, #0A0A0A 30.21%);
}
.sorting-option-box .sorting-options {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 178px;
}
.sorting-option-box .sorting-options .sorting-option-title {
  height: 48px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 19px;
  line-height: 48px;
  color: #ffffff;
}
.sorting-option-box .sorting-options .icon-confirm {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  transform: translate(-18px, 16px);
}
.sorting-option-box .sorting-options button {
  background: transparent;
  width: 100%;
  height: 48px;
  text-align: center;
}
.sorting-option-box .sorting-options button span {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.sorting-option-box .btn-sort-close {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  background: transparent;
}
.sorting-option-box .btn-sort-close img {
  width: inherit;
}

@media screen and (min-width: 481px) {
  .art-stream-exh-section {
    position: relative;
    width: 768rem;
  }
  .art-stream-contents-section .art-stream-list, .art-stream-contents-section .contents-wrap, .art-stream-contents-section .contents-wrap-div {
    width: unset;
  }
  .art-stream-contents-section .exh-item {
    width: inherit;
  }
  .art-stream-contents-section .exh-item > a {
    width: unset;
  }
  .art-stream-contents-section .exh-item > a .item-img-wrap {
    width: unset;
  }
  .art-stream-contents-section .exh-item > a .item-img-wrap > img {
    width: 100%;
    height: 100%;
    position: unset;
    top: unset;
    object-fit: cover;
    transform: unset;
  }
}
.art-stream-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px 12px;
  width: inherit;
  margin-bottom: 40px;
}
@media screen and (min-width: 1094px) {
  .art-stream-list {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .art-stream-list {
    justify-content: space-between;
  }
}

.korean-name {
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
}

.contents-wrap {
  flex-basis: 154px;
  flex-grow: 1;
}

.exh-item {
  width: 154px;
}

.item-img-wrap {
  height: 154px;
}
.item-img-wrap img {
  top: unset;
  transform: unset;
}

/*# sourceMappingURL=artwork-all.css.map */
