@import '../common/library';
.wrap{
  padding-top: 68px;
  padding-bottom: 80px;
}
.contents-wrap{
  width:154px;
  @media screen and (min-width:481px) {
    width: 360px;
    .contents-wrap-div {
      width: 328px;
      //margin-left: 50%;
      //transform: translateX(-50%);
    }
  }
}
.exh-artwork {
  margin-right: 6px;
  color: $opacity-level1-light;
  span{text-decoration: underline;}
}
.art-stream-contents-section{
  background: $grayscale8;
  .art-stream-list {
    justify-content: space-between;
    @media screen and (min-width: 481px){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  .exh-item{
    position: relative;
    //width: 328px;
    //height: 252px;
    overflow: inherit;
    //margin-bottom: 24px;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    //margin-left: 50%;
    //transform: translateX(-50%);
    .icon-exhibition{
      width: 28px;
      height: 28px;
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 1;
      opacity: 0.8;
    }
    .item-img-wrap{
      height: 155px;
      border-radius: $border-radius-default;
      overflow: hidden;
      img{
        width: auto;
        height: inherit;
      }
    }
    .item-gradation{
      position: absolute;
      width: 100%;
      height: 155px;
      background: $dafault-gradient;
    }
    .carousel-artwork-title{
      font-family: $bothRegular;
      font-size: $fontsize-regular;
      line-height: 19px;
    }
    .carousel-artwork-artist{
      color: rgba(255, 255, 255, 0.65);
    }
    .item-text-wrap{
      position: absolute;
      left: 0;
      bottom: 0;
      width: inherit;
      box-sizing: border-box;
    }
  }
  .art-stream-list, .exh-item{
    width: inherit;
    &>a{
      width: inherit;
      .item-img-wrap{
        width: inherit;
        &>img{
          width: 100%;
          object-fit: cover;
          height: 100%;
          //position: relative;
          //z-index: -1;
          //top: 50%;
          //transform: translatey(-50%);
        }
      }
    }
  }
}
.art-stream-exh-section{
  .art-stream-section-title {
    height: 36px;
    font-family: $bothBold;
    font-style: normal;
    font-size: $fontsize-big-big;
    line-height: 36px;
    color: $text-lightest;
    margin-bottom: 28px;
  }
  .exh-info-wrap{
    display: block;
    width: auto;
    height: 18px;
    margin-bottom: 8px;
    line-height: 18px;
    color: $opacity-level1-light;
    font-size: $fontsize-small;
    font-family: $bothRegular;
  }
  .carousel-artist-type{
    height: 18px;
  }
  .item-exh-title{
    margin-top: 4px;
    @extend %contents-artworkName-font-style;
    width: 154px;
    height: 24px;
    line-height: 24px;
    color: $text-light;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .item-exh-artist{
    white-space: nowrap;
    width: 328px;
    text-overflow: ellipsis;
    overflow: hidden;
    @extend %contents-artistName-font-style;
  }
}
.btn-sorting{
  position: absolute;
  top: 75px;
  right: 16px;
  height: 21px;
  line-height: 21px;
  background: transparent;
  @extend %first-text-button-style;
  @media screen and (min-width: 481px) {
    top: 12px;
    right: 0px;
  }
  img{
    width: 16px;
    height: 16px;
    transform: translateY(2px);
  }
}
//sorting options style

.sorting-option-box{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 0%, #0A0A0A 30.21%);
  .sorting-options{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 178px;
    .sorting-option-title{
      height: 48px;
      font-family: $bothBold;
      font-size: 19px;
      line-height: 48px;
      color: $text-lightest;
    }
    .icon-confirm {
      opacity: 0;
      width: 16px;
      height: 16px;
      position: absolute;
      transform: translate(-18px, 16px);
    }
    button{
      background: transparent;
      width: 100%;
      height: 48px;
      text-align: center;
      span{
        font-family: $bothRegular;
        font-size: $fontsize-regular;
        line-height: 23px;
        color: $text-light;
      }
    }
  }
  .btn-sort-close{
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    background: transparent;
    img{
      width: inherit;
    }
  }
}

//carousel web css
@media screen and (min-width: 481px) {
  .art-stream-exh-section {
    position: relative;
    width: 768rem;
  }
  .art-stream-contents-section{
    .art-stream-list, .contents-wrap, .contents-wrap-div{
      width: unset;
    }
    .exh-item{
      width: inherit;
      &>a{
        width: unset;
        .item-img-wrap{
          width: unset;
          &>img{
            width: 100%;
            height: 100%;
            position: unset;
            top: unset;
            object-fit: cover;
            transform: unset;
          }
        }
      }
    }
  }

}

.art-stream-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px 12px;
  width: inherit;
  margin-bottom: 40px;

  @media screen and (min-width: 1094px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px){
    //padding-left: 22px;
    //padding-right: 22px;
    justify-content: space-between;
  }
}
.korean-name{
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
}

.contents-wrap{
  flex-basis: 154px;
  flex-grow: 1;
}
.exh-item{
  width: 154px;
}
.item-img-wrap{
  height: 154px;
  img{
    top: unset;
    transform: unset;
  }
}
