<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex,nofollow">
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <title id="html_title">PATRON | Settings</title>
    <link rel="stylesheet" th:href="@{/css_v1_3/mypage/setting.css}">
</head>

<body style="background-color: #0a0a0a">
<!--설정 헤더-->
<div th:replace="common/header-depth-goback.html" class="header-depth"></div>

<div class="wrap">
    <section class="logged-in-tv-section">
        <div>
            <h1 class="logged-in-tv-title" th:text="#{applicationTv.loggedInTv}">로그인된 TV</h1>
            <p class="logged-in-tv-guide" th:text="#{applicationTv.loggedInTvInfo}">로그인한 TV를 확인하고 로그아웃할 수 있습니다.</p>
            <ul>
                <li>
                    <p th:text="${deviceName}">SAMSUNG Q70 Series</p>
                    <span th:if="${deviceName}" id="btn_logout" onclick="logoutTv();" th:text="#{logout}">로그아웃</span>
                </li>
                <li th:unless="${deviceName}">
                    <p th:text="#{applicationTv.noLoggedInTvs}">로그인한 TV가 없습니다.</p>
                </li>
            </ul>
        </div>
    </section>
</div>

<!-- script 위치 시작 -->
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/setting.js}"></script>
<!-- script 위치 종료 -->
</body>
</html>