<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">PATRON | Settings</title>
  <meta name="Description" CONTENT="App version">
  <link rel="stylesheet" th:href="@{/css_v1_3/mypage/setting.css}">
</head>

<body style="background-color: #0a0a0a">
<!--설정 헤더-->
<div th:replace="common/header-depth-goback.html" class="header-depth"></div>

<div class="wrap">
  <section class="app-info-section">
    <div>
      <h1 class="app-info-title" th:text="#{applicationInfo.appInfo}">앱 정보</h1>
      <p class="app-info-guide" th:text="#{applicationInfo.appInfoDescription}">사용하는 앱의 정보를 확인할 수 있습니다.</p>

      <div class="app-info-contents">
        <p class="title" th:text="#{applicationInfo.appVersion}">앱 버전</p>
        <p class="contents">V1.3.0</p>

        <p class="title" th:text="#{applicationInfo.location}">지역</p>
        <p class="contents location"></p>
      </div>
    </div>
  </section>
</div>

<!-- script 위치 시작 -->
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/setting.js}"></script>
<script>
  $.get('https://www.cloudflare.com/cdn-cgi/trace', function(data) {
    let loc = data.split('loc=')[1].split('tls')[0]
    document.querySelector('.location').innerText = loc;
  })
</script>
<!-- script 위치 종료 -->
</body>
</html>