<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" style="position: fixed">
<head>
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">PATRON | Connect Smart TV</title>
  <meta name="Description" CONTENT="Information of connected Smart TVs">
  <link rel="stylesheet" th:href="@{/css_v1_3/mypage/connecting-tv.css}">
</head>
<body>

<!--설정 헤더-->
<div th:replace="common/header-depth-goback.html" class="header-depth"></div>

<main>
  <div id="tv_connection_modal" class="tv-connection-modal wrap light">
    <div>
      <section class="connect-tv-section">
        <!-- tv 연결 -->
        <div class="tv-connection-container">
          <h2 class="tv-connection-title" th:text="#{loginTv.title}">TV 화면에 보이는<br>
            숫자코드를 입력하세요</h2>
<!--          <p class="tv-connection-subtitle" th:text="#{loginTv.subtitle}">연결 후 감상하고 싶은 작품을 선택하세요.</p>-->
          <div class="code-input-area">
            <p class="code-input-title" th:text="#{loginTv.code}">코드</p>
            <label class="label-hidden" for="code_input" th:text="#{loginTv.code}">코드</label>
            <input type="text" id="code_input" class="code-input" maxlength="11" pattern="[0-9]*" onkeyup="btnActivation(this,'btn_connection_complete'); giveAutoSpaceCode(this)" autofocus spellcheck="false">
            <div class="code error-guide-box">
              <p class="error-guide" id="error_incorrect_code">숫자가 일치하지 않습니다.</p>
            </div>
            <ol class="tv-connection-guide-text">
              <li th:text="#{connectTv.connectionGuide1}">TV에서 Patron 앱을 엽니다.</li>
              <li th:text="#{connectTv.connectionGuide2}">[설정]으로 이동합니다.</li>
              <li th:text="#{connectTv.connectionGuide3}">아래로 내려 [TV연결하기]에서 9자리 숫자를 확인합니다.</li>
              <li th:text="#{connectTv.connectionGuide4}">9자리 코드를 위에 입력합니다.</li>
            </ol>
            <a th:href="'/' + ${language} + '/mypage/use-tv'" class="btn-text btn-tv-guide" th:text="#{connectTv.tvInstallMethod}">TV앱 실행 방법</a>
            <button type="button" id="btn_connection_complete" class="btn-complete" onclick="connectTvs('code_input')" disabled th:text="#{complete}">완료</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
<!-- 연결 완료 모달 -->
<div id="connection_modal_container" class="connection_modal_container">
  <div class="modal-content modal-connected">
    <div class="modal-area">
      <p class="modal-title"><span class="tv-model" >Samsung Q70 Series</span><span th:text="#{connectTv.connectedWith}">와(과)<br>
        연결됐습니다.</span></p>
      <i><img th:src="@{/img/icon_connecting_tv2.png}" alt="icon_connecting_tv"></i>
      <button type="button" id="btn_connection_okay" class="btn" onclick="history.back();" th:text="#{confirm}">확인</button>
      <button type="button" class="btn-cancel" onclick="modalClose('connection_modal_container'); disconnectSocket();" th:text="#{connectTv.disconnect}">연결 취소</button>
    </div>
  </div>
</div>


<!-- script 위치 시작 -->
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/setting.js}"></script>
<script th:src="@{/js_v1_3/mypage/check-logged-tv.js}"></script>
<!-- script 위치 종료 -->
</body>
</html>