<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">PATRON | Settings</title>
  <meta name="Description" CONTENT="Receiving the latest news">
  <link rel="stylesheet" th:href="@{/css_v1_3/mypage/marketing.css}">
</head>

<body style="background-color: #0a0a0a">
<!--설정 헤더-->
<div th:replace="common/header-depth-goback.html" class="header-depth"></div>

<div class="wrap">
  <section class="marketing-section">
    <div>
      <h1 class="marketing-title" th:text="#{marketing.marketingNotification}">마케팅 및 알림 수신</h1>
      <ul>
        <li>
          <p th:text="#{marketing.benefitAndMarketing}">혜택 정보 및 마케팅</p>
          <button class="marketing-select" onclick="receiveToggle(this);">
            <span th:if="${status}">
              <i class="icon_confirm"></i>
              <span class="marketing-text blue" th:text="#{marketing.receieveMarketing}"></span>
            </span>
            <span th:unless="${status}">
              <i class="icon_confirm" style="display: none"></i>
              <span class="marketing-text" th:text="#{marketing.doNotReceiveMarketing}"></span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </section>
</div>

<!-- script 위치 시작 -->
<script th:inline="javascript">
  var doNotReceiveMarketing = [[#{marketing.doNotReceiveMarketing}]];
  var receieveMarketing = [[#{marketing.receieveMarketing}]];
</script>
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/setting.js}"></script>
<!-- script 위치 종료 -->
</body>
</html>