<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="robots" content="noindex,nofollow">
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">PATRON | Mypage</title>
  <link rel="stylesheet" th:href="@{/css_v1_3/mypage/mypage.css}">
  <link rel="stylesheet" th:href="@{/css_v1_3/common/thumbnail-component.css}">
</head>

<body style="background-color: #0a0a0a">

<div th:replace="common/header-depth.html"></div>

<main>
  <div class="wrap">
    <!--section header-->
    <section class="mypage-header-section fade-in-section">
      <div class="mypage-header-wrap">
        <h2 class="mypage-name" th:text="#{header.library}">라이브러리</h2>
      </div>
    </section>

    <!--section 2-->
    <div class="section-wrap" th:if="${artworkCollections != null && artworkCollections.size() != 0}">
      <section class="art-stream-contents-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{myCollection}">좋아한 작품</h2>
        <a class="mypage-collection-section-all" onclick="showModalSimply('#my_collection_all'); initModalAllMyCollection();changeToModalHeader();" th:text="#{seeAllSpace}" th:if="${artworkCollections.size() > 5}">모두 보기</a>
        <div class="carousel-wrap waiting-collection-wrap">
          <div class="owl-carousel carousel-wrap">
            <div th:each="artworkCollection,i : ${artworkCollections}" th:if="${i.index} < 15">
                <div class="curation-item">
                  <a th:if="${artworkCollection.getCollectionArtworks().size() > 0}" th:href="'/' + ${language} + '/collection-detail?col_id='+${artworkCollection.getId()}">
                    <img class="icon-curation" th:src="@{/img/icon_exhibition.png}" alt="icon_curation">
                    <div class="item-img-wrap">
                      <img th:src="${lastAddedArtworkInArtworkCollection[i.index] != null ? lastAddedArtworkInArtworkCollection[i.index].getArtwork().getContentsThumbnail().getDefaultImg() : 'https://stpatron001.blob.core.windows.net/container-patron-renewal/no_img_artwork.png'}"
                           th:alt="${artworkCollection.getCollectionName()}">
                    </div>
                    <span class="item-title" th:text="${artworkCollection.getCollectionName()}">누구누구님의 컬렉션</span>
                    <div class="info-wrap">
                      <span class="total-artwork" th:text="${artworkCollection.getCollectionArtworks().size()} + #{artwork}">10작품,</span>&nbsp;·&nbsp;
                      <span class="total-time" th:text="${artworkCollectionDuration[i.index]}">1시간 7분</span>
                    </div>
                  </a>

                    <!--작품이 없을 때 -->
                  <div th:unless="${artworkCollection.getCollectionArtworks().size() > 0}">
                    <div class="item-img-wrap no-collection">
                      <img class="no-collection-img" th:src="${lastAddedArtworkInArtworkCollection[i.index] != null ? lastAddedArtworkInArtworkCollection[i.index].getArtwork().getContentsThumbnail().getDefaultImg() : '/img/icon_logo_inactive.png'}"
                           th:alt="${artworkCollection.getCollectionName()}">
                    </div>
                    <img class="icon-curation" th:src="@{/img/icon_exhibition.png}" alt="saved-icon-curation-icon">
                    <span class="item-title" th:text="${artworkCollection.getCollectionName()}">누구누구님의 컬렉션</span>
                    <div class="no-collection-container">
                      <p class="item-artist" th:text="#{mypage.noArtworksInCollection}"></p>
                      <a class="collection-edit-anchor" th:href="'/' +${language} + '/collection-edit?col_id=' + ${artworkCollection.getId()}" th:text="#{here}">담기</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <a id="anchor_create_collection" th:if = "${(artworkCollections != null && artworkCollections.size() > 1) || (artworkCollections.size() == 1 && artworkCollections[0].getCollectionArtworks().size() > 0)}" th:href="'/' + ${language} + '/collection-new'" class="more-contents-anchor" th:text="#{collectionNew.createNewCollection}">새 컬렉션 만들기</a>
      </section>
    </div>

<!--    section 2.5-->
    <div class="section-wrap" th:if="${exhibitionsCollections != null && exhibitionsCollections.size() != 0}">
      <section class="art-stream-contents-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{mypage.savedExhibitions}">저장한 전시</h2>
        <a class="mypage-collection-section-all" onclick="showModalSimply('#my_exhibition_all'); initModalAllMyExhibition();changeToModalHeader();" th:text="#{seeAllSpace}" th:if="${exhibitionsCollections.size() > 5}">모두 보기</a>
        <div class="carousel-wrap waiting-collection-wrap">
          <div class="owl-carousel carousel-wrap">
            <div th:each="exhibitionCollection,index : ${exhibitionsCollections}"
                 th:if="${index.index} < 15">
              <div class="contents-wrap-div">
                <div class="curation-item">
                  <a th:href="'/' +${language} + '/player?exh_id='+${exhibitionCollection.getExhibition().getId()}">
                    <img class="icon-curation" th:src="@{/img/icon_exhibition.png}" alt="icon_curation">
                    <div class="item-img-wrap">
                      <img th:src="${exhibitionCollection.getExhibition().getArtworkExhibitions()[0].getArtwork().getContentsThumbnail().getDefaultImg()}"
                           th:each="detail : ${exhibitionCollection.getExhibition().getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getExhibitionName()}">
                    </div>
                    <p class="item-title" th:each="detail : ${exhibitionCollection.getExhibition().getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getExhibitionName()}">여름과 겨울 사이</p>
                    <p class="item-artist">
                      <span th:each="detail : ${exhibitionCollection.getExhibition().getArtistExhibitions()[0].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
                      <span th:if="${exhibitionCollection.getExhibition().getArtistExhibitions().size() > 1}">
                                        <span th:each="detail : ${exhibitionCollection.getExhibition().getArtistExhibitions()[1].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${', ' + detail.getArtistName()}"></span>
                                    </span>
                      <span th:if="${exhibitionCollection.getExhibition().getArtistExhibitions().size() > 2}">
                                        <span th:each="detail : ${exhibitionCollection.getExhibition().getArtistExhibitions()[2].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${', ' + detail.getArtistName()}"></span>
                                    </span>
                    </p>
                    <div class="info-wrap">
                      <span class="total-artwork" th:text="${exhibitionCollection.getExhibition().getArtworkExhibitions().size()} + #{artwork}">16작품</span>&nbsp;·&nbsp;<span class="total-time" th:text="${exhibitionsCollectionsDuration[index.index]}">42분 </span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="section-wrap" th:unless="${exhibitionsCollections != null && exhibitionsCollections.size() != 0}">
      <section class="art-stream-contents-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{mypage.savedExhibitions}">저장한 전시</h2>
        <div class="carousel-wrap waiting-collection-wrap">
          <div class="owl-carousel carousel-wrap">
            <div>
              <div class="contents-wrap-div">
                <div class="curation-item">
                  <a >
                    <img class="icon-curation" th:src="@{/img/icon_exhibition.png}" alt="icon_curation">
                    <div class="item-img-wrap no-collection">
                      <img class="no-collection-img" th:src="${'/img/icon_logo_inactive.png'}" th:alt="#{mypage.savedExhibitions}">
                    </div>
                    <span class="no-data-text" th:text="#{mypage.noSavedExhibitions}"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--section 3-->
    <div class="section-wrap" th:if="${waitingExhibitions != null && waitingExhibitions.size() != 0}">
      <section class="art-stream-waiting-exh-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{mypage.waitingExhibition}">좋아한 작품</h2>
        <a class="mypage-collection-section-all" onclick="showModalSimply('#my_waiting_exhibition_all'); initModalAllMyWaitingExhibition();changeToModalHeader();" th:text="#{seeAllSpace}" th:if="${waitingExhibitions.size() > 1}">모두 보기</a>
        <div class="carousel-wrap waiting-collection-wrap">
          <div class="owl-carousel">
            <!--d-day면-->
            <div class="carousel-item" th:each="waitingExhibition : ${waitingExhibitions}"
                 th:if="${leftTimeTillExhibition[waitingExhibitionStat.index] == 0}"
                 th:data-url="'/'+${language}+'/player?exh_id=' + ${waitingExhibition.getId()}"
                 onclick='location.href=this.dataset.url'>
              <a class="carousel-item-wrap">
                <div class="coming-soon-day-count" th:text="${leftTimeTillExhibition[waitingExhibitionStat.index] == 0 ? 'D-day' : 'D-' + leftTimeTillExhibition[waitingExhibitionStat.index]}">D-Day</div>
                <img class="collection-icon" th:src="@{/img/icon_exhibition.png}" alt="coming-soon-collection-icon">
                <div class="carousel-img-wrap">
                  <img th:src="${waitingExhibition.getArtworkExhibitions()[0].getArtwork().getContentsThumbnail().getDefaultImg()}"
                       th:each="detail : ${waitingExhibition.getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getExhibitionName()}">
                </div>
                <p class="carousel-text carousel-artwork-title" th:each="detail : ${waitingExhibition.getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getExhibitionName()}">Artwork Title</p>
              </a>
              <p class="carousel-text carousel-artwork-artist">
                <span class="korean-name" th:each="detail  : ${waitingExhibition.getArtworkExhibitions()[0].getArtwork().getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
              </p>
              <div class="carousel-icon-container">
                <p class="curation-total-artwork"><span th:text="${waitingExhibition.getArtworkExhibitions().size()} + #{artwork}">11작품</span>&nbsp;·&nbsp;<span th:text="${waitingExhibitionsDurationTime[waitingExhibitionStat.index]}">36분 감상</span></p>
                <a class="more-contents-anchor" th:if="${leftTimeTillExhibition[waitingExhibitionStat.index] == 0}" style="color: white!important;"><span style="color: white" th:text="#{mypage.watchRightNow}">지금 바로 감상하세요</span></a>
              </div>
            </div>
            <!--d-day가 아니면-->
            <div class="carousel-item" th:each="waitingExhibition : ${waitingExhibitions}"
                 th:if="${leftTimeTillExhibition[waitingExhibitionStat.index] != 0}"
                 th:onclick="'controlComingCollection('+${waitingExhibition.getArtworkExhibitions()[0].getExhibition().getId()}+',this)'">
              <a class="carousel-item-wrap">
                <div class="coming-soon-day-count" th:text="${leftTimeTillExhibition[waitingExhibitionStat.index] == 0 ? 'D-day' : 'D-' + leftTimeTillExhibition[waitingExhibitionStat.index]}">D-Day</div>

                <div class="carousel-img-wrap">
                  <img th:src="${waitingExhibition.getArtworkExhibitions()[0].getArtwork().getContentsThumbnail().getDefaultImg()}"
                       th:each="detail : ${waitingExhibition.getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getExhibitionName()}">
                </div>
                <img class="collection-icon" th:src="@{/img/icon_exhibition.png}" alt="coming-soon-collection-icon">
                <p class="carousel-text carousel-artwork-title" th:each="detail : ${waitingExhibition.getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getExhibitionName()}">Artwork Title</p>
              </a>
              <p class="carousel-text carousel-artwork-artist">
                <span class="korean-name" th:each="detail  : ${waitingExhibition.getArtworkExhibitions()[0].getArtwork().getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
              </p>
              <div class="carousel-icon-container">
                <p class="curation-total-artwork"><span th:text="${waitingExhibition.getArtworkExhibitions().size()} + #{artwork}">11작품</span>&nbsp;·&nbsp;<span th:text="${waitingExhibitionsDurationTime[waitingExhibitionStat.index]}">36분 감상</span></p>
                <a class="more-contents-anchor" th:if="${leftTimeTillExhibition[waitingExhibitionStat.index] != 0}"><img class="coming-soon-confirm-icon" th:src="@{/img/icon_confirm_white.png}" alt="confirm-icon"><span th:text="#{addedToCollection}">보관함에 담겨있어요</span></a>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
    <div class="section-wrap" th:unless="${waitingExhibitions != null && waitingExhibitions.size() != 0}">
      <section class="art-stream-waiting-exh-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{mypage.waitingExhibition}">좋아한 작품</h2>
        <div class="carousel-wrap waiting-collection-wrap">
          <div class="owl-carousel">
            <!--d-day가 아니면-->
            <div class="carousel-item">
              <a class="carousel-item-wrap">
                <div class="carousel-img-wrap no-collection">
                  <img class="no-collection-img" th:src="${'/img/icon_logo_inactive.png'}" th:alt="#{mypage.waitingExhibition}">
                </div>
                <img class="collection-icon" th:src="@{/img/icon_exhibition.png}" alt="coming-soon-collection-icon">
                <span class="no-data-text" th:text="#{mypage.noSavedExhibitions}"></span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--section 4-->
    <div class="section-wrap" th:if="${likedArtists != null && likedArtists.size() != 0}">
      <section class="artist-contents-section fade-in-section">
        <h2 class="artist-section-title" th:text="#{likedArtists}">좋아한 작가</h2>
        <a class="artist-section-all" onclick="showModalSimply('#my_favorite_artist_all'); initModalAllMyFavoriteArtist();changeToModalHeader();" th:text="#{seeAllSpace}" th:if="${likedArtists.size() > 5}">모두 보기</a>
        <div class="carousel-wrap">
          <div class="owl-carousel">
            <div class="carousel-item" th:each="likedArtist,index : ${likedArtists}"
                 th:if="${index.index} < 15">
              <a class="carousel-item-wrap-160" th:href="'/' + ${language} + '/artists/detail?artist_id='+${likedArtist.getId()}">

                <div class="carousel-img-wrap">
                  <img th:src="${likedArtist.getProfileImg() != null ? likedArtist.getProfileImg() : 'https://stpatron001.blob.core.windows.net/container-patron-renewal/no_img_artist.png'}"
                       th:each="detail : ${likedArtist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtistName()}">
                </div>
                <p class="carousel-text carousel-artist-name">
                  <span class="korean-name" th:each="detail : ${likedArtist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
                </p>
              </a>
              <div class="carousel-content-wrap">
                <!--                <div class="like-count">-->
                <!--                  <img th:src="@{/img/icon_heart.png}" alt="icon_heart"><span th:text="${likedArtist.getNumberOfLikes()}">5</span>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="section-wrap" th:unless="${likedArtists != null && likedArtists.size() != 0}">
      <section class="artist-contents-section fade-in-section">
        <h2 class="artist-section-title" th:text="#{likedArtists}">좋아한 작가</h2>
        <div class="carousel-wrap">
          <div class="owl-carousel">
            <div class="carousel-item">
              <a class="carousel-item-wrap-160">
                <div class="carousel-img-wrap no-collection">
                  <img class="no-collection-img" th:src="${'/img/icon_logo_inactive.png'}" th:alt="#{likedArtists}">
                </div>
                <span class="no-data-text" th:text="#{mypage.noLikedArtists}"></span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--section 5-->
    <div class="section-wrap" th:if="${likedArtworks != null && likedArtworks.size() != 0}">
      <section class="art-stream-contents-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{likedArtworks}">좋아한 작품</h2>
        <a class="mypage-collection-section-all" onclick="showModalSimply('#my_favorite_artwork_all'); initModalAllMyFavoriteArtwork();changeToModalHeader();" th:text="#{seeAllSpace}" th:if="${likedArtworks.size() > 5}">모두 보기</a>
        <div class=" carousel-wrap">
          <div class="owl-carousel">
            <div class="carousel-item" th:each="likedArtwork : ${likedArtworks}">
              <a class="carousel-item-wrap"
                 th:href="'/' + ${language} + '/player?art_id='+${likedArtwork.getId()}">
                <div class="carousel-gradation"></div>
                <div class="carousel-img-wrap">
                  <img th:src="${likedArtwork.getContentsThumbnail().getDefaultImg()}"  th:each="detail : ${likedArtwork.getArtworkDetails}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtworkName()}">
                </div>
                <p class="carousel-text carousel-artwork-title" th:each="detail : ${likedArtwork.getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtworkName()}">Artwork Title</p>
                <p class="carousel-text carousel-artwork-artist" >
                  <span class="korean-name" th:each="detail : ${likedArtwork.getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
                </p>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="section-wrap" th:unless="${likedArtworks != null && likedArtworks.size() != 0}">
      <section class="art-stream-contents-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{likedArtworks}">좋아한 작품</h2>
        <div class=" carousel-wrap">
          <div class="owl-carousel">
            <div class="carousel-item">
              <a class="carousel-item-wrap">
                <div class="carousel-gradation"></div>
                <div class="carousel-img-wrap no-collection">
                  <img class="no-collection-square-img" th:src="${'/img/icon_logo_inactive.png'}" th:alt="#{likedArtworks}">
                </div>
                <span class="no-data-text" th:text="#{collectionNew.noLikedArtworks}"></span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--section 6-->
    <div class="section-wrap last-section" th:if="${watchedArtworks != null && watchedArtworks.size() != 0}">
      <section class="art-stream-contents-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{mypage.watchedArtworks}">좋아한 작품</h2>
        <a class="mypage-collection-section-all" onclick="showModalSimply('#my_played_artwork_all'); initModalAllMyPlayedArtwork();changeToModalHeader();" th:text="#{seeAllSpace}" th:if="${watchedArtworks.size() > 5}">모두 보기</a>
        <div class=" carousel-wrap">
          <div class="owl-carousel">
            <div class="carousel-item" th:each="watchedArtwork,index : ${watchedArtworks}" th:if="${index.index} < 10">
              <a class="carousel-item-wrap"
                 th:href="'/' + ${language} + '/player?art_id='+${watchedArtwork.getId()}"
                 th:id="'item_id_'+ ${index.index}">
                <div class="carousel-img-wrap">
                  <img th:src="${watchedArtwork.getContentsThumbnail().getDefaultImg()}" th:each="detail : ${watchedArtwork.getArtworkDetails}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtworkName()}">
                </div>
                <p class="carousel-text carousel-artwork-title" th:each="detail : ${watchedArtwork.getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtworkName()}">Artwork Title</p>
                <p class="carousel-text carousel-artwork-artist" >
                  <span class="korean-name" th:each="detail : ${watchedArtwork.getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
                </p>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="section-wrap last-section" th:unless="${watchedArtworks != null && watchedArtworks.size() != 0}">
      <section class="art-stream-contents-section fade-in-section">
        <h2 class="art-stream-section-title" th:text="#{mypage.watchedArtworks}">좋아한 작품</h2>
        <div class=" carousel-wrap">
          <div class="owl-carousel">
            <div class="carousel-item">
              <a class="carousel-item-wrap">
                <div class="carousel-img-wrap no-collection">
                  <img class="no-collection-square-img" th:src="${'/img/icon_logo_inactive.png'}" th:alt="#{mypage.watchedArtworks}">
                </div>
                <span class="no-data-text" th:text="#{collectionNew.noSeenArtworks}"></span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
  </div>
  <input type="hidden" class="loggedIn" sec:authorize="isAuthenticated()" th:value="true">
  <input type="hidden" class="loggedIn" sec:authorize="!isAuthenticated()" th:value="false">
</main>
<!--작품 옵션 선택 창 (setModalData(selector) 참고)-->
<div id="artwork_option_box" class="artwork-option-box modal-container"></div>
<!--내 컬렉션 모두보기 모달-->
<div class="wrap modal-wrap all-info-wrap modal-content" id="my_collection_all">
  <section class="title-container">
    <h1 class="search-all-title" th:text="#{myCollection}">내 컬렉션</h1>
  </section>
  <section  class="art-stream-list-section">
    <h6 class="art-stream-count"><span id="my_collection_result_count" th:text="${artworkCollectionsCount}">9</span><span th:text="#{mypage.count}">건</span></h6>
    <div class="item-list">
      <!-- js로 태그 삽입 -->
    </div>
  </section>
</div>
<!--내가 저장한 전시 모두보기 모달-->
<div class="wrap modal-wrap all-info-wrap modal-content" id="my_exhibition_all">
  <section class="title-container">
    <h1 class="search-all-title" th:text="#{mypage.savedExhibitions}">저장한 전시</h1>
  </section>
  <section  class="art-stream-list-section">
    <h6 class="art-stream-count"><span id="my_exhibition_count" th:text="${exhibitionsCollectionsCount}">9</span><span th:text="#{mypage.count}">건</span></h6>
    <div class="item-list">
      <!-- js로 태그 삽입 -->
    </div>
  </section>
</div>
<!--내가 기다리는 전시 모두보기 모달-->
<div class="wrap modal-wrap all-info-wrap modal-content" id="my_waiting_exhibition_all">
  <section class="title-container">
    <h1 class="search-all-title" th:text="#{mypage.waitingExhibition}">기다리는 전시</h1>
  </section>
  <section  class="art-stream-list-section">
    <h6 class="art-stream-count"><span id="my_waiting_exhibition_count" th:text="${waitingExhibitionsCount}">9</span><span th:text="#{mypage.count}">건</span></h6>
    <div class="item-list">
      <!-- js로 태그 삽입 -->
    </div>
  </section>
</div>
<!--좋아하는 작품 모두보기 모달-->
<div class="wrap modal-wrap all-info-wrap modal-content" id="my_favorite_artwork_all">
  <section class="title-container">
    <h1 class="search-all-title" th:text="#{likedArtworks}">좋아한 작품</h1>
  </section>
  <section  class="artwork-list-section">
    <h6 class="artwork-count"><span id="my_favorite_artwork_count" th:text="${likedArtworksCount}">42</span><span th:text="#{mypage.count}">건</span></h6>
    <ul class="item-list">
      <!-- js로 태그 삽입 -->
    </ul>
  </section>
</div>
<!--팬을 맺은 작가 모두보기 모달-->
<div class="wrap modal-wrap all-info-wrap modal-content" id="my_favorite_artist_all">
  <section class="title-container">
    <h1 class="search-all-title" th:text="#{likedArtists}">좋아한 작가</h1>
  </section>
  <section  class="artist-list-section">
    <h6 class="artist-head-count"><span th:text="${likedArtistsCount}">9</span><span th:text="#{mypage.count}">건</span></h6>
    <ul class="item-list">
      <!-- js로 태그 삽입 -->
    </ul>
  </section>
</div>
<!--내가 감상한 작품 모두보기 모달-->
<div class="wrap modal-wrap all-info-wrap modal-content" id="my_played_artwork_all">
  <section class="title-container">
    <h1 class="search-all-title" th:text="#{mypage.watchedArtworks}">감상한 작품</h1>
  </section>
  <section class="artwork-list-section">
    <h6 class="artwork-count"><span id="my_played_artwork_count" th:text="${watchedArtworksCount}">42</span><span th:text="#{mypage.count}">건</span></h6>
    <ul class="item-list">
      <!-- js로 태그 삽입 -->
    </ul>
  </section>
</div>
<!--상세 정보 창-->
<div id="artwork_detail_box" class="artwork-detail-box wrap"></div>
<!--공유 옵션 선택 창-->
<div id="share_option_box" class="share-option-box">
  <div class="modal-gradation-box" onclick="closeModal('#share_option_box')"></div>
  <ul id="share_options" class="share-options">
    <li class="share-option-title" th:text="#{share}">
      공유
    </li>
    <li>
      <button type="button" id="btn_share_kakaotalk" onclick="closeModal('#share_option_box'); shareKakaoTalk();">
        <span th:text="#{kakaotalk}">카카오톡</span>
        <span id="ogText" style="display: none"></span>
        <span id="ogImg" style="display: none"></span>
      </button>
    </li>
    <li>
      <button type="button" id="btn_share_facebook" onclick="closeModal('#share_option_box'); shareFacebook();">
        <span th:text="#{facebook}">페이스북</span>
      </button>
    </li>
    <li>
      <button type="button" id="btn_share_twitter" onclick="closeModal('#share_option_box'); shareTwitter();">
        <span th:text="#{twitter}">트위터</span>
      </button>
    </li>
    <li>
      <button type="button" id="btn_copy_link" onclick="closeModal('#share_option_box')">
        <span th:text="#{copyLink}">링크 복사</span>
      </button>
    </li>
  </ul>
  <button type="button" id="btn_share_close" class="btn-share-close" onclick="closeModal('#share_option_box')">
    <img th:src="@{/img/icon_close_popup.png}" alt="icon_close_popup">
  </button>
</div>
<!--<div class="modal-box green modal-success">-->
<!--  저장되었습니다.-->
<!--</div>-->
<div id="collection_addition_modal" class="collection-addition-modal wrap"></div>
<!-- script 위치 시작 -->
<script th:inline="javascript">
  var artwork = [[#{artwork}]];
  var editCollection = [[#{mypage.editCollection}]];
  var save = [[#{save}]];
  var like = [[#{like}]];
  var liked = [[#{liked}]];
  var watchThisArtwork = [[#{watchThisArtwork}]];
  var addToCollection = [[#{addToCollection}]];
  var shareTo = [[#{shareTo}]];
  var artistInfo = [[#{artistInfo}]];
  var detailInfo = [[#{detailInfo}]];
  var artworkTitle = [[#{artworkTitle}]];
  var artistNameTitle = [[#{artistNameTitle}]];
  var techniqueTitle = [[#{techniqueTitle}]];
  var sizeTitle = [[#{sizeTitle}]];
  var yearTitle = [[#{yearTitle}]];
  var soundNameTitle = [[#{soundNameTitle}]];
  var soundCreatorTitle = [[#{soundCreatorTitle}]];
  var soundLicenseTitle = [[#{soundLicenseTitle}]];
  var recentlyUsed = [[#{recentlyUsed}]];
  var likeExhibition = [[#{likeExhibition}]];
  var unlikeExhibition = [[#{unlikeExhibition}]];
  var shareText = [[#{shareText}]];
  var goToWeb = [[#{goToWeb}]];
  var addedToWaitingExhibition = [[#{addedToWaitingExhibition}]];
  var removedFromWaitingExhibition = [[#{removedFromWaitingExhibition}]];
  var wantToWatchExhibition = [[#{home.wantToWatchExhibition}]];
  var addedToCollection = [[#{addedToCollection}]];
  var saved = [[#{saved}]];
  var removedFromCollection = [[#{removedFromCollection}]];
  var cancel = [[#{cancel}]];
  var copied = [[#{copied}]];
  var allCollections = [[#{allCollections}]];
  var addedToChosenCollection = [[#{addedToChosenCollection}]];
  var toBeDeleted = [[#{toBeDeleted}]];
  var ogText = [[#{ogText}]];
  var watchRightNow = [[#{mypage.watchRightNow}]];

</script>

<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<script th:src="@{/js_v1_3/common/owl.carousel.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{https://developers.kakao.com/sdk/js/kakao.js}"></script>
<script>
  Kakao.init('da1fee3add758b28330cf06dd2f04b15');
</script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/mypage.js}"></script>
<!-- script 위치 종료 -->
</body>

</html>
