<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
 <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
 <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
 <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
 <title id="html_title">PATRON</title>
 <link rel="stylesheet" th:href="@{/css_v1_3/mypage/help_adver.css}">
 <link rel="stylesheet" th:href="@{/css_v1_3/mypage/help_common.css}">
</head>
<body>

<!--설정 헤더-->
<div th:replace="common/header-depth.html" class="header-depth"></div>
<main style="margin-top: 70px;">
<div th:utext="${notice.getContent()}" class="content-area" style="max-width: 768rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 70px;
    min-width: 360rem;">
</div>

</main>

<!-- script 위치 시작 -->
<script type="text/javascript" th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>

<script>
 // 9월 21일 이후 접속할 경우 home으로 되돌아간다
 let today = new Date();
 let month = today.getMonth() + 1;
 let day = today.getDate();
 month = month >= 10 ? month : '0' + month;
 day = day >= 10 ? day : '0' + day;

 let endDay = Number(today.getFullYear() + month + day);
 endDay < 20220921 ? '' : location.href = ${language}'/home'

</script>
<!-- script 위치 종료 -->

</body>
</html>