<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="robots" content="noindex,nofollow">
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">PATRON | Settings</title>
  <link rel="stylesheet" th:href="@{/css_v1_3/mypage/password-reset.css}">
  <style>
    .wrap {
      height: auto!important;
    }
  </style>
</head>
<body>

<!--설정 헤더-->
<div th:replace="common/header-depth-goback.html" class="header-depth"></div>

<main>
  <!-- 비밀번호 변경하기 -->
  <div class="wrap light">
    <div class="hidden-area">
      <section id="carousel" class="password-find-section">
        <!-- 비밀번호 입력 -->
        <div id="step_1" class="carousel-item w-box login-step1">
          <h2 class="login-section-title" th:text="#{passwordReset.previousPassword}">현재 비밀번호를 입력하세요</h2>
          <div class="login-input-area">
            <p class="login-input-title" th:text="#{password}">비밀번호</p>
            <label class="label-hidden" for="user_current_pw" th:text="#{password}">비밀번호</label>
            <input type="password" maxlength='16' id="user_current_pw" class="login-input email-id" onkeyup="btnActivation(this,'btn_step1')" autofocus>
            <div class="pw-show-box">
              <i class="check-blue"></i>
              <img id="btn_pw_show" class="btn-pw-show" onclick="pwShowToggle('user_current_pw');" th:src="@{/img/icon_blind.png}" th:alt="#{showPassword}">
            </div>
          </div>
          <div>
            <button type="button" id="btn_step1" class="btn-login-next" disabled onclick="checkCurrentPw('user_current_pw');" th:text="#{next}">다음</button>
          </div>
        </div>

        <!-- 비밀번호 입력 -->
        <div id="step_2" class="carousel-item w-box login-step2">
          <h2 class="login-section-title" th:text="#{newPasswordInput}">새 비밀번호를 입력하세요</h2>
          <div class="login-input-area">
            <p class="login-input-title" th:text="#{password}">비밀번호</p>
            <label class="label-hidden" for="user_new_pw" th:text="#{passwordReset.newPassword}">새 비밀번호</label>
            <input type="password" maxlength='16' id="user_new_pw" class="login-input email-id" onkeyup="btnActivation(this,'btn_step2')">
            <div class="pw-show-box">
              <i class="check-blue check-blue-second"></i>
              <img id="btn_pw_show_second" class="btn-pw-show btn-pw-show-second" onclick="pwShowToggleSecond('user_new_pw');" th:src="@{/img/icon_blind.png}" th:alt="#{showPassword}">
            </div>
          </div>
          <ul class="pw-check-list">
            <li class="pw-eng">
              <i class="pw-check"></i>
              <span th:text="#{lowerCaseUse}">영문 대소문자 사용</span>
            </li>
            <li class="pw-spe">
              <i class="pw-check"></i>
              <span th:text="#{capitalLetterUse}">특수문자 사용</span>
            </li>
            <li class="pw-length">
              <i class="pw-check"></i>
              <span th:text="#{moreThanEightChars}">8자 이상 사용</span>
            </li>
          </ul>
          <div>
            <button type="button" id="btn_step2" class="btn-login-next" onclick="changeCurrentPw()" th:text="#{next}" disabled>다음</button>
          </div>
        </div>

        <!-- 비밀번호 변경 완료 모달-->
        <div class="modal-content modal-changed-pw" style="display: none">
          <div class="modal-area">
            <p class="modal-title" th:text="#{passwordReset.savedChangedPassword}">변경된 비밀번호로 저장되었습니다.</p>
            <button type="button" id="btn_changed_pw" class="btn" onclick="history.go(-1)" th:text="#{confirm}">확인</button>
          </div>
        </div>

      </section>
    </div>
  </div>
</main>


<!-- script 위치 시작 -->
<script th:inline="javascript">
  var passwordInvalid = [[#{passwordInvalid}]];
</script>
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/password-reset.js}"></script>
<!-- script 위치 종료 -->
</body>
</html>