<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="robots" content="noindex,nofollow">
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">PATRON | Settings</title>
  <link rel="stylesheet" th:href="@{/css_v1_3/mypage/setting.css}">
</head>
<body>

<!--설정 헤더-->
<div th:replace="common/header-depth-goback.html" class="header-depth"></div>

<main>
  <div class="wrap">
    <div class="hidden-area">
      <section class="profile-edit-section">
        <!-- 프로필 편집 -->
        <div class="edit-profile">
          <ul class="edit-profile-nav">
            <li class="edit-profile-info">
              <h1 class="edit-profile-title" th:text="#{editProfile}">프로필 편집</h1>
              <p th:text="#{profile.selectItemToChange}">변경하려는 항목을 선택하여 편집할 수 있습니다.</p>
              <p th:text="#{profile.emailNotChangeable}">이메일주소(변경불가)</p>
              <div>
                <p th:text="${generalMember.getEmail()}">jykim@naver.com</p>
                <i th:if="${generalMember.getProvider() == 'Google'}" th:data-social="${generalMember.getProvider()}"><img th:src="@{/img/icon_google.png}" alt="icon_google"></i>
                <i th:if="${generalMember.getProvider() == 'Facebook'}" th:data-social="${generalMember.getProvider()}"><img th:src="@{/img/icon_facebook.png}" alt="icon_facebook"></i>
                <i th:if="${generalMember.getProvider() == 'Kakao'}" th:data-social="${generalMember.getProvider()}"><img th:src="@{/img/icon_kakao_white.png}" alt="icon_kakao"></i>
              </div>
            </li>

            <li class="edit-profile-menu">
              <p class="edit-profile-menu-title" th:text="#{userName}">사용자 이름</p>
              <p class="edit-profile-menu-box" onclick="editProfileModal('name')">
                <span class="edit-profile-menu-sub profile-name" th:if="${generalMember.getName()}" th:text="${generalMember.getName()}">김재윤</span>
                <span class="edit-profile-menu-sub profile-name" th:unless="${generalMember.getName()}" th:text="#{profile.additionalInput}">김재윤</span>
                <i><img th:src="@{/img/icon_more.png}" th:alt="#{profile.changeUserName}"></i>
              </p>
            </li>
            <li class="edit-profile-menu">
              <p class="edit-profile-menu-title" th:text="#{profile.birthday}">생년월일</p>
              <p class="edit-profile-menu-box" onclick="editProfileModal('birth')">
                <span class="edit-profile-menu-sub profile-birth" th:if="${generalMember.getBirth()}" th:text="${#temporals.format(generalMember.getBirth(), 'yyyy.MM.dd')}">추가입력</span>
                <span class="edit-profile-menu-sub profile-birth" th:unless="${generalMember.getBirth()}" th:text="#{profile.additionalInput}">추가입력</span>
                <i><img th:src="@{/img/icon_more.png}" th:alt="#{profile.birthdayAdd}"></i>
              </p>
            </li>
            <li class="edit-profile-menu">
              <p class="edit-profile-menu-title" th:text="#{profile.gender}">성별</p>
              <p class="edit-profile-menu-box" onclick="editProfileModal('gender')">
                <span class="edit-profile-menu-sub profile-gender" th:if="${generalMember.getGender()}" th:text="${generalMember.getGender()}">추가입력</span>
                <span class="edit-profile-menu-sub profile-gender" th:unless="${generalMember.getGender()}" th:text="#{profile.additionalInput}">추가입력</span>
                <i><img th:src="@{/img/icon_more.png}" th:alt="#{profile.genderAdd}"></i>
              </p>
            </li>
            <li class="edit-profile-menu">
              <p class="edit-profile-menu-title" th:text="#{profile.nationality}">국가</p>
              <p class="edit-profile-menu-box" onclick="editProfileModal('nationality')">
                <span class="edit-profile-menu-sub profile-nationality" th:if="${generalMember.getNationality()}" th:text="${generalMember.getNationality()}">추가입력</span>
                <span class="edit-profile-menu-sub profile-nationality" th:unless="${generalMember.getNationality()}" th:text="#{profile.additionalInput}">추가입력</span>
                <i><img th:src="@{/img/icon_more.png}" th:alt="#{profile.nationalityAdd}"></i>
              </p>
            </li>
            <li class="user-left-menu">
              <p th:text="#{profile.subscriptionDate}">최초 가입일</p>
              <p th:text="${#temporals.format(generalMember.getCreate_time(), 'yyyy.MM.dd')}">2022.02.22</p>
              <span class="user-left"><a th:href="'/'+ ${language} + '/mypage/profile/left'" th:text="#{profile.deleteAccount}">탈퇴하기</a></span>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</main>

<div id="modal_profile_edit" class="modal-profile-edit"></div>

<!-- script 위치 시작 -->
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/setting.js}"></script>
<!-- script 위치 종료 -->
</body>
</html>