<div class="mypage-modal-header">
  <div class="nav_menu">
    <a onclick="closeProfileEditModal();" class="btn-cancel" th:text="#{cancel}">취소</a>
  </div>
</div>

  <div class="wrap">
      <!-- 프로필 편집 - 국가 -->
      <div class="wrap light edit-nation">
        <div class="hidden-area">
          <section class="edit-detail-section">
            <div>
              <h2 class="edit-detail-title" th:text="#{profileNation.nationalityInput}">국가를 선택하세요</h2>
              <p class="edit-detail-guide" th:text="#{profileNation.nationalityInputDescription}">
                회원님이 주로 활동하는 국가를 선택해주세요. 파트론에서 진행하는 이벤트에 참여하실 수 있습니다.
              </p>
              <div class="edit-detail-select-area">
                <p class="edit-detail-select-title" th:text="#{profile.nationality}">국가</p>
                <div id="edit_nation" class="edit-detail-select user_nation" onclick="slideModalOpen('select-option-box-nation')">
                  <span id="selected_value" th:text="${generalMember.getNationality()}">여기를 눌러 선택하세요</span>
                  <i></i>
                </div>
                <button id="btn_save" class="btn-save" disabled onclick="editProfile('selected_value','nationality')" th:text="#{save}">저장</button>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- 프로필 편집 - 국가 선택 (피그마 변경 예정) -->
      <div class="modal-content select-option-box-nation" style="display: none">
        <p class="select-option-title" th:text="#{profileNation.chooseNation}">국가 선택</p>
        <ul id="nations-list" class="select-options">
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SouthKorea} + '\')'" th:text="#{country.SouthKorea}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.UnitedStatesofAmerica} + '\')'" th:text="#{country.UnitedStatesofAmerica}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Japan} + '\')'" th:text="#{country.Japan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Afghanistan} + '\')'" th:text="#{country.Afghanistan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Albania} + '\')'" th:text="#{country.Albania}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Algeria} + '\')'" th:text="#{country.Algeria}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Andorra} + '\')'" th:text="#{country.Andorra}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Angola} + '\')'" th:text="#{country.Angola}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.AntiguaandBarbuda} + '\')'" th:text="#{country.AntiguaandBarbuda}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Argentina} + '\')'" th:text="#{country.Argentina}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Armenia} + '\')'" th:text="#{country.Armenia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Australia} + '\')'" th:text="#{country.Australia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Austria} + '\')'" th:text="#{country.Austria}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Azerbaijan} + '\')'" th:text="#{country.Azerbaijan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Bahamas} + '\')'" th:text="#{country.Bahamas}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Bahrain} + '\')'" th:text="#{country.Bahrain}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Bangladesh} + '\')'" th:text="#{country.Bangladesh}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Barbados} + '\')'" th:text="#{country.Barbados}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Belarus} + '\')'" th:text="#{country.Belarus}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Belgium} + '\')'" th:text="#{country.Belgium}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Belize} + '\')'" th:text="#{country.Belize}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Benin} + '\')'" th:text="#{country.Benin}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Bhutan} + '\')'" th:text="#{country.Bhutan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Bolivia} + '\')'" th:text="#{country.Bolivia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.BosniaandHerzegovina} + '\')'" th:text="#{country.BosniaandHerzegovina}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Botswana} + '\')'" th:text="#{country.Botswana}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Brazil} + '\')'" th:text="#{country.Brazil}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Brunei} + '\')'" th:text="#{country.Brunei}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Bulgaria} + '\')'" th:text="#{country.Bulgaria}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.BurkinaFaso} + '\')'" th:text="#{country.BurkinaFaso}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Burundi} + '\')'" th:text="#{country.Burundi}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.CaboVerde} + '\')'" th:text="#{country.CaboVerde}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Cambodia} + '\')'" th:text="#{country.Cambodia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Cameroon} + '\')'" th:text="#{country.Cameroon}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Canada} + '\')'" th:text="#{country.Canada}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.CentralAfricanRepublic} + '\')'" th:text="#{country.CentralAfricanRepublic}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Chad} + '\')'" th:text="#{country.Chad}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Chile} + '\')'" th:text="#{country.Chile}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.China} + '\')'" th:text="#{country.China}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Colombia} + '\')'" th:text="#{country.Colombia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Comoros} + '\')'" th:text="#{country.Comoros}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.CongoDemocraticRepublicofthe} + '\')'" th:text="#{country.CongoDemocraticRepublicofthe}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.CongoRepublicofthe} + '\')'" th:text="#{country.CongoRepublicofthe}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.CostaRica} + '\')'" th:text="#{country.CostaRica}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.CotedIvoire} + '\')'" th:text="#{country.CotedIvoire}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Croatia} + '\')'" th:text="#{country.Croatia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Cuba} + '\')'" th:text="#{country.Cuba}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Cyprus} + '\')'" th:text="#{country.Cyprus}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Czechia} + '\')'" th:text="#{country.Czechia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Denmark} + '\')'" th:text="#{country.Denmark}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Djibouti} + '\')'" th:text="#{country.Djibouti}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Dominica} + '\')'" th:text="#{country.Dominica}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.DominicanRepublic} + '\')'" th:text="#{country.DominicanRepublic}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Ecuador} + '\')'" th:text="#{country.Ecuador}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Egypt} + '\')'" th:text="#{country.Egypt}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.ElSalvador} + '\')'" th:text="#{country.ElSalvador}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.EquatorialGuinea} + '\')'" th:text="#{country.EquatorialGuinea}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Eritrea} + '\')'" th:text="#{country.Eritrea}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Estonia} + '\')'" th:text="#{country.Estonia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Eswatini} + '\')'" th:text="#{country.Eswatini}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Ethiopia} + '\')'" th:text="#{country.Ethiopia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Fiji} + '\')'" th:text="#{country.Fiji}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Finland} + '\')'" th:text="#{country.Finland}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.France} + '\')'" th:text="#{country.France}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Gabon} + '\')'" th:text="#{country.Gabon}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Gambia} + '\')'" th:text="#{country.Gambia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Georgia} + '\')'" th:text="#{country.Georgia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Germany} + '\')'" th:text="#{country.Germany}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Ghana} + '\')'" th:text="#{country.Ghana}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Greece} + '\')'" th:text="#{country.Greece}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Grenada} + '\')'" th:text="#{country.Grenada}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Guatemala} + '\')'" th:text="#{country.Guatemala}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Guinea} + '\')'" th:text="#{country.Guinea}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Guinea-Bissau} '+) '\'" th:text="#{country.Guinea-Bissau}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Guyana} + '\')'" th:text="#{country.Guyana}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Haiti} + '\')'" th:text="#{country.Haiti}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Honduras} + '\')'" th:text="#{country.Honduras}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Hungary} + '\')'" th:text="#{country.Hungary}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Iceland} + '\')'" th:text="#{country.Iceland}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.India} + '\')'" th:text="#{country.India}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Indonesia} + '\')'" th:text="#{country.Indonesia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Iran} + '\')'" th:text="#{country.Iran}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Iraq} + '\')'" th:text="#{country.Iraq}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Ireland} + '\')'" th:text="#{country.Ireland}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Israel} + '\')'" th:text="#{country.Israel}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Italy} + '\')'" th:text="#{country.Italy}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Jamaica} + '\')'" th:text="#{country.Jamaica}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Jordan} + '\')'" th:text="#{country.Jordan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Kazakhstan} + '\')'" th:text="#{country.Kazakhstan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Kenya} + '\')'" th:text="#{country.Kenya}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Kiribati} + '\')'" th:text="#{country.Kiribati}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Kosovo} + '\')'" th:text="#{country.Kosovo}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Kuwait} + '\')'" th:text="#{country.Kuwait}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Kyrgyzstan} + '\')'" th:text="#{country.Kyrgyzstan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Laos} + '\')'" th:text="#{country.Laos}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Latvia} + '\')'" th:text="#{country.Latvia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Lebanon} + '\')'" th:text="#{country.Lebanon}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Lesotho} + '\')'" th:text="#{country.Lesotho}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Liberia} + '\')'" th:text="#{country.Liberia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Libya} + '\')'" th:text="#{country.Libya}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Liechtenstein} + '\')'" th:text="#{country.Liechtenstein}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Lithuania} + '\')'" th:text="#{country.Lithuania}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Luxembourg} + '\')'" th:text="#{country.Luxembourg}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Madagascar} + '\')'" th:text="#{country.Madagascar}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Malawi} + '\')'" th:text="#{country.Malawi}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Malaysia} + '\')'" th:text="#{country.Malaysia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Maldives} + '\')'" th:text="#{country.Maldives}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Mali} + '\')'" th:text="#{country.Mali}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Malta} + '\')'" th:text="#{country.Malta}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.MarshallIslands} + '\')'" th:text="#{country.MarshallIslands}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Mauritania} + '\')'" th:text="#{country.Mauritania}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Mauritius} + '\')'" th:text="#{country.Mauritius}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Mexico} + '\')'" th:text="#{country.Mexico}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Micronesia} + '\')'" th:text="#{country.Micronesia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Moldova} + '\')'" th:text="#{country.Moldova}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Monaco} + '\')'" th:text="#{country.Monaco}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Mongolia} + '\')'" th:text="#{country.Mongolia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Montenegro} + '\')'" th:text="#{country.Montenegro}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Morocco} + '\')'" th:text="#{country.Morocco}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Mozambique} + '\')'" th:text="#{country.Mozambique}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Myanmar} + '\')'" th:text="#{country.Myanmar}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Namibia} + '\')'" th:text="#{country.Namibia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Nauru} + '\')'" th:text="#{country.Nauru}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Nepal} + '\')'" th:text="#{country.Nepal}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Netherlands} + '\')'" th:text="#{country.Netherlands}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.NewZealand} + '\')'" th:text="#{country.NewZealand}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Nicaragua} + '\')'" th:text="#{country.Nicaragua}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Niger} + '\')'" th:text="#{country.Niger}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Nigeria} + '\')'" th:text="#{country.Nigeria}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.NorthKorea} + '\')'" th:text="#{country.NorthKorea}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.NorthMacedonia} + '\')'" th:text="#{country.NorthMacedonia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Norway} + '\')'" th:text="#{country.Norway}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Oman} + '\')'" th:text="#{country.Oman}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Pakistan} + '\')'" th:text="#{country.Pakistan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Palau} + '\')'" th:text="#{country.Palau}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Palestine} + '\')'" th:text="#{country.Palestine}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Panama} + '\')'" th:text="#{country.Panama}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.PapuaNewGuinea} + '\')'" th:text="#{country.PapuaNewGuinea}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Paraguay} + '\')'" th:text="#{country.Paraguay}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Peru} + '\')'" th:text="#{country.Peru}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Philippines} + '\')'" th:text="#{country.Philippines}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Poland} + '\')'" th:text="#{country.Poland}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Portugal} + '\')'" th:text="#{country.Portugal}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Qatar} + '\')'" th:text="#{country.Qatar}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Romania} + '\')'" th:text="#{country.Romania}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Russia} + '\')'" th:text="#{country.Russia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Rwanda} + '\')'" th:text="#{country.Rwanda}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SaintKittsandNevis} + '\')'" th:text="#{country.SaintKittsandNevis}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SaintLucia} + '\')'" th:text="#{country.SaintLucia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SaintVincentandtheGrenadines} + '\')'" th:text="#{country.SaintVincentandtheGrenadines}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Samoa} + '\')'" th:text="#{country.Samoa}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SanMarino} + '\')'" th:text="#{country.SanMarino}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SaoTomeandPrincipe} + '\')'" th:text="#{country.SaoTomeandPrincipe}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SaudiArabia} + '\')'" th:text="#{country.SaudiArabia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Senegal} + '\')'" th:text="#{country.Senegal}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Serbia} + '\')'" th:text="#{country.Serbia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Seychelles} + '\')'" th:text="#{country.Seychelles}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SierraLeone} + '\')'" th:text="#{country.SierraLeone}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Singapore} + '\')'" th:text="#{country.Singapore}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Slovakia} + '\')'" th:text="#{country.Slovakia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Slovenia} + '\')'" th:text="#{country.Slovenia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SolomonIslands} + '\')'" th:text="#{country.SolomonIslands}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Somalia} + '\')'" th:text="#{country.Somalia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SouthAfrica} + '\')'" th:text="#{country.SouthAfrica}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SouthSudan} + '\')'" th:text="#{country.SouthSudan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Spain} + '\')'" th:text="#{country.Spain}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.SriLanka} + '\')'" th:text="#{country.SriLanka}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Sudan} + '\')'" th:text="#{country.Sudan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Suriname} + '\')'" th:text="#{country.Suriname}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Sweden} + '\')'" th:text="#{country.Sweden}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Switzerland} + '\')'" th:text="#{country.Switzerland}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Syria} + '\')'" th:text="#{country.Syria}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Taiwan} + '\')'" th:text="#{country.Taiwan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Tajikistan} + '\')'" th:text="#{country.Tajikistan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Tanzania} + '\')'" th:text="#{country.Tanzania}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Thailand} + '\')'" th:text="#{country.Thailand}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Timor-Leste} '+) '\'" th:text="#{country.Timor-Leste}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Togo} + '\')'" th:text="#{country.Togo}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Tonga} + '\')'" th:text="#{country.Tonga}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.TrinidadandTobago} + '\')'" th:text="#{country.TrinidadandTobago}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Tunisia} + '\')'" th:text="#{country.Tunisia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Turkey} + '\')'" th:text="#{country.Turkey}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Turkmenistan} + '\')'" th:text="#{country.Turkmenistan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Tuvalu} + '\')'" th:text="#{country.Tuvalu}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Uganda} + '\')'" th:text="#{country.Uganda}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Ukraine} + '\')'" th:text="#{country.Ukraine}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.UnitedArabEmirates} + '\')'" th:text="#{country.UnitedArabEmirates}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.UnitedKingdom} + '\')'" th:text="#{country.UnitedKingdom}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Uruguay} + '\')'" th:text="#{country.Uruguay}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Uzbekistan} + '\')'" th:text="#{country.Uzbekistan}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Vanuatu} + '\')'" th:text="#{country.Vanuatu}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.VaticanCity} + '\')'" th:text="#{country.VaticanCity}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Venezuela} + '\')'" th:text="#{country.Venezuela}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Vietnam} + '\')'" th:text="#{country.Vietnam}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Yemen} + '\')'" th:text="#{country.Yemen}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Zambia} + '\')'" th:text="#{country.Zambia}"></button></li>
          <li><button type="button" th:onclick="'selectValue(\'' + #{country.Zimbabwe} + '\')'" th:text="#{country.Zimbabwe}"></button></li>

        </ul>
        <button type="button'" class="btn-modal-close" onclick="slideModalClose()">
          <img th:src="@{/img/icon_close_popup.png}" alt="icon_close_popup">
        </button>
      </div>
    </div>