<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex,nofollow">
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <title id="html_title">PATRON | Settings</title>
    <link rel="stylesheet" th:href="@{/css_v1_3/mypage/setting.css}">
</head>
<body style="background-color: #0a0a0a">

<!--설정 헤더-->
<div th:replace="common/header-depth.html" class="header-depth"></div>

<main>
    <!-- 마이페이지 설정 -->
    <div class="setting">
        <section class="setting-section">
            <!--설정 네비게이션-->
            <ul class="setting-nav">
                <li>
                    <div class="user-profile">
                        <h1 class="user-name" th:text="${generalMember.getName()}">김재윤</h1>
                        <a class="anchor-edit-profile" th:href="'/' + ${language} + '/mypage/profile'">
                            <span th:text="#{editProfile}">프로필 편집</span>
                            <i><img th:src="@{/img/icon_more.png}" th:alt="#{editProfile}"></i>
                        </a>
                    </div>
                </li>

                <li class="setting-menu">
                    <p class="setting-menu-title" th:text="#{account}">계정</p>
                    <ul>
                        <li>
                            <a th:if="${generalMember}" th:data-provider="${generalMember.getProvider()}" id="password_reset" onclick="pwReset(this);">
                                <span th:text="#{setting.changePassword}">비밀번호 변경</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{setting.changePassword}"></i>
                            </a>
                        </li>
                        <li><button type="button" class="btn-logout" onclick="logoutAndPopup()" th:text="#{logout}">로그아웃</button></li>
                    </ul>
                </li>

                <li class="setting-menu">
                    <p class="setting-menu-title" th:text="#{setting.deviceOrApp}">디바이스 및 앱</p>
                    <ul>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/application/tv'">
                                <span th:text="#{loginTv.loggedInTv}">로그인 된 TV</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{loginTv.loggedInTv}"></i>
                            </a>
                        </li>
<!--                        <li>-->
<!--                            <a sec:authorize="isAuthenticated()" href="/mypage/connect/tv">-->
<!--                                <span>TV 연결</span>-->
<!--                                <i><img th:src="@{/img/icon_more.png}" alt="TV 연결"></i>-->
<!--                            </a>-->
<!--                            <a sec:authorize="!isAuthenticated()" onclick="NonMemberInAccessible();">-->
<!--                                <span>TV 연결</span>-->
<!--                                <i><img th:src="@{/img/icon_more.png}" alt="TV 연결"></i>-->
<!--                            </a>-->
<!--                        </li>-->
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/use-tv'">
                                <span th:text="#{setting.tvUseMethod}">TV 이용 방법</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{setting.tvUseMethod}"></i>
                            </a>
                        </li>
                        <li>
                            <a onclick="editProfileModal('language'); changeToModalHeader()">
                                <span th:text="#{setting.language}">언어</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{setting.language}"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/marketing'">
                                <span th:text="#{marketing.marketingNotification}">마케팅 및 알림 수신</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{marketing.marketingNotification}"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/application/info'">
                                <span th:text="#{applicationInfo.appInfo}">앱 정보</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{applicationInfo.appInfo}"></i>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="setting-menu">
                    <p class="setting-menu-title" th:text="#{setting.history}">기록 및 데이터</p>
                    <ul>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/seen-artworks?page=1'">
                                <span th:text="#{seenArtworks.watchedHistory}">감상 기록</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{seenArtworks.watchedHistory}"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/search-history'">
                                <span th:text="#{searchHistory.searchHistory}">검색 기록</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{searchHistory.searchHistory}"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="setting-menu">
                    <p class="setting-menu-title" th:text="#{customerSatisfaction}">고객만족</p>
                    <ul>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/help?type=notice'">
                                <span th:text="#{notice}">공지사항</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{notice}"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/help?type=FAQ'">
                                <span th:text="#{faq}">자주하는 질문</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{faq}"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/help?type=QnA'">
                                <span th:text="#{inquiry}">1:1문의</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{inquiry}"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="setting-menu">
                    <p class="setting-menu-title" th:text="#{setting.serviceUse}">서비스 약관</p>
                    <ul>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/terms-of-service?type=service'">
                                <span th:text="#{footer.termsOfService}">서비스 이용약관</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{footer.termsOfService}"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/terms-of-service?type=privacy'">
                                <span th:text="#{setting.personalInfoPolicy}">개인 정보 처리 방침</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{setting.personalInfoPolicy}"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="'/' + ${language} + '/mypage/terms-of-service?type=account'">
                                <span th:text="#{footer.termsOfAccount}">계정 운영정책</span>
                                <i><img th:src="@{/img/icon_more.png}" th:alt="#{footer.termsOfAccount}"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="setting-menu customer-contact">
                    <div>
                        <span th:text="#{customerSatisfaction}">고객만족</span>
                        <a class="copy-email" onclick="copyToClipboard('help@patron.digital')">help@patron.digital</a>
                    </div>
                    <button type="button" id="btn_copy" onclick="copyToClipboard('help@patron.digital')" th:text="#{copy}">복사</button>
                </li>
            </ul>
        </section>
    </div>



    <!-- 간편로그인 비밀번호 변경 모달 -->
    <div class="modal-content modal-changed-pw" style="display: none">
        <div class="modal-area">
            <p class="modal-title">
                <span th:unless="${language.equals('en')}" th:text="${generalMember.getProvider()}">카카오톡</span><span th:text="#{setting.snsAccountRestriction}">(으)로 가입되어 있어, 비밀번호 변경이 불가합니다.</span> <span th:if="${language.equals('en')}" th:text="${generalMember.getProvider() + '.'}">카카오톡</span>
            </p>
            <button type="button" id="btn_modal_okay" class="btn" onclick="modalClose();" th:text="#{signup.previousStep}">확인</button>
        </div>
    </div>

    <div id="modal_profile_edit" class="modal-profile-edit"></div>

</main>


<!-- script 위치 시작 -->
<script th:inline="javascript">
    var receieveMarketing = [[#{marketing.receieveMarketing}]];
    var doNotReceiveMarketing = [[#{marketing.doNotReceiveMarketing}]];
    var logoutJs = [[#{setting.logout}]];
    var copied = [[#{copied}]];
    var saved = [[#{saved}]];

</script>
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/setting.js}"></script>
<!-- script 위치 종료 -->
</body>
</html>