<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <title id="html_title">PATRON | How to use</title>
    <meta name="Description" CONTENT="How to use the service">
    <link rel="stylesheet" th:href="@{/css_v1_3/mypage/use-tv.css}">
</head>
<body style="background-color: #0a0a0a">

<!--설정 헤더-->
<div th:replace="common/header-depth-goback.html" class="header-depth"></div>

<main>
    <div class="wrap">
        <section class="user-tv-section">
            <div class="use-tv-container">
                <h2 th:text="#{footer.howToUseTv}">TV 이용방법</h2>
                <div class="use-tv-nav" id="use_tv_nav">
                    <ul>
                        <li class="nav-samsung blue"><button type="button" onclick="useTv('SAMSUNG');" th:text="#{footer.samsung}">삼성 QLED TV</button></li>
                        <li class="nav-lg"><button type="button" onclick="useTv('LG');">LG OLED TV</button></li>
                        <li class="nav-chromecast"><button type="button" onclick="useTv('CHROMECAST');" th:text="#{footer.chromecast}">크롬캐스트</button></li>
                        <li class="nav-kt"><button type="button" onclick="useTv('KT');" th:text="#{footer.kt}">KT 기가지니</button></li>
                    </ul>
                </div>

                <!--삼성-->
                <div id="use_tv_contents" class="use-tv-contents">
<!--                    <p class="use-tv-guide">-->
<!--                        <span class="open-coming-soon" th:text="#{useTv.comingSoon}">삼성, LG, 구글 크롬캐스트, 아마존 파이어TV는 10월 1일부터 사용할 수 있습니다.</span>-->
<!--                        <span th:text="#{useTv.comingSoon2}">삼성 QLED TV에서 파트론을 실행하려면 TV홈 화면에서 시작하여 아래 단계를 따르세요.</span>-->
<!--                    </p>-->
<!--                    <div class="use-tv-info" th:text="#{useTv.info}">-->
<!--                        <span class="numbering">1.</span> TV홈 화면에서 <strong>Apps<i class="icon_apps_btn"></i></strong> 로 이동합니다.<br><br>-->
<!--                        <span class="numbering">2.</span> 진입한 화면에서 오른쪽 상단의 <strong>검색 아이콘<i class="icon_search_btn"></i></strong>을 선택합니다.<br><br>-->
<!--                        <span class="numbering">3.</span> <strong>검색창에 "patron"을 입력</strong>한 후 결과에서 앱을 선택합니다.<br><br>-->
<!--                        <span class="numbering">4.</span> <strong>설치 버튼</strong> 을 선택하여 앱을 설치합니다.<br><br>-->
<!--                        <span class="numbering">5.</span> TV 홈 화면에서 <strong>Patron 앱</strong>을 실햅합니다.<br><br>-->
<!--                        <span class="numbering">6.</span> 휴대폰으로 화면에 보이는 <strong>QR코드<i class="icon_code"></i></strong> 를 스캔하여 로그인 합니다.<br><br>-->
<!--                    </div>-->
<!--                    <div class="use-tv-reference">-->
<!--                        <div>-->
<!--                            <strong class="text-min-box" th:text="#{reference}">참고</strong>-->
<!--                            <p th:text="#{useTv.reference}">-->
<!--                                &nbsp 2018년도부터 출시된 모든 QLED TV에서 파트론을 만나볼 수 있습니다. Tizen 4.0 이상-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <!--LG-->
                <div class="use-tv-contents" style="display: none">
                    <p class="use-tv-guide">
                        <span class="open-coming-soon" th:text="#{useTv.comingSoon}">삼성, LG, 구글 크롬캐스트, 아마존 파이어TV는 10월 1일부터 사용할 수 있습니다.</span>
                        <span th:text="#{useTv.comingSoon2}">삼성 QLED TV에서 파트론을 실행하려면 TV홈 화면에서 시작하여 아래 단계를 따르세요.</span>
                    </p>
                    <div class="use-tv-info" th:text="#{useTv.info}">
                        <span class="numbering">1.</span> TV홈 화면에서 <strong>LG 콘텐츠 스토어<i class="icon_apps_btn"></i></strong> 로 이동합니다.<br><br>
                        <span class="numbering">2.</span> 진입한 스토어 화면에서 오른쪽 상단 메뉴 중 <strong>앱<i class="icon_LG_apps"></i></strong> 을 선택합니다.<br><br>
                        <span class="numbering">3.</span> 진입한 화면에서 오른쪽 상단의 <strong>검색 아이콘 <i class="icon_search_btn"></i></strong> 을 선택합니다.<br><br>
                        <span class="numbering">4.</span> <strong>검색창에 "patron"을 입력</strong>한 후 결과에서 앱을 선택합니다.<br><br>
                        <span class="numbering">5.</span> <strong>설치 버튼</strong> 을 선택하여 앱을 설치합니다.<br><br>
                        <span class="numbering">6.</span> TV 홈 화면에서 <strong>Patron 앱</strong>을 실햅합니다.<br><br>
                        <span class="numbering">7.</span> 휴대폰으로 화면에 보이는 <strong>QR코드<i class="icon_code"></i></strong> 를 스캔하여 로그인 합니다.<br><br>
                    </div>
                    <div class="use-tv-reference">
                        <div>
                            <strong class="text-min-box" th:text="#{reference}">참고</strong>
                            <p th:text="#{useTv.reference}">
                                &nbsp 2018년도부터 출시된 모든 OLED TV에서 파트론을 만나볼 수 있습니다. webOS 4.0 이상
                            </p>
                        </div>
                    </div>
                </div>
                <!--Chromecast-->
                <div class="use-tv-contents" style="display: none">
                    <p class="use-tv-guide" th:text="#{useTv.chromecastDescription}">
                        크롬캐스트(Google TV)에서 파트론을 실행하려면 <br>TV 홈 화면에서 아래 단계를 따르세요.
                    </p>
                    <div class="use-tv-info" th:text="#{useTv.chromeCastInfo}">
                        <span class="numbering">1.</span> TV 홈 화면의 상단메뉴 중 <strong>앱</strong>으로 이동합니다.<br><br>
                        <span class="numbering">2.</span> 진입한 화면에서 화면 하단의 <strong>앱 및 게임 검색</strong>을<br>선택합니다.<br><br>
                        <span class="numbering">3.</span> <strong>검색창에 “patron”을 입력</strong>한 후 결과에서 앱을 선택합니다.<br><br>
                        <span class="numbering">4.</span> <strong>설치 버튼</strong>을 선택하여 앱을 설치합니다.<br><br>
                        <span class="numbering">5.</span> TV 홈 화면 또는 내 앱에서 <strong>Patron 앱</strong>을 실행합니다.<br><br>
                        <span class="numbering">6.</span> 휴대폰으로 화면에 보이는 <strong>QR코드<i class="icon_code"></i></strong>를 스캔하여 로그인 합니다.<br><br>
                    </div>
                </div>
                <!--KT-->
                <div class="use-tv-contents" style="display: none">
                    <p class="use-tv-guide" th:text="#{useTv.kt}">
                        더이상 미술작품 전시 보러 멀리가지 마세요. "지니야, 파트론 틀어줘" 한마디로 우리집이 내가 꿈꾸던 나만의 홈 갤러리가 됩니다.
                    </p>
                    <div class="use-tv-info" th:text="#{useTv.ktInfo}">
                        <span class="numbering">1.</span> 기가지니 홈 화면에서 <strong>"우리집 갤러리"</strong> 또는 메뉴에서 우리집 갤러리 앱을 실행하세요.<br><br>
                        <span class="numbering">2.</span> 별도 절차 없이 <strong>단말 가입 정보 활용 동의</strong>로 간편하게 이용할 수 있습니다.<br><br>
                        <span class="numbering">3.</span> 추천하는 전시를 감상하거나, 마음에 드는 작품을 골라 감상해보세요.<br><br>
                        <span class="numbering">4.</span> 감상 중 '액자모드'를 통해 음악 없이 <strong>우리집 액자로 활용</strong>할 수도 있습니다.<br><br>
                    </div>
                    <div class="use-tv-reference">
                        <div>
                            <strong class="text-min-box" th:text="#{reference}">참고</strong>
                            <p th:text="#{useTv.referenceTv}">
                                &nbsp KT 기가지니용 단말 가입자에게 별도 제공되는 ‘우리집 갤러리’ 서비스입니다. PC와 모바일에서 가입한 회원의 연동은 불가합니다.
                            </p>
                        </div>
                        <div>
                            <strong class="text-min-box" th:text="#{provision}">제공</strong>
                            <p th:text="#{useTv.ginieVersions}">
                                &nbsp 기가지니1, 기가지니2, 기가지니3, 기가지니A
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- script 위치 시작 -->
<script th:inline="javascript">
    var samsungDescription = [[#{useTv.samsungDescription}]];
    var lgDescription = [[#{useTv.lgDescription}]];
    var chromecastDescription = [[#{useTv.chromecastDescription}]];
    var ktDescription = [[#{useTv.ktDescription}]];
</script>
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/mypage/setting.js}"></script>
<script th:src="@{/js_v1_3/mypage/use-tv.js}"></script>
<!-- script 위치 종료 -->
</body>
</html>