html {
  -webkit-overflow-scrolling: touch;
}

.owl-carousel .owl-stage-outer {
  overflow: unset;
}

.art-magazine-main-section {
  background: #0A0A0A;
  transform: translateY(1px);
}
.art-magazine-main-section .art-magazine-main-section-title {
  padding: 88px 0 12px 0;
}
.art-magazine-main-section .art-magazine-main-section-title h1 {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  color: #ffffff;
}
.art-magazine-main-section .art-magazine-main-section-title p {
  margin-top: 16px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #E0E0E0;
}
.art-magazine-main-section .art-magazine-tab-container {
  height: 73px;
  box-sizing: border-box;
  overflow-x: scroll;
  scroll-behavior: smooth;
  color: rgba(245, 245, 245, 0.65);
}
.art-magazine-main-section .art-magazine-tab-container::-webkit-scrollbar {
  display: none;
}
.art-magazine-main-section .art-magazine-tab-container .art-magazine-tab {
  display: flex;
  width: max-content;
  flex-direction: row;
  flex-wrap: nowrap;
}
.art-magazine-main-section .art-magazine-tab-container .art-magazine-tab .tablinks:nth-of-type(1) {
  color: #fff;
}
.art-magazine-main-section .art-magazine-tab-container .tablinks {
  display: block;
  height: auto;
  margin-right: 12px;
  background-color: transparent;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 17px;
  line-height: 25px;
  color: rgba(245, 245, 245, 0.65);
}
.art-magazine-main-section .art-magazine-tab-container .tablinks .tablink-title {
  display: block;
  width: auto;
  height: 25px;
  margin-bottom: 3px;
  line-height: 25px;
}
.art-magazine-main-section .art-magazine-tab-container .tablinks .focus-bar {
  display: block;
  opacity: 0;
  width: inherit;
  height: 3px;
  background: #2841fa;
}
.art-magazine-main-section .art-magazine-tab-container .tablinks .focus-bar.first-focus-bar {
  opacity: 1;
}

article {
  position: relative;
  height: 100vh;
  background-color: #0A0A0A;
}
article .magazine-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.art-magazine-recommendation-section {
  padding-bottom: 40px;
}
.art-magazine-recommendation-section .art-magazine-recommendation-title {
  margin-bottom: 8px;
}
.art-magazine-recommendation-section .art-magazine-recommendation-title h2 {
  height: 36px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}
.art-magazine-recommendation-section .art-magazine-carousel .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.art-magazine-recommendation-section .art-magazine-carousel .carousel-item {
  height: 502px;
  background: rgba(255, 255, 255, 0.08);
}
.art-magazine-recommendation-section .art-magazine-carousel .carousel-item .carousel-text-wrap {
  bottom: 16px;
  padding: 16px 16px 0px 16px;
}
.art-magazine-recommendation-section .art-magazine-carousel .carousel-item .art-magazine-carousel-img-wrap {
  height: 359px;
}
.art-magazine-recommendation-section .art-magazine-carousel .carousel-item .carousel-magazine-number {
  position: absolute;
  top: 327px;
  right: 12px;
  width: 37px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 10px;
  z-index: 1;
}
.art-magazine-recommendation-section .art-magazine-carousel .carousel-item .carousel-exh-title {
  margin-bottom: 24px;
}
.art-magazine-recommendation-section .art-magazine-carousel .carousel-item .carousel-exh-content {
  height: 40px;
  font-family: RobotoRegular, notoSansRegular, serif;
}

.art-magazine-section {
  padding-bottom: 40px;
}
.art-magazine-section .art-magazine-title {
  margin-bottom: 4px;
}
.art-magazine-section .art-magazine-title h2 {
  height: 36px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}
.art-magazine-section .art-magazine-container {
  width: inherit;
}
.art-magazine-section .art-magazine-container .art-magazine-item {
  display: flex;
  width: inherit;
  height: 96px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}
.art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(1) {
  margin-right: 32px;
  width: 100%;
}
@media screen and (min-width: 481px) {
  .art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(1) {
    width: 82%;
  }
}
.art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(1) .art-magazine-category {
  height: 18px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
  color: rgba(245, 245, 245, 0.65);
}
.art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(1) .art-magazine-title {
  height: auto;
  max-height: 54px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 18px;
  line-height: 26px;
  color: #f5f5f5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(1) .art-magazine-time {
  height: 18px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: rgba(245, 245, 245, 0.65);
}
.art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(2) {
  min-width: 96px;
  min-height: 96px;
  border-radius: 4px;
  overflow: hidden;
}
@media screen and (min-width: 481px) {
  .art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(2) {
    width: 170px;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(2) {
    max-width: 96px;
    max-height: 96px;
  }
}
.art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(2) img {
  width: auto;
  height: inherit;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 481px) {
  .art-magazine-section .art-magazine-container .art-magazine-item li:nth-of-type(2) img {
    width: 100%;
  }
}

@media screen and (min-width: 481px) {
  .art-magazine-main-section, .art-magazine-recommendation-section, .art-magazine-section, .art-magazine-section {
    width: 768rem;
  }
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=artmagazine.css.map */
