.art-magazine-exh-section .art-magazine-section-title {
  height: 27px;
  margin-bottom: 8px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
}

.magazine-info-container {
  position: relative;
  padding: 48px 0 12px 0;
}
.magazine-info-container .player-wrap {
  width: 100vw;
  position: relative;
  left: 0;
  z-index: 2;
  -webkit-filter: grayscale(100%);
}
@media screen and (min-width: 481px) {
  .magazine-info-container .player-wrap {
    position: relative;
    width: 768rem;
    height: 432rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.magazine-info-container .player-wrap .player-box {
  overflow: hidden;
  width: 100vw;
}
@media screen and (min-width: 481px) {
  .magazine-info-container .player-wrap .player-box {
    width: inherit;
    height: inherit;
  }
}
.magazine-info-container .player-wrap .player-box img {
  width: inherit;
}
.magazine-info-container .article-gradation {
  position: absolute;
  left: 0;
  width: inherit;
  height: 100%;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 47.92%, #0A0A0A 100%);
}
@media screen and (min-width: 481px) {
  .magazine-info-container .article-gradation {
    width: inherit;
    height: inherit;
    top: 0;
  }
}
.magazine-info-container img {
  width: 100vw;
}
.magazine-info-container .exh-info-section {
  display: block;
  margin-top: 10px;
}
.magazine-info-container .exh-info-section .breadcrumb {
  display: flex;
  width: auto;
  height: 24px;
  border-radius: 12px;
  color: #ffffff;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 24px;
  opacity: 0.65;
}
.magazine-info-container .exh-info-section .exh-title {
  margin: 8px 0 12px 0;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 28px;
  color: #f5f5f5;
}
.magazine-info-container .exh-info-section .exh-createTime {
  height: 18px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: rgba(245, 245, 245, 0.65);
}
.magazine-info-container .exh-info-section .exh-info-wrap {
  display: block;
  width: auto;
  height: 18px;
  margin-bottom: 8px;
  line-height: 18px;
  color: rgba(245, 245, 245, 0.65);
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
}

.exh-article-title {
  width: 328px;
  padding-top: 24px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.exh-article-contents {
  width: 100%;
  padding: 0;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 30px;
  color: #0A0A0A;
}
.exh-article-contents img {
  width: inherit;
  margin-top: 24px;
}
.exh-article-contents span {
  display: block;
  margin-bottom: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
}

.btn-share-exh {
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 76px;
  margin: 0 0 60px 0;
  background: transparent;
}
.btn-share-exh img {
  width: 52px;
}
.btn-share-exh span {
  display: block;
  height: 18px;
  margin-top: 6px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #0A0A0A;
}

.art-magazine-exh-section {
  padding: 40px 0;
}
.art-magazine-exh-section .art-magazine-section-title {
  color: #f5f5f5;
}
.art-magazine-exh-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.art-magazine-exh-section .carousel-exh-title {
  width: auto;
  height: 27px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 18px;
  line-height: 21px;
}
.art-magazine-exh-section .carousel-exh-artist {
  color: #ffffff;
  opacity: 0.65;
}
.art-magazine-exh-section .art-magazine-carousel .carousel-item {
  height: 410px;
  background: rgba(255, 255, 255, 0.08);
}
.art-magazine-exh-section .art-magazine-carousel .carousel-item .carousel-img-wrap {
  height: 246px;
}
.art-magazine-exh-section .art-magazine-carousel .carousel-item .icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 17px;
  right: 12px;
}
.art-magazine-exh-section .art-magazine-carousel .carousel-item .carousel-text-wrap {
  top: 246px;
}
.art-magazine-exh-section .art-magazine-carousel .carousel-item .carousel-artist-content {
  margin-top: 24px;
}

.art-magazine-relative-artist .art-magazine-exh-section {
  padding: 40px 0 80px 0;
}
.art-magazine-relative-artist img {
  -webkit-filter: grayscale(100%);
}

@media screen and (min-width: 481px) {
  .exh-info-section, .art-magazine-exh-section {
    width: 768rem;
  }
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=artmagazine-detail.css.map */
