@import '../common/library';

%subtitle-style{
  height: 27px;
  margin-bottom: 8px;
  font-family: $bothBold;
  font-size: $fontsize-regular-big;
  line-height: 26px;
}

.collection-info-section{
  display: block;
  padding-top: calc((100vw/16)*9);
  @media screen and (min-width: 481px){
    padding-top: 48px;
  }
  .collection-title{
    width: auto;
    height: 36px;
    margin-top: 8px;
    font-family: $bothBold;
    font-size: $fontsize-big;
    line-height: 28px;
    color: $text-light;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .collection-sub-title {
    font-family: $notoSansRegular;
    font-size: $fontsize-small;
    color: $opacity-level1-light;
    margin-top: 8.5px;
  }
  .collection-info-wrap1{
    display: block;
    width: auto;
    height: 18px;
    margin-bottom: 8px;
    line-height: 18px;
    color: $opacity-level1-light;
    font-size: $fontsize-small;
    font-family: $bothRegular;
    .collection-artwork{
      height: 18px;
      background: transparent;
      font-family: $bothRegular;
      font-size: $fontsize-small;
      line-height: 17px;
      text-decoration-line: underline;
      color: $opacity-level1-light;
    }
  }
  .collection-info-wrap2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .collection-info-anchor{
      display: flex;
      width: 28px;
      height: 28px;
      img{
        width: inherit;
      }
    }
    .btn-remove-collection{
      width: 28px;
      height: 28px;
      align-self: center;
      img{
        width: inherit;
      }
    }
    button {
      font-family: $notoSansMedium;
      font-size: $fontsize-small-regular;
      color: $opacity-level1-light;
      line-height: 20px;
      background-color: transparent;
      text-decoration: underline;
      margin-right: 6px;
    }
    span {
      font-family: $notoSansMedium;
      font-size: $fontsize-small-regular;
      color: $opacity-level1-light;
      line-height: 20px;
      display: inline-block;
    }
  }
  .collection-description{
    font-family: $bothRegular;
    font-size: $fontsize-regular;
    line-height: 30px;
  }
  .collection-tags{
    display: flex;
    padding-top: 24px;
    ul{
      display: flex;
      li{
        height: 28px;
        padding: 0px 10px;
        margin-right: 8px;
        line-height: 28px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 14px;
        color: rgba(255, 255, 255, 0.65);
        font-family: $bothMedium;
        font-size: $fontsize-small;
        a{
          display: block;
          width: inherit;
          height: inherit;
        }
      }
    }
  }
  .btn-connect-tv{
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 328px;
    height: 48px;
    margin-top: 40px;
    line-height: 48px;
    background: $primary-color;
    border-radius: $border-radius-breadcrumbs;
    font-family: $bothMedium;
    font-size: $fontsize-regular;
    color: $text-lightest;
    img{
      width: 28px;
      height: 28px;
      margin-right: 4px;
      transform: translateY(7px);
    }
  }
}

.player-wrap{
  width: 100vw;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 2;
  @media screen and (min-width: 481px){
    position: relative;
    width: 768rem;
    height: 432rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .play-step-1{
    display: block;
    width: 100vw;
    @media screen and (min-width: 481px){
      width: 768rem;
      .loading img {
        transform: translateX(-50%);
      }
    }
    .player-gradation{
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: 204px;
      background: linear-gradient(180deg, rgba(10, 10, 10, 0) 47.92%, #0A0A0A 100%);
    }
    img{
      width: inherit;
    }
  }
  .play-step-2{
    display: none;
    width: 100vw;
    img{
      width: inherit;
      -webkit-filter:grayscale(100%);
    }
  }
  .play-step-3{
    position: relative;
    display: block;
    width: 100vw;
    //height: 202.5px;
    @media screen and (min-width: 481px){
      width: inherit;
      height: inherit;
    }
    .player-gradation{
      position: absolute;
      width: 100vw;
      height: inherit;
      background: linear-gradient(180deg, rgba(10, 10, 10, 0) -70.12%, #0A0A0A 100%);
      @media screen and (min-width: 481px) {
        width: 105%;
        height: inherit;
        margin-left: -1px;
      }
    }
    img{
      //width: inherit;
    }
    .controllers{
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 232px;
      flex-direction: row;
      justify-content: space-between;
      button{
        background: transparent;
        img{
          width: 56px;
        }
      }
    }
    .play-time{
      position: absolute;
      bottom: 14.5px;
      left: 12px;
      height: 18px;
      font-family: $bothMedium;
      font-size: $fontsize-small;
      line-height: 17px;
      color: rgba(245, 245, 245, 0.8);
    }
    #fullScreen {
      width: 48px;
      position: absolute;
      bottom: 14.5px;
      height: 16px;
      right: 12px;
      cursor: pointer;
      img{
        width: 16px;
        right: 0;
        height: 16px;
        position: absolute;
        bottom: 0;
      }
    }
  }

}
.btn-play-exhibition{
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translatex(-50%);
  background: transparent;
  width: 56px;
}
.btn-skip-docent{
  position: absolute;
  top: 153px;
  right: 16px;
  z-index: 3;
  width: 104px;
  height: 34px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  line-height: 34px;
  font-size: $fontsize-small;
}
.play-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 2px;
  background-color: $primary-color;
}
.fixed-bar {
  display: block;
  position: fixed;
  left: 0;
  width: inherit;
  height: 2px;
  background-color: $grayscale7;
}
.playing-bar {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $primary-color;
}
.playing-gif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px!important;
  height: 28px;
}
//section 1-1
//.current-artwork-wrap{
//  display: none;
//  //position: fixed;
//  //top: 250.5px;
//  z-index: 2;
//  .current-artwork-section{
//    height: 67px;
//    box-sizing: border-box;
//    ul{
//      display: flex;
//      height: inherit;
//      flex-direction: row;
//      justify-content: space-between;
//      box-sizing: border-box;
//      li:nth-of-type(1){
//        padding-top: 8px;
//        .carousel-artist-type{
//          height: 15px;
//          font-family: $bothMedium;
//          font-size: 10px;
//          line-height: 12px;
//          color: $opacity-level1-light;
//        }
//        .carousel-collection-title{
//          height: 18px;
//          font-family: $bothMedium;
//          font-size: $fontsize-small;
//          line-height: 14px;
//          color: $text-light;
//        }
//        .carousel-collection-artist{
//          height: 18px;
//          font-family: $bothRegular;
//          font-size: $fontsize-small;
//          line-height: 17px;
//          color: $text-light;
//        }
//      }
//      li:nth-of-type(2){
//        position: relative;
//        .btn-connect-tv{
//          position: absolute;
//          top: 50%;
//          right: 0;
//          transform: translateY(-50%);
//          background: transparent;
//          img{
//            width: 28px;
//          }
//        }
//      }
//
//    }
//  }
//}

.collection-artworks-section {
  position: relative;
  padding: 0 0 40px 0;
  margin: auto;
  //border-top: 1px solid #424242;
}
.collection-artworks-section {
  .collection-artworks-title {
    font-family: $bothBold;
    font-style: normal;
    font-size: $fontsize-regular-big;
    line-height: 26.06px;
    color: #f5f5f5;
    margin-bottom: 8px;
  }

  a.collection-artworks-all {
    //note 모두보기??
    display: none;
    font-family: $notoSansRegular;
    font-style: normal;
    font-weight: 500;
    font-size: $fontsize-small-regular;
    line-height: 20px;
    color: $opacity-level1-light;
    position: absolute;
    top: 8px;
    right: 0;
    text-decoration: underline;
  }

  .collection-artwork-img-wrap img {
    width: 80px;
    height: auto;
  }

  .collection-artworks {
    display: flex;
    flex-direction: row;
    width: 88%;
    height: 45px;
    background: transparent;
    @media screen and (min-width: 481px){
      width: 92%;
    }
  }
  .collection-artworks-img-wrap {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    min-width: 45px;
    width: 45px;
    height: 45px;
    img {
      width: inherit;
      height: inherit;
      &.playing-gif{
        height: 28px;
      }
    }
  }
  .collection-artworks-list{
    display: flex;
    flex-direction: column;
    //@media screen and (min-width: 481px){
    //  flex-direction: row;
    //  flex-wrap: wrap;
    //}
    > li{
      padding: 6px 0;
      width: inherit;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .shared-link{
        display: none;
      }
      //@media screen and (min-width: 481px) {
      //  margin-right: 40px;
      //}
    }
    > li:last-of-type{
      margin-bottom: 0px;
    }
    .collection-artwork{
      display: flex;
      flex-direction: row;
      width: 88%;
      height: 45px;
      background: transparent;
      .collection-artwork-img-wrap{
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        min-width: 45px;
        width: 45px;
        height: 45px;
        img{
          position: absolute;
          top: 0;
          height: inherit;
          object-fit: cover;
          left: 50%;
          transform: translatex(-50%);
          width: auto;
          &.playing-gif{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 19px;
            height: 19px;
          }
        }
      }
    }
    .artwork-txt-info{
      width: 100%;
      overflow: hidden;
      margin-left: 12px;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-self: center;
      .artwork-info{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .artwork-info:nth-of-type(1){
        font-family: $bothRegular;
        font-size: $fontsize-regular;
        text-align: left;
        line-height: 19px;
        color: #f5f5f5;
      }
      .artwork-info:nth-of-type(2){
        font-family: $bothRegular;
        font-size: $fontsize-small-regular;
        text-align: left;
        line-height: 20px;
        color: #f5f5f5;
        opacity: $opacity-level1;
      }
    }
    .icon-show-option{
      width: 28px;
      height: 28px;
      background: transparent;
      align-self: center;
      img{
        width: inherit;
      }
      span{
        display: none;
      }
    }
  }
}
.art-stream-similar-collection-section {
  padding: 40px 0 0 0;
  border-top: 1px solid #424242;
}
.art-stream-similar-artist-section {
  padding: 40px 0 80px 0;
  border-top: 1px solid #424242;
}
.art-stream-similar-collection-section,
.art-stream-similar-artist-section {
  .art-stream-section-title{
    @extend %subtitle-style;
    color: $text-light;
  }
  .owl-carousel{
    display: block;
    .owl-stage-outer{
      overflow: inherit;
    }
  }
  .carousel-artist-type {
    margin-bottom: 4px;
  }
  .carousel-collection-title{
    width: auto;
    height: 27px;
    font-family: $bothRegular;
    font-size: $fontsize-regular-big;
    line-height: 21px;
    max-width: 292px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .carousel-collection-artist{
    height: 24px;
    font-family: $notoSansRegular;
    font-size: $fontsize-small-regular;
    line-height: 20px;
    color: $opacity-level1-light;
  }
  .more-contents-anchor{
    margin: 0;
    transform: translate(0);
  }
}
.art-stream-similar-collection-section {
  .art-stream-carousel{
    .carousel-item{
      height: 410px;
      background: rgba(255, 255, 255, 0.08);
      .carousel-img-wrap{
        height: 246px;
      }
      .icon-exhibition{
        z-index: 1;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 17px;
        right: 12px;
      }
      .carousel-text-wrap{
        top: 246px;
      }
      .carousel-artist-content{
        margin-top: 20px;
      }
    }
  }
}
.art-stream-similar-artist-section {
  .art-stream-carousel{
    .carousel-item{
      height: 381px;
      background: rgba(255, 255, 255, 0.08);
      .carousel-img-wrap{
        height: 246px;
      }
      .icon-exhibition{
        width: 28px;
        height: 28px;
        position: absolute;
        top: 17px;
        right: 12px;
      }
      .carousel-text-wrap{
        top: 246px;
      }
      .carousel-artist-content{
        margin-top: 20px;
      }
    }
  }
}
//지금 재생중인 작품
.now-playing-info{
  display: none;
  width: 100%;
  height: 77px;
  position: relative;
  margin: 24px 0 28px 0;
  border-top: 1px solid rgba(66, 66, 66, 0.65);
  border-bottom: 1px solid rgba(66, 66, 66, 0.65);
  box-sizing: border-box;
  background-color: #0a0a0a;
  &.scrolled{
    @media screen and (max-width: 481px){
      display: flex;
      width: 100vw;
      position: fixed;
      top:calc(48px + (100vw/16)*9);
      z-index: 2;
      left: 50%;
      transform: translatex(-50%);
      border: none;
      margin-top: 0;
    }
    ul{
      @media screen and (max-width: 481px) {
        width: calc(100vw - 32px);
        margin: auto;
        left: 50%;
        transform: translate(-50%,-50%);
        top: 50%;
      }
    }
  }
  ul{
    display: flex;
    width: inherit;
    height: 45px;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    li{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:nth-of-type(1){
        max-width: 80px;
        width: 80px;
        min-width: 80px;
        height: 45px;
        @media screen and (min-width: 481px){
          margin-right: 16px;
        }
        .playing-gif {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 28px;
          height: 28px;
        }
        img{
          width: inherit;
          border-radius: 4px;
        }
      }
      &:nth-of-type(2){
        width: 200px;
        height: 45px;
        margin-left: 12px;
        @media screen and (min-width: 481px){
          flex-basis: 900rem;
        }
        p:nth-of-type(1){
          display: block;
          max-width: 190px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 24px;
          font-family: $bothRegular;
          font-size: $fontsize-regular;
          line-height: 19px;
          //display: flex;
          align-items: center;
          color: $text-light;
        }
        p:nth-of-type(2){
          height: 21px;
          font-family: $bothRegular;
          font-size: $fontsize-small-regular;
          line-height: 20px;
          color: $text-light;
          opacity: $opacity-level1;
        }
      }
      &:nth-of-type(3){
        position: absolute;
        width: 28px;
        height: 45px;
        right: 8px;
        .btn-more-now-playing{
          width: inherit;
          vertical-align: middle;
          position: relative;
          top: 50%;
          transform: translatey(-50%);
          background: transparent;
          img{
            width: inherit;
          }
        }
      }
    }
  }
}


//artwork options style

.artwork-option-box{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
  .artwork-options{
    @media screen and (max-width: 481px){
      width: calc(100vw - 40px);
    }
    position: absolute;
    //top: 294px;
    bottom: 176px;
    left: 50%;
    transform: translateX(-50%);
    .artwork-wrap{
      .artwork-id{
        display: none;
      }
      a, button{
        display: flex;
        margin-bottom: 28px;
      }
      img{
        width: 96px;
        height: 54px;
        margin-right: 12px;
        border-radius: 4px;
        transform: translatey(0);
      }
      .artwork-txt-info{
        width: 200px;
        padding-top: 5px;
        margin-left: 12px;
        .artwork-info{
          white-space: nowrap;
          width: auto;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .artwork-info:nth-of-type(1){
          height: 24px;
          font-family: $bothMedium;
          font-size: $fontsize-regular;
          line-height: 24px;
          color: $text-light;
        }
        .artwork-info:nth-of-type(2){
          height: 21px;
          font-family: $bothRegular;
          font-size: $fontsize-small-regular;
          line-height: 21px;
          color: $text-light;
          opacity: $opacity-level1;
        }
      }
    }
    button,
    .artist-information{
      display: block;
      background: transparent;
      width: 100%;
      height: 52px;
      line-height: 52px;
      text-align: left;
      img{
        width: 28px;
        height: 28px;
        transform: translatey(8px);
      }
      span{
        margin-left: 8px;
        font-family: $bothRegular;
        font-size: $fontsize-regular;
        line-height: 23px;
        color: $text-light;
      }
    }
  }
  .btn-artwork-options-close{
    width: 56px;
    height: 56px;
    position: absolute;
    //top: 686px;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    img{
      width: inherit;
    }
  }
}


.art-stream-carousel-img-wrap img {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}
.art-stream-similar-artist-section .art-stream-carousel-img-wrap img {
  -webkit-filter: grayscale(100%);
}
.now_playing_info_artwork {
  max-width: 200px;
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

//tv connection modal
.code-error-modal{
  z-index: 1000;
  color : $error-color;
}
.tv-connection-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  section{
    position: relative;
    top: 48px;
  }
  .blue {
    background-color: $primary-color!important;
  }
  ol.tv-connection-guide-text{
    list-style: decimal;
    height: 72px;
    font-family: $bothRegular;
    font-size: $fontsize-small;
    line-height: 17px;
    color: $text-gray;
    padding-left: 16px;
  }
  .tv-connection-container{
    width: 360px;
    margin-right: 40px;
  }
  .tv-connection-title{
    margin-top: 16px;
    font-family: $notoSansBold;
    font-size: $fontsize-big;
    color: $text-black;
    margin-bottom: 4px;
  }
  .tv-connection-subtitle{
    font-family: $notoSansRegular;
    font-size: $fontsize-small-regular;
    color: $grayscale6;
  }
  .code-input-area {
    margin-top: 16px;
  }
  .code-input-title {
    font-family: $notoSansMedium;
    font-size: $border-radius-breadcrumbs;
    color: $primary-color;
  }
  .code-input {
    font-family: $notoSansRegular;
    font-size: 20px;
    color: #f5f5f5;;
    width: 328px;
    height: 54px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px $primary-color;
    caret-color: $primary-color;
    margin-bottom: 16px;
  }
  .btn-text {
    display: block;
    font-family: $notoSansRegular;
    font-size: $fontsize-small-regular;
    color: #f5f5f5;;
    text-decoration: underline;
    background-color: transparent;
  }
  .btn-tv-guide{
    margin-top: 16px;
  }
  .btn-complete{
    position: fixed;
    //bottom: 10%;
    margin-top: 40px;
    width: 328px;
    height: 48px;
    background-color: $grayscale2;
    border-radius: $border-radius-breadcrumbs ;
    left: 50%;
    transform: translateX(-50%);
  }
}
//tv connection success modal
.modal-connected{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grayscale1;
    width: 248px;
    height: auto;
    border-radius: 16px;
    padding: 16px 16px 0 16px;
  }
  .modal-title{
    font-family: $notoSansMedium;
    font-size: $border-radius-default;
  }
  .btn{
    width: 248px;
    height: 45px;
    border-radius: $border-radius-breadcrumbs;
    font-size: $fontsize-small-regular;
    margin: 16px 0 0 0;
    background-color: $primary-color;
    color: $text-lightest;
  }
  .btn-cancel{
    position: relative;
    width: 248px;
    height: 45px;
    background-color: transparent;
    margin: 0;
    @extend %sixth-text-button-style
  }
}
#player_box {
  display: block;
}
.loadingDefault {
  left: 50%;
  position: relative;
  transform: translate(-50%,-50%);
  display: block;
  width: 40px;
  top: 50%;
}
@keyframes spin {
  from {
    transform:  translateX(-50%)rotate(0deg);
  }
  to {
    transform:  translateX(-50%)rotate(360deg);
  }
}


//carousel web css
@media screen and (min-width: 481px) {
  .collection-info-section, .collection-artworks-section, .art-stream-similar-collection-section, .art-stream-similar-artist-section {
    width: 768rem;
  }
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn-shop-url{
  display: none;
  text-align: center;
  width: inherit;
  @media screen and (min-width: 481px){
    width: 100%;
  }
  height: 48px;
  margin-top: 40px;
  line-height: 48px;
  background: $primary-color;
  border-radius: $border-radius-breadcrumbs;
  font-family: $bothMedium;
  font-size: $fontsize-regular;
  color: $text-lightest;
  img{
    width: 28px;
    height: 28px;
    margin-right: 4px;
    transform: translateY(7px);
  }
}
//fullscreen
.fullScreen {
  transform: rotate(90deg)!important;
  display: block!important;
  width: 100vh!important;
  height: 100vw!important;
  z-index: 999!important;
  background: black!important;
  #artwork_image {
    transform: translateX(-50%)!important;
    margin-left: 50%!important;
    width: auto!important;
    height: 100% !important;
  }
  .player-gradation {
    width: 100vh!important;
    height: 100vw!important;
    z-index: 1;
  }
  .controllers, .play-time, .play-bar, #fullScreen {
    z-index: 2;
  }
  .play-bar .playing-bar, .play-bar, .fixed-bar {
    width: 100vh;
  }
}
.fullScreenBlack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: block !important;
}

.artist-item {
  position: relative;
  flex-basis: 160px;
  width: 160px;
}
.artist-item .artist-name {
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
  margin-top: 4px;
  white-space: nowrap;
  max-width: 156px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-item .item-img-wrap {
  width: 160px;
  height: 184.5px;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
}
.artist-item .item-img-wrap img {
  position: relative;
  height: auto;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  -webkit-filter: grayscale(100%);
}
.artist-item .item-gradation {
  position: absolute;
  z-index: 1;
  width: 160px;
  height: 184.5px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
  border-radius: 16px;
}

.connected-gradation {
  opacity: 1!important;
  display: block!important;
}
.button-group{
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 15px;
}

main{
  height: 100vh;
  background-color: #0a0a0a;
}

//로그인이 필요합니다 모달
.modal-delete-collection {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1002;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grayscale1;
    width: 280px;
    height: auto;
    border-radius: 16px;
    padding: 16px;
  }
  .modal-title {
    font-family: $notoSansMedium;
    font-size: $border-radius-default;
    .modal-title-top{
      display: block;
      font-size: 16px;
      line-height: 30px;
      color: #0A0A0A;
    }
    .modal-title-bottom{
      display: block;
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 500 !important;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #0A0A0A;
      padding-top: 4px;
    }
  }
  .modal-guide {
    font-family: $notoSansRegular;
    font-size: $fontsize-small-regular;
    color: $text-gray;
  }
  .btn {
    //width: 248px;
    width: inherit;
    height: 45px;
    border-radius: $border-radius-breadcrumbs;
    font-size: $fontsize-regular;
    margin: 16px 0;
    background-color: $primary-color;
    color: $text-lightest;
  }
  .btn-modal-cancel {
    width: 248px;
    background-color: transparent;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    margin: 0;
  }
  .btn-cancel {
    position: initial;
    width: inherit;
    background-color: transparent;
    line-height: 24px;
    margin: 0;
    @extend %sixth-text-button-style
  }
}
