.modal-delete-collection .btn-cancel, .modal-connected .btn-cancel {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #0a0a0a;
  font-size: 14px;
  text-decoration: underline;
}

.art-stream-similar-collection-section .art-stream-section-title,
.art-stream-similar-artist-section .art-stream-section-title {
  height: 27px;
  margin-bottom: 8px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
}

.collection-info-section {
  display: block;
  padding-top: 56.25vw;
}
@media screen and (min-width: 481px) {
  .collection-info-section {
    padding-top: 48px;
  }
}
.collection-info-section .collection-title {
  width: auto;
  height: 36px;
  margin-top: 8px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 28px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.collection-info-section .collection-sub-title {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  color: rgba(245, 245, 245, 0.65);
  margin-top: 8.5px;
}
.collection-info-section .collection-info-wrap1 {
  display: block;
  width: auto;
  height: 18px;
  margin-bottom: 8px;
  line-height: 18px;
  color: rgba(245, 245, 245, 0.65);
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
}
.collection-info-section .collection-info-wrap1 .collection-artwork {
  height: 18px;
  background: transparent;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: underline;
  color: rgba(245, 245, 245, 0.65);
}
.collection-info-section .collection-info-wrap2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collection-info-section .collection-info-wrap2 .collection-info-anchor {
  display: flex;
  width: 28px;
  height: 28px;
}
.collection-info-section .collection-info-wrap2 .collection-info-anchor img {
  width: inherit;
}
.collection-info-section .collection-info-wrap2 .btn-remove-collection {
  width: 28px;
  height: 28px;
  align-self: center;
}
.collection-info-section .collection-info-wrap2 .btn-remove-collection img {
  width: inherit;
}
.collection-info-section .collection-info-wrap2 button {
  font-family: notoSansMedium, serif;
  font-size: 14px;
  color: rgba(245, 245, 245, 0.65);
  line-height: 20px;
  background-color: transparent;
  text-decoration: underline;
  margin-right: 6px;
}
.collection-info-section .collection-info-wrap2 span {
  font-family: notoSansMedium, serif;
  font-size: 14px;
  color: rgba(245, 245, 245, 0.65);
  line-height: 20px;
  display: inline-block;
}
.collection-info-section .collection-description {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 30px;
}
.collection-info-section .collection-tags {
  display: flex;
  padding-top: 24px;
}
.collection-info-section .collection-tags ul {
  display: flex;
}
.collection-info-section .collection-tags ul li {
  height: 28px;
  padding: 0px 10px;
  margin-right: 8px;
  line-height: 28px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.65);
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
}
.collection-info-section .collection-tags ul li a {
  display: block;
  width: inherit;
  height: inherit;
}
.collection-info-section .btn-connect-tv {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 328px;
  height: 48px;
  margin-top: 40px;
  line-height: 48px;
  background: #2841fa;
  border-radius: 12px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  color: #ffffff;
}
.collection-info-section .btn-connect-tv img {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  transform: translateY(7px);
}

.player-wrap {
  width: 100vw;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 481px) {
  .player-wrap {
    position: relative;
    width: 768rem;
    height: 432rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.player-wrap .play-step-1 {
  display: block;
  width: 100vw;
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-1 {
    width: 768rem;
  }
  .player-wrap .play-step-1 .loading img {
    transform: translateX(-50%);
  }
}
.player-wrap .play-step-1 .player-gradation {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 204px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 47.92%, #0A0A0A 100%);
}
.player-wrap .play-step-1 img {
  width: inherit;
}
.player-wrap .play-step-2 {
  display: none;
  width: 100vw;
}
.player-wrap .play-step-2 img {
  width: inherit;
  -webkit-filter: grayscale(100%);
}
.player-wrap .play-step-3 {
  position: relative;
  display: block;
  width: 100vw;
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-3 {
    width: inherit;
    height: inherit;
  }
}
.player-wrap .play-step-3 .player-gradation {
  position: absolute;
  width: 100vw;
  height: inherit;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) -70.12%, #0A0A0A 100%);
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-3 .player-gradation {
    width: 105%;
    height: inherit;
    margin-left: -1px;
  }
}
.player-wrap .play-step-3 .controllers {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 232px;
  flex-direction: row;
  justify-content: space-between;
}
.player-wrap .play-step-3 .controllers button {
  background: transparent;
}
.player-wrap .play-step-3 .controllers button img {
  width: 56px;
}
.player-wrap .play-step-3 .play-time {
  position: absolute;
  bottom: 14.5px;
  left: 12px;
  height: 18px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
  color: rgba(245, 245, 245, 0.8);
}
.player-wrap .play-step-3 #fullScreen {
  width: 48px;
  position: absolute;
  bottom: 14.5px;
  height: 16px;
  right: 12px;
  cursor: pointer;
}
.player-wrap .play-step-3 #fullScreen img {
  width: 16px;
  right: 0;
  height: 16px;
  position: absolute;
  bottom: 0;
}

.btn-play-exhibition {
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translatex(-50%);
  background: transparent;
  width: 56px;
}

.btn-skip-docent {
  position: absolute;
  top: 153px;
  right: 16px;
  z-index: 3;
  width: 104px;
  height: 34px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  line-height: 34px;
  font-size: 12px;
}

.play-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 2px;
  background-color: #2841fa;
}

.fixed-bar {
  display: block;
  position: fixed;
  left: 0;
  width: inherit;
  height: 2px;
  background-color: #424242;
}

.playing-bar {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2841fa;
}

.playing-gif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px !important;
  height: 28px;
}

.collection-artworks-section {
  position: relative;
  padding: 0 0 40px 0;
  margin: auto;
}

.collection-artworks-section .collection-artworks-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26.06px;
  color: #f5f5f5;
  margin-bottom: 8px;
}
.collection-artworks-section a.collection-artworks-all {
  display: none;
  font-family: notoSansRegular, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
  position: absolute;
  top: 8px;
  right: 0;
  text-decoration: underline;
}
.collection-artworks-section .collection-artwork-img-wrap img {
  width: 80px;
  height: auto;
}
.collection-artworks-section .collection-artworks {
  display: flex;
  flex-direction: row;
  width: 88%;
  height: 45px;
  background: transparent;
}
@media screen and (min-width: 481px) {
  .collection-artworks-section .collection-artworks {
    width: 92%;
  }
}
.collection-artworks-section .collection-artworks-img-wrap {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  min-width: 45px;
  width: 45px;
  height: 45px;
}
.collection-artworks-section .collection-artworks-img-wrap img {
  width: inherit;
  height: inherit;
}
.collection-artworks-section .collection-artworks-img-wrap img.playing-gif {
  height: 28px;
}
.collection-artworks-section .collection-artworks-list {
  display: flex;
  flex-direction: column;
}
.collection-artworks-section .collection-artworks-list > li {
  padding: 6px 0;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.collection-artworks-section .collection-artworks-list > li .shared-link {
  display: none;
}
.collection-artworks-section .collection-artworks-list > li:last-of-type {
  margin-bottom: 0px;
}
.collection-artworks-section .collection-artworks-list .collection-artwork {
  display: flex;
  flex-direction: row;
  width: 88%;
  height: 45px;
  background: transparent;
}
.collection-artworks-section .collection-artworks-list .collection-artwork .collection-artwork-img-wrap {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  min-width: 45px;
  width: 45px;
  height: 45px;
}
.collection-artworks-section .collection-artworks-list .collection-artwork .collection-artwork-img-wrap img {
  position: absolute;
  top: 0;
  height: inherit;
  object-fit: cover;
  left: 50%;
  transform: translatex(-50%);
  width: auto;
}
.collection-artworks-section .collection-artworks-list .collection-artwork .collection-artwork-img-wrap img.playing-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
}
.collection-artworks-section .collection-artworks-list .artwork-txt-info {
  width: 100%;
  overflow: hidden;
  margin-left: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.collection-artworks-section .collection-artworks-list .artwork-txt-info .artwork-info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.collection-artworks-section .collection-artworks-list .artwork-txt-info .artwork-info:nth-of-type(1) {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  text-align: left;
  line-height: 19px;
  color: #f5f5f5;
}
.collection-artworks-section .collection-artworks-list .artwork-txt-info .artwork-info:nth-of-type(2) {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  color: #f5f5f5;
  opacity: 0.65;
}
.collection-artworks-section .collection-artworks-list .icon-show-option {
  width: 28px;
  height: 28px;
  background: transparent;
  align-self: center;
}
.collection-artworks-section .collection-artworks-list .icon-show-option img {
  width: inherit;
}
.collection-artworks-section .collection-artworks-list .icon-show-option span {
  display: none;
}

.art-stream-similar-collection-section {
  padding: 40px 0 0 0;
  border-top: 1px solid #424242;
}

.art-stream-similar-artist-section {
  padding: 40px 0 80px 0;
  border-top: 1px solid #424242;
}

.art-stream-similar-collection-section .art-stream-section-title,
.art-stream-similar-artist-section .art-stream-section-title {
  color: #f5f5f5;
}
.art-stream-similar-collection-section .owl-carousel,
.art-stream-similar-artist-section .owl-carousel {
  display: block;
}
.art-stream-similar-collection-section .owl-carousel .owl-stage-outer,
.art-stream-similar-artist-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.art-stream-similar-collection-section .carousel-artist-type,
.art-stream-similar-artist-section .carousel-artist-type {
  margin-bottom: 4px;
}
.art-stream-similar-collection-section .carousel-collection-title,
.art-stream-similar-artist-section .carousel-collection-title {
  width: auto;
  height: 27px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 18px;
  line-height: 21px;
  max-width: 292px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.art-stream-similar-collection-section .carousel-collection-artist,
.art-stream-similar-artist-section .carousel-collection-artist {
  height: 24px;
  font-family: notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.art-stream-similar-collection-section .more-contents-anchor,
.art-stream-similar-artist-section .more-contents-anchor {
  margin: 0;
  transform: translate(0);
}

.art-stream-similar-collection-section .art-stream-carousel .carousel-item {
  height: 410px;
  background: rgba(255, 255, 255, 0.08);
}
.art-stream-similar-collection-section .art-stream-carousel .carousel-item .carousel-img-wrap {
  height: 246px;
}
.art-stream-similar-collection-section .art-stream-carousel .carousel-item .icon-exhibition {
  z-index: 1;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 17px;
  right: 12px;
}
.art-stream-similar-collection-section .art-stream-carousel .carousel-item .carousel-text-wrap {
  top: 246px;
}
.art-stream-similar-collection-section .art-stream-carousel .carousel-item .carousel-artist-content {
  margin-top: 20px;
}

.art-stream-similar-artist-section .art-stream-carousel .carousel-item {
  height: 381px;
  background: rgba(255, 255, 255, 0.08);
}
.art-stream-similar-artist-section .art-stream-carousel .carousel-item .carousel-img-wrap {
  height: 246px;
}
.art-stream-similar-artist-section .art-stream-carousel .carousel-item .icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 17px;
  right: 12px;
}
.art-stream-similar-artist-section .art-stream-carousel .carousel-item .carousel-text-wrap {
  top: 246px;
}
.art-stream-similar-artist-section .art-stream-carousel .carousel-item .carousel-artist-content {
  margin-top: 20px;
}

.now-playing-info {
  display: none;
  width: 100%;
  height: 77px;
  position: relative;
  margin: 24px 0 28px 0;
  border-top: 1px solid rgba(66, 66, 66, 0.65);
  border-bottom: 1px solid rgba(66, 66, 66, 0.65);
  box-sizing: border-box;
  background-color: #0a0a0a;
}
@media screen and (max-width: 481px) {
  .now-playing-info.scrolled {
    display: flex;
    width: 100vw;
    position: fixed;
    top: calc(48px + 56.25vw);
    z-index: 2;
    left: 50%;
    transform: translatex(-50%);
    border: none;
    margin-top: 0;
  }
}
@media screen and (max-width: 481px) {
  .now-playing-info.scrolled ul {
    width: calc(100vw - 32px);
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}
.now-playing-info ul {
  display: flex;
  width: inherit;
  height: 45px;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.now-playing-info ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.now-playing-info ul li:nth-of-type(1) {
  max-width: 80px;
  width: 80px;
  min-width: 80px;
  height: 45px;
}
@media screen and (min-width: 481px) {
  .now-playing-info ul li:nth-of-type(1) {
    margin-right: 16px;
  }
}
.now-playing-info ul li:nth-of-type(1) .playing-gif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
}
.now-playing-info ul li:nth-of-type(1) img {
  width: inherit;
  border-radius: 4px;
}
.now-playing-info ul li:nth-of-type(2) {
  width: 200px;
  height: 45px;
  margin-left: 12px;
}
@media screen and (min-width: 481px) {
  .now-playing-info ul li:nth-of-type(2) {
    flex-basis: 900rem;
  }
}
.now-playing-info ul li:nth-of-type(2) p:nth-of-type(1) {
  display: block;
  max-width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #f5f5f5;
}
.now-playing-info ul li:nth-of-type(2) p:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #f5f5f5;
  opacity: 0.65;
}
.now-playing-info ul li:nth-of-type(3) {
  position: absolute;
  width: 28px;
  height: 45px;
  right: 8px;
}
.now-playing-info ul li:nth-of-type(3) .btn-more-now-playing {
  width: inherit;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  background: transparent;
}
.now-playing-info ul li:nth-of-type(3) .btn-more-now-playing img {
  width: inherit;
}

.artwork-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}
.artwork-option-box .artwork-options {
  position: absolute;
  bottom: 176px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 481px) {
  .artwork-option-box .artwork-options {
    width: calc(100vw - 40px);
  }
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-id {
  display: none;
}
.artwork-option-box .artwork-options .artwork-wrap a, .artwork-option-box .artwork-options .artwork-wrap button {
  display: flex;
  margin-bottom: 28px;
}
.artwork-option-box .artwork-options .artwork-wrap img {
  width: 96px;
  height: 54px;
  margin-right: 12px;
  border-radius: 4px;
  transform: translatey(0);
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info {
  width: 200px;
  padding-top: 5px;
  margin-left: 12px;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info .artwork-info {
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info .artwork-info:nth-of-type(1) {
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info .artwork-info:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 21px;
  color: #f5f5f5;
  opacity: 0.65;
}
.artwork-option-box .artwork-options button,
.artwork-option-box .artwork-options .artist-information {
  display: block;
  background: transparent;
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: left;
}
.artwork-option-box .artwork-options button img,
.artwork-option-box .artwork-options .artist-information img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.artwork-option-box .artwork-options button span,
.artwork-option-box .artwork-options .artist-information span {
  margin-left: 8px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.artwork-option-box .btn-artwork-options-close {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.artwork-option-box .btn-artwork-options-close img {
  width: inherit;
}

.art-stream-carousel-img-wrap img {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

.art-stream-similar-artist-section .art-stream-carousel-img-wrap img {
  -webkit-filter: grayscale(100%);
}

.now_playing_info_artwork {
  max-width: 200px;
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.code-error-modal {
  z-index: 1000;
  color: #EA6600;
}

.tv-connection-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.tv-connection-modal section {
  position: relative;
  top: 48px;
}
.tv-connection-modal .blue {
  background-color: #2841fa !important;
}
.tv-connection-modal ol.tv-connection-guide-text {
  list-style: decimal;
  height: 72px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
  padding-left: 16px;
}
.tv-connection-modal .tv-connection-container {
  width: 360px;
  margin-right: 40px;
}
.tv-connection-modal .tv-connection-title {
  margin-top: 16px;
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 4px;
}
.tv-connection-modal .tv-connection-subtitle {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.tv-connection-modal .code-input-area {
  margin-top: 16px;
}
.tv-connection-modal .code-input-title {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #2841fa;
}
.tv-connection-modal .code-input {
  font-family: notoSansRegular, serif;
  font-size: 20px;
  color: #f5f5f5;
  width: 328px;
  height: 54px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #2841fa;
  caret-color: #2841fa;
  margin-bottom: 16px;
}
.tv-connection-modal .btn-text {
  display: block;
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #f5f5f5;
  text-decoration: underline;
  background-color: transparent;
}
.tv-connection-modal .btn-tv-guide {
  margin-top: 16px;
}
.tv-connection-modal .btn-complete {
  position: fixed;
  margin-top: 40px;
  width: 328px;
  height: 48px;
  background-color: #EBEBEB;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-connected {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}
.modal-connected div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 248px;
  height: auto;
  border-radius: 16px;
  padding: 16px 16px 0 16px;
}
.modal-connected .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 8px;
}
.modal-connected .btn {
  width: 248px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  margin: 16px 0 0 0;
  background-color: #2841fa;
  color: #ffffff;
}
.modal-connected .btn-cancel {
  position: relative;
  width: 248px;
  height: 45px;
  background-color: transparent;
  margin: 0;
}

#player_box {
  display: block;
}

.loadingDefault {
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  display: block;
  width: 40px;
  top: 50%;
}

@keyframes spin {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
@media screen and (min-width: 481px) {
  .collection-info-section, .collection-artworks-section, .art-stream-similar-collection-section, .art-stream-similar-artist-section {
    width: 768rem;
  }
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.btn-shop-url {
  display: none;
  text-align: center;
  width: inherit;
  height: 48px;
  margin-top: 40px;
  line-height: 48px;
  background: #2841fa;
  border-radius: 12px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  color: #ffffff;
}
@media screen and (min-width: 481px) {
  .btn-shop-url {
    width: 100%;
  }
}
.btn-shop-url img {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  transform: translateY(7px);
}

.fullScreen {
  transform: rotate(90deg) !important;
  display: block !important;
  width: 100vh !important;
  height: 100vw !important;
  z-index: 999 !important;
  background: black !important;
}
.fullScreen #artwork_image {
  transform: translateX(-50%) !important;
  margin-left: 50% !important;
  width: auto !important;
  height: 100% !important;
}
.fullScreen .player-gradation {
  width: 100vh !important;
  height: 100vw !important;
  z-index: 1;
}
.fullScreen .controllers, .fullScreen .play-time, .fullScreen .play-bar, .fullScreen #fullScreen {
  z-index: 2;
}
.fullScreen .play-bar .playing-bar, .fullScreen .play-bar, .fullScreen .fixed-bar {
  width: 100vh;
}

.fullScreenBlack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: block !important;
}

.artist-item {
  position: relative;
  flex-basis: 160px;
  width: 160px;
}

.artist-item .artist-name {
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
  margin-top: 4px;
  white-space: nowrap;
  max-width: 156px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-item .item-img-wrap {
  width: 160px;
  height: 184.5px;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.artist-item .item-img-wrap img {
  position: relative;
  height: auto;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  -webkit-filter: grayscale(100%);
}

.artist-item .item-gradation {
  position: absolute;
  z-index: 1;
  width: 160px;
  height: 184.5px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
  border-radius: 16px;
}

.connected-gradation {
  opacity: 1 !important;
  display: block !important;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 15px;
}

main {
  height: 100vh;
  background-color: #0a0a0a;
}

.modal-delete-collection {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1002;
}
.modal-delete-collection div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 280px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
}
.modal-delete-collection .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 8px;
}
.modal-delete-collection .modal-title .modal-title-top {
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: #0A0A0A;
}
.modal-delete-collection .modal-title .modal-title-bottom {
  display: block;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0A0A0A;
  padding-top: 4px;
}
.modal-delete-collection .modal-guide {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.modal-delete-collection .btn {
  width: inherit;
  height: 45px;
  border-radius: 12px;
  font-size: 16px;
  margin: 16px 0;
  background-color: #2841fa;
  color: #ffffff;
}
.modal-delete-collection .btn-modal-cancel {
  width: 248px;
  background-color: transparent;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
  margin: 0;
}
.modal-delete-collection .btn-cancel {
  position: initial;
  width: inherit;
  background-color: transparent;
  line-height: 24px;
  margin: 0;
}

/*# sourceMappingURL=collection-detail.css.map */
