<div class="WordSection1">

    <p class="MsoNormal" style="line-height:150%"><b><span style="font-family:&quot;Arial Unicode MS&quot;">PATRON
GLOBAL OPEN : 글로벌 런칭 프로모션</span></b></p>

    <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:20.0pt;
line-height:150%;font-family:&quot;Arial Unicode MS&quot;">작품 감상하고 박서보 2022 <span style="color:blue">에디션 5% 할인받자</span></span></b><b><span style="font-size:13.0pt;
line-height:150%;font-family:&quot;맑은 고딕&quot;"><br>
<br>
</span></b></p>

    <p class="MsoNormal" style="line-height:150%"><b><span style="font-family:&quot;Arial Unicode MS&quot;">파트론
글로벌 런칭 기념 혜택 에디션별 22명 한정,</span></b></p>

    <p class="MsoNormal" style="line-height:150%"><b><span style="font-family:&quot;Arial Unicode MS&quot;">5%
할인된 금액으로 구매하세요!</span></b></p>

    <p class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;맑은 고딕&quot;;
color:#B7B7B7">&nbsp;</span></p>

    <p class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">오는
9월 1일부터 파트론을 미국과 일본 등 해외에서도 만나볼 수 있습니다. 파트론의 글로벌 런칭을 기념하여 박서보, 강운, 문신기 등 세대를 아우르는
작가들의 한정판 에디션을 할인된 금액으로 구매할 수 있는 이벤트를 진행합니다. 상세한 참여 방법은 아래 내용을 참고해주세요.</span></p>

    <p class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;맑은 고딕&quot;">&nbsp;</span></p>

    <ol style="margin-top:0cm" start="1" type="1">
        <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">이벤트
     기간 : </span><span style="font-family:&quot;맑은 고딕&quot;">9.1 ~ 9.21</span></li>
        <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">당첨자
     발표 : 9.30 (파트론 공지사항에 게시)</span></li>
        <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">이벤트
     참여 방법&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
     - 아래의 세가지를 모두 완료한 구매 희망자를 대상으로 추첨을 통해 사전예약 구매자를 선정합니다.<br>
     - 각 에디션의 사전예약 신청자 중 3가지 조건을 모두 만족하는 신청자를 대상으로 무작위 추첨으로 선정합니다.<br>
     단, 에디션의 신청자가 제한된 수량보다 적을 경우 선착순으로 선정됩니다.<br>
     - 당첨자가 발표되는 9월 30일 이후 당첨자에게 이메일과 문자로 개별 연락을 드릴 예정이며, 당첨자에 한해 구매에 필요한 추가정보와
     개별 결제창(무통장입금)을 발송할 예정입니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
        <ol style="margin-top:0cm" start="1" type="a">
            <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">파트론
      회원가입하기<br>
      새롭게 단장한 파트론에 회원으로 가입하세요. 아래의 링크로 ‘회원가입’ 페이지로 이동할 수 있습니다.<br>
      <u><span style="color:blue">회원가입</span></u></span></li>
            <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">구매
      신청서 작성<br>
      아래의 링크로 구매를 희망하는 작품을 ‘사전예약 구매 신청서’로 작성해주세요.<br>
      <u><span style="color:blue">사전예약 구매 신청서</span></u></span></li>
            <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">SNS에
      감상 인증샷 공유<br>
      파트론에서 작품을 감상하는 인증 사진을 찍어 인스타그램 또는 페이스북으로 공유해주세요. 어떤 작품을 봐야할지 모르겠다구요? 그럼 <u><span style="color:blue">여기</span></u>를 눌러 감상을 시작해보세요. 단, 아래의 조건을 따라줘야 저희가 여러분을
      찾을 수 있어요. KT 기가지니로 감상하는 인증샷의 경우 당첨될 확률이 높아집니다!<br>
      * KT 기가지니, 삼성, LG에서 만나볼 수 있습니다. <u><span style="color:blue">다운로드 받는 방법</span></u></span><span style="font-family:&quot;맑은 고딕&quot;"><br>
      - </span><span style="font-family:&quot;Arial Unicode MS&quot;;color:#202124">인스타그램
      / 페이스북 파트론 계정 팔로우<br>
      - 필수 해시태그 (#PATRON #PaintYourTime #우리집갤러리)<br>
      - 비공개 계정 또는 게시물이 없는 유령계정은 대상에서 제외</span></li>
            <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">에디션
      목록</span></li>
        </ol>
    </ol>

    <table class="a" border="1" cellspacing="0" cellpadding="0" width="622" style="margin-left:
 77.0pt;border-collapse:collapse;border:none">
        <tbody><tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">작가</span></b></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border:solid black 1.0pt;
  border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">에디션</span></b></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border:solid black 1.0pt;
  border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">사이즈</span></b></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border:solid black 1.0pt;
  border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">이벤트가</span></b></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border:solid black 1.0pt;
  border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">정상가</span></b></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border:solid black 1.0pt;
  border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">수량</span></b></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border:solid black 1.0pt;
  border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><b><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">액자유무</span></b></p>
            </td>
        </tr>
        <tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">박서보</span></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">Ecriture 080131</span></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">w53 x h69.4cm</span></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;;color:#202124">3,261,500</span></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">3,399,000</span></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">22/99</span></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">단풍나무 프레임</span></p>
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">무반사 유리(UV70%)</span></p>
            </td>
        </tr>
        <tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">박서보</span></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">Ecriture 930205</span></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">w93 x h35cm</span></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;;color:#202124">2,739,000</span></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">2,849,000</span></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">22/99</span></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">단풍나무 프레임</span></p>
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">무반사 유리(UV70%)</span></p>
            </td>
        </tr>
        <tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">박서보</span></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">Ecriture 950713</span></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">w67 x h84cm</span></p>
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">&nbsp;</span></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;;color:#202124">4,939,000</span></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">5,159,000</span></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">22/99</span></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">단풍나무 프레임</span></p>
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">무반사 유리(UV70%)</span></p>
            </td>
        </tr>
        <tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">강운</span></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">마음산책 - 자산어보</span></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:Roboto;color:#202124;background:white">w35 x
  h45cm</span></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;;color:#202124">930,000</span></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">990,000</span></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">22/99</span></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">캔버스 (프레임 있음)</span></p>
            </td>
        </tr>
        <tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">강운</span></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">마음산책 -<br>
  전문가 매칭 후기</span></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:Roboto;color:#202124">w35 x h44cm</span></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;;color:#202124">930,000</span></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">990,000</span></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">22/99</span></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">캔버스 (프레임 있음)</span></p>
            </td>
        </tr>
        <tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">문신기</span></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">노인과 바다</span></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:Roboto;color:#202124">w45.5 x h53</span></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;;color:#202124">260,000</span></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">290,000</span></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">5/30</span></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">캔버스 (프레임 없음)</span></p>
            </td>
        </tr>
        <tr>
            <td width="59" valign="top" style="width:44.25pt;border:solid black 1.0pt;
  border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">문신기</span></p>
            </td>
            <td width="111" valign="top" style="width:83.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">어린왕자</span></p>
            </td>
            <td width="98" valign="top" style="width:73.5pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:Roboto;color:#202124">w53 x h45.5</span></p>
            </td>
            <td width="81" valign="top" style="width:60.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;;color:#202124">260,000</span></p>
            </td>
            <td width="79" valign="top" style="width:59.25pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">290,000</span></p>
            </td>
            <td width="65" valign="top" style="width:48.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;맑은 고딕&quot;">5/30</span></p>
            </td>
            <td width="129" valign="top" style="width:96.75pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:5.0pt 5.0pt 5.0pt 5.0pt">
                <p class="MsoNormal" style="line-height:150%"><span style="font-size:9.0pt;
  line-height:150%;font-family:&quot;Arial Unicode MS&quot;">캔버스 (프레임 없음)</span></p>
            </td>
        </tr>
        </tbody></table>

    <p class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;맑은 고딕&quot;">&nbsp;</span></p>

    <ol style="margin-top:0cm" start="4" type="1">
        <li class="MsoNormal" style="line-height:150%"><span style="font-family:&quot;Arial Unicode MS&quot;">유의사항<br>
     - 박서보 2022 한정판 에디션 3종은 총 99개의 에디션 중 각 에디션 당 22개씩 사전예약 판매로 진행됩니다.<br>
     - 강운 2022 한정판 에디션 2종은 총 99개의 에디션 중 각 에디션 당 22개씩 사전예약 판매로 진행됩니다.<br>
     - 문신기 2022 한정판 에디션 2종은 총 30개의 에디션 중 각 에디션 당 5개씩 사전예약 판매로 진행됩니다.<br>
     - 모든 작가의 에디션 번호는 특정없이 무작위로 발송되며, 진품을 증명하는 ‘에디션 보증서’가 동봉됩니다.<br>
     - 각 작품의 다중 구매는 가능하나, <span style="background:yellow">동일 작품의 대량 구매는 불가합니다.</span></span><span style="font-family:&quot;맑은 고딕&quot;"> (<a href="mailto:wsshin@nodamen.com"><span style="color:#1155CC">wsshin@nodamen.com</span></a></span><span style="font-family:&quot;Arial Unicode MS&quot;">, 02 2274 1703)<br>
     - 참여 조건(PATRON 회원가입, 구매 신청서 작성, SNS 게시) 중 1개라도 누락시 대상에서 제외됩니다. 상세한 참여 방법은 위의
     ‘이벤트 참여 방법’을 확인해주세요.<br>
     - 각 에디션의 사전예약 신청자가 제한된 수량을 넘었을 경우 추첨을 통해 판매가 진행됩니다. 단, 에디션의 신청자가 제한된 수량보다 적을
     경우 선착순으로 선정됩니다.<br>
     - 사전예약 구매 당첨자는 9월 30일 PATRON 공지사항을 통해 발표합니다.<br>
     - [결제] 사전예약 이벤트 당첨자에게는 할인된 금액에 구매할 수 있는 개별 결제창(무통장입금)을 안내해드립니다. <br>
     - [취소] 안내된 결제창을 통해 제한된 일자<span style="background:yellow">(결제창 발송일로부터 7일 이내)
     </span>내에 결제가 진행되어야 하며, 만약 기한 내 결제가 이루어지지 않을 경우 취소로 간주하여 자동으로 구매가 취소됩니다.<br>
     - <span style="background:aqua">[환불] 만약, 결제 후 결제 기한 내에 구매 취소를 원하는 경우 별도 문의가
     필요합니다. 결제 기한일 이후로 단순변심으로 인한 취소 또는 환불이 어려움을 양해바랍니다.</span> 소비자 보호법에 따른 내용으로
     수정 (</span><span style="font-family:&quot;맑은 고딕&quot;"><a href="mailto:wsshin@nodamen.com"><span style="color:#1155CC">wsshin@nodamen.com</span></a></span><span style="font-family:&quot;Arial Unicode MS&quot;">, 02 2274 1703)<br>
     - [배송] 서울 및 수도권의 경우 미술품 전문 업체가 별도 비용 없이 <span style="background:yellow">10월
     중순</span>부터 순차적으로 일괄 배송을 시작합니다. 정확한 배송 일자는 추후 PATRON 공지사항을 통해 공지합니다. 비수도권의
     경우 별도의 배송비가 책정되며, 배송비는 개별 안내드리겠습니다. 그 외 직접수령을 희망하는 구매자께서는 개별 문의바랍니다. (</span><span style="font-family:&quot;맑은 고딕&quot;"><a href="mailto:wsshin@nodamen.com"><span style="color:#1155CC">wsshin@nodamen.com</span></a></span><span style="font-family:&quot;Arial Unicode MS&quot;">, 02 2274 1703)<br>
     - 본 이벤트가 끝나고 10월 1일 정식 발매일부터는 할인가가 적용되지 않은 정상가로 구매할 수 있습니다.<br>
     - 10월 1일 정식 발매일에는 박서보 작가의 신규 에디션 1종이 추가 공개됩니다.<br>
     - [문의] </span><span style="font-family:&quot;맑은 고딕&quot;"><a href="mailto:wsshin@nodamen.com"><span style="color:#1155CC">wsshin@nodamen.com</span></a>,
     02 2274 1703 (09:30 - 17:00)</span></li>
    </ol>

</div>


-webkit-filter is a vendor extension
-webkit-filter is a vendor extension
-webkit-box is a vendor extension
-webkit-line-clamp is a vendor extension
-webkit-box-orient is a vendor extension
-webkit-filter is a vendor extension