<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <!-- og 태그 위치 시작-->
    <meta property="og:type" th:content="article">
    <meta property="og:title" th:attr='content=#{ogTitle}'>
    <meta property="og:site_name"  th:attr='content=#{ogSiteName}'>
    <meta id="ogUrl" property="og:url" th:attr='content=${ogUrl}'>
    <meta id="ogImg" property="og:image"  th:attr='content=${ogImg}'>
    <meta id="ogText" property="og:description" th:attr='content=#{ogText}' >
    <meta name="twitter:card" th:content="summary">
    <meta name="twitter:site" th:attr='content=#{ogSiteName}'>
    <meta name="twitter:image" th:attr='content=${ogImg}'>
    <meta name="twitter:description"  th:attr='content=#{ogText}'>
    <!-- meta 태그 위치 종료-->
    <title id="html_title" th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="'PATRON | ' + ${detail.getArtistName()}"></title>
    <meta name="Description" th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:attr='content = ${detail.getIntro()}'>
    <link rel="stylesheet" th:href="@{/css_v1_3/artist/artist-detail.css}">
    <link rel="stylesheet" th:href="@{/css_v1_3/common/thumbnail-component.css}">
</head>

<body>

<div th:replace="common/header-depth-goback.html"></div>

<main>
    <div class="wrap artist-info-container">
        <div class="player-wrap" id="btn_play_artist_video">
<!--            <div class="play-step-1">-->
<!--                <button type="button" class="btn-play-artist-video" onclick="">-->
<!--                    <img id="btn_play_icon" th:if="${artist.getV()}" th:src="@{/img/icon_play_large.png}" alt="icon_play_large">-->
<!--                </button>-->
<!--                <div class="player-gradation"></div>-->
<!--                <video id="artist_intro_video" th:if="${artist.getVideo()}" th:src="${artist.getVideo()}" loop></video>-->
<!--                <img th:unless="${artist.getVideo()}" th:src="${artwork}" th:alt="${artist.getKorName()}">-->
<!--            </div>-->
        </div>
        <!--section 1-->
        <section class="exh-info-section fade-in-section" th:if="${artist != null}">
            <div class="exh-info-box">
                <div class="artist-profile-img">
                    <img th:src="${artist.getProfileImg()}" th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtistName()}">
                </div>
                <h2 class="exh-title">
                    <span id="artist_name" class="artist-name korean-name" th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}">작가명</span>
                </h2>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <button sec:authorize="isAuthenticated()" type="button" class="artist-button" id="artist_button" th:onclick="'controlFavoriteArtist('+${artist.getId()}+');'">
                        <img th:unless="${isLiked}" th:src="@{/img/icon_like.png}" alt="like_button">
                        <img th:if="${isLiked}" th:src="@{/img/icon_already_like.png}" alt="like_button">
                        <span th:text="#{like}">좋아요</span>
                    </button>
                    <button sec:authorize="!isAuthenticated()" type="button" class="artist-button" onclick="NonMemberInAccessible();">
                        <img th:src="@{/img/icon_like.png}" alt="like_button">
                        <span th:text="#{like}">좋아요</span>
                    </button>
                    <button type="button" class="artist-button" onclick="showModal('#share_option_box'); putThisPageUrlToDataAttr();">
                        <img th:src="@{/img/icon_share.png}" alt="share_button">
                        <span th:text="#{share}">공유</span>
                    </button>
                </div>
                <div id="player_button" class="player-button">
                    <button class="btn_play" id="btn_play_blue" th:data-url="'/'+${language}+'/player?artist_id=' + ${artist.getId()}"
                            onclick='checkGAEvent("artist_detail_play");location.href=this.dataset.url'>
                            <img id="play_blue_img" src="/img/icon_play_blue.png" alt="play button">
                    </button>
                </div>
            </div>

            <p class="exh-description" th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getIntro()}">
                신나군 작가는 천진난만한 상상과 엉뚱한 시각을 색으로 담아냅니다. 화려하지만 무거운 색감, 돌가루로 겹겹이 올려 두껍고 거칠기도 한 질감. 새롭고 인상적인 구성으로 작품을 빚어내고 싶은 이야기꾼입니다. 그가 창조한 작품 속에는 가족의 결핍으로 마음을 다친 아이, 몸이 불편한 아이, 상처 때문에 자신을 가리고 살아야 하는 아이들을 판타지 세계로 데려갑니다. 환경이 점점 파괴되고 있는 지구에 태어나는 생명을 위해 지구가 회복되도록 관심을 기울이게 하고 새로운 희망을 꿈꾸게 합니다.
            </p>
<!--            <div class="exh-tags">-->
<!--                <ul>-->
<!--                    <li th:each="tags,index : ${artist.getArtistArtistTags()}" th:if="${index.index} < 10">-->
<!--                        <a th:href="'/' + ${language} + '/search-result?keyword='+${tags.getArtistTag().getTagName()}" th:text="${tags.getArtistTag().getTagName()}">비구상</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </section>
    </div>
<!--    <div class="wrap current-artist-wrap">-->
<!--        &lt;!&ndash;section 1-1&ndash;&gt;-->
<!--        <section class="current-artist-section" th:if="${artist != null}">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <p class="carousel-artist-type">작가소개</p>-->
<!--                    <p class="carousel-artist-title" th:text="${artist.getKorName()}">Artist Name</p>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </section>-->
<!--    </div>-->
    <div class="wrap">
        <!--section 3-->
        <section id="exh_artworks_list" class="artist-artworks-list-section fade-in-section" th:if="${artist.getArtworks() != null && artist.getArtworks().size() != 0}" >
            <div class="artwork-title-container">
                <h2 th:text="#{popular.artworks}">작품</h2>
                <button type="button" class="btn-see-all" onclick="initModalAllArtwork();changeToModalHeader('#artist_artwork_all');" th:if="${artist.getArtworks().size() > 5}" th:text="#{seeAll}">모두보기</button>
            </div>
            <div class="carousel-wrap">
                <ul class="owl-carousel exh-artworks-list">
                    <li class="carousel-item" th:each="artworks,index : ${artist.getArtworks()}" th:if="${index.index < 15}">
                        <a th:href="'/' + ${language} + '/player?art_id=' + ${artworks.getId()}">
                            <div class="carousel-img-wrap exh-artwork-img-wrap">
                                <img th:src="${artworks.getContentsThumbnail().getDefaultImg()}" th:each="detail : ${artworks.getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtworkName()}">
                            </div>
                        </a>
                        <p class="carousel-text carousel-artwork-title" th:each="detail : ${artworks.getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtworkName()}">Clown Horse Salamander</p>
                        <p class="carousel-text carousel-artwork-artist">
                            <span class="artist-name korean-name" th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}">아마데오 드 수자 카르도주</span>
                        </p>
                    </li>
                </ul>
            </div>
<!--            <ul class="artist-artworks-list">-->
<!--                <li th:each="artworks,index : ${artist.getArtworks()}" class="artwork-list">-->
<!--                    <div class="artist-artwork" th:data-url="'/' + ${language} + '/player?art_id=' + ${artworks.getId()}" onclick="location.href=this.dataset.url" style="cursor: pointer">-->
<!--                        <span class="artist-artwork-img-wrap">-->
<!--                            <img th:src="${artworks.getContentsThumbnail().getDefaultImg()}" th:each="detail : ${artworks.getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtworkName()}">-->
<!--                        </span>-->
<!--                        <ul class="artwork-txt-info">-->
<!--                            <li th:each="detail : ${artworks.getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtworkName()}">What's for BrEakfAsT</li>-->
<!--                            <li>-->
<!--                                <span class="artist-name korean-name" th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}">작가명</span>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <button type="button" class="icon-show-option" onclick="showModal('#artwork_option_box'); setModalData(this)">-->
<!--                        <img th:src="@{/img/icon_show_option_white.png}" alt="icon_show_option">-->
<!--                        <input type="hidden" th:value="${artworks.getId()}" th:name="artwork-id">-->
<!--                        <input type="hidden" th:if="${artworks.getArtworkExhibitions().size() != 0}" th:value="${artworks.getArtworkExhibitions()[0].getExhibition().getId()}" th:name="exh-id">-->
<!--                        <input type="hidden" th:value="${artist.getId()}" th:name="artist-id">-->
<!--                    </button>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <button type="button" id="btn_share_artist" class="btn-share-artist" onclick="showModal('#share_option_box'); putThisPageUrlToDataAttr();">-->
<!--                <img th:src="@{/img/icon_share_large.png}" alt="icon_share">-->
<!--                <span>취향을 공유할래요</span>-->
<!--            </button>-->
<!--            <button class="more-contents-anchor" id="anchor_see_more_item" onclick="showMoreList('.artwork-list')" th:text="#{seeMore}">더 보기</button>-->
        </section>
    </div>
    <div class="wrap">
        <!--section 2-->
        <section class="artist-art-stream-section curation-contents-section fade-in-section" th:if="${artistExhibitions != null && artistExhibitions.size() != 0}">
            <h2 class="art-stream-section-title">
                <span th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}">작가</span>
                <span th:text="#{artistDetail.artstream}"></span>
            </h2>
            <div class="owl-carousel carousel-wrap">
                <div class="contents-wrap" th:each="exhibition : ${artistExhibitions}" th:if="${exhibitionStat.index < 15}">
                    <div class="contents-wrap-div">
                        <div class="curation-item">
                            <a th:href="'/' + ${language} + '/player?exh_id=' + ${exhibition.getId()} + '&art_id=' + ${artistExhibitionsFirstArtwork[exhibitionStat.index].getId()}">
                                <img class="icon-curation" th:src="@{/img/icon_exhibition.png}" alt="icon_curation">
                                <div class="item-img-wrap">
                                    <img th:src="${artistExhibitionsFirstArtwork[exhibitionStat.index].getContentsThumbnail().getDefaultImg()}" th:each="detail : ${artistExhibitionsFirstArtwork[exhibitionStat.index].getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtworkName()}">
                                </div>
                                <p class="item-title" th:each="detail : ${exhibition.getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getExhibitionName()}">여름과 겨울 사이</p>
                                <p class="item-artist">
                                    <span class="korean-name" th:each="detail : ${exhibition.getArtistExhibitions()[0].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
                                    <span th:if="${exhibition.getArtistExhibitions().size() > 1}">
                                        <span th:each="detail : ${exhibition.getArtistExhibitions()[1].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${', ' + detail.getArtistName()}"></span>
                                    </span>
                                    <span th:if="${exhibition.getArtistExhibitions().size() > 2}">
                                        <span th:each="detail : ${exhibition.getArtistExhibitions()[2].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${', ' + detail.getArtistName()}"></span>
                                    </span>
                                    <span th:if="${exhibition.getArtistExhibitions().size() - 3 > 0}">
                                        <span class="etc-number-of-artists" th:text="' ' + #{mypage.other} + ' ' + ${exhibition.getArtistExhibitions().size()-3} + #{more}"></span>
                                    </span>
                                </p>
                            </a>
                            <div class="info-wrap">
                                <span class="total-artwork" th:text="${exhibition.getArtworkExhibitions().size()} + #{artwork}">16작품</span>&nbsp;·&nbsp;<span class="exh-total-time" th:text="${exhibitionDuration[exhibitionStat.index]}">42분 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <button sec:authorize="isAuthenticated()" type="button" class="btn-connect-tv" id="btn_connect_tv" th:onclick="'controlFavoriteArtist('+${artist.getId()}+')'">-->
            <!--                <span th:unless="${isLiked}" ><img th:src="@{/img/icon_become_fan.png}" alt="icon_connect_tv"><span>오늘부터 팬 할래요</span></span>-->
            <!--                <span th:if="${isLiked}"><img th:src="@{/img/icon_aleady_fan.png}" alt="icon_connect_tv"><span>오늘부터 팬 할래요</span></span>-->
            <!--            </button>-->
            <!--            <button sec:authorize="!isAuthenticated()" type="button" class="btn-connect-tv" onclick="NonMemberInAccessible();">-->
            <!--                <span th:unless="${isLiked}" ><img th:src="@{/img/icon_become_fan.png}" alt="icon_connect_tv"><span>오늘부터 팬 할래요</span></span>-->
            <!--                <span th:if="${isLiked}"><img th:src="@{/img/icon_aleady_fan.png}" alt="icon_connect_tv"><span>오늘부터 팬 할래요</span></span>-->
            <!--            </button>-->
        </section>
    </div>
<!--    <div class="wrap">-->
<!--        &lt;!&ndash;section 4&ndash;&gt;-->
<!--        <section class="similar-artist-section" th:if="${similarArtists.size() > 0}">-->
<!--            <h2 class="similar-artist-title" th:text="#{artistDetail.similarArtists}">비슷한 아티스트</h2>-->
<!--            <div class="similar-artist-carousel owl-carousel carousel-wrap">-->
<!--&lt;!&ndash;                <div class="carousel-item" th:each="similarartist : ${similarArtists}" th:if="${similarartist.getArtworks() != null && similarartist.getArtworks().size() != 0}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a th:href="@{'/artists/detail?artist_id='+${similarartist.getId()}}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="carousel-img-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img th:src="${similarartist.getArtworks()[0].getContentsThumbnail().getDefaultImg()}" th:alt="${similarartist.getArtworks()[0].getArtworkName()}">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="carousel-text-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;                            <p class="carousel-text carousel-artist-type">작가</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p class="carousel-text carousel-artist-name">&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="artist-name korean-name" th:text="${similarartist.getKorName()}">작가명</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="bracket-english-name" th:if="${similarartist.getNationality() != '대한민국' && similarartist.getNationality() != '한국'}">&ndash;&gt;-->
<!--&lt;!&ndash;                                    (<span class= "artist-english-name" th:text="${similarartist.getEngName()}"></span>)&ndash;&gt;-->
<!--&lt;!&ndash;                                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="english-name" th:text="${similarartist.getEngName()}">작가명</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            </p>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p class="carousel-text carousel-artist-content" th:text="${similarartist.getIntro()}">그의 작품과 처음 마주한 순간, 압도한 것은 두터운 층으로 구현된 아스라한 形이었다. 끈적 아스라한 形이었다. 끈적 아스라한 形이었다. 끈적</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div class="artist-item" th:each="similarartist : ${similarArtists}" th:if="${similarartist.getArtworks() != null && similarartist.getArtworks().size() != 0}">-->
<!--                    <a th:href="'/' + ${language} + '/artists/detail?artist_id='+${similarartist.getId()}">-->
<!--                        <div class="item-gradation"></div>-->
<!--                        <div class="item-img-wrap">-->
<!--                            <img th:src="${similarartist.getProfileImg()}" th:each="detail : ${similarartist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtistName()}">-->
<!--                        </div>-->
<!--                        <p class="artist-name">-->
<!--                            <span class="artist-name korean-name" th:each="detail : ${similarartist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}">작가명</span>-->
<!--                        </p>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--    </div>-->
    <div class="wrap list other-category" id="other_category">
        <section class="art-stream-contents-section fade-in-section" th:if="${artist.getArtistArtistTags().size() != 0}">
            <h2 class="art-stream-section-title" th:text="#{similarCategory}">비슷한 카테고리</h2>
            <div class="carousel-wrap">
                <div class="owl-carousel">
                    <div class="carousel-item" th:each="tags,index : ${artist.getArtistArtistTags()}" th:if="${index.index} < 15">
                        <a th:href="'/' + ${language} + '/search-result?keyword='+${tags.getArtistTag().getTagName()}" th:text="${tags.getArtistTag().getTagName()}"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--작품 옵션 선택 창 (artist-detail.js - setModalData(selector) 참고)-->
    <div id="artwork_option_box" class="artwork-option-box modal-container"></div>
    <!--공유 옵션 선택 창-->
    <div id="share_option_box" class="share-option-box">
        <div class="modal-gradation-box" onclick="closeModal('#share_option_box')"></div>
        <ul id="share_options" class="share-options">
            <li class="share-option-title" th:text="#{share}">
                공유
            </li>
            <li>
                <button type="button" id="btn_share_kakaotalk" onclick="closeModal('#share_option_box'); shareKakaoTalk();sharedItem('artist',this)">
                    <span th:text="#{kakaotalk}">카카오톡</span>
                    <input type="hidden" class="artist-id" th:value="${artist.getId()}">
                </button>
            </li>
            <li>
                <button type="button" id="btn_share_facebook" onclick="closeModal('#share_option_box'); shareFacebook();sharedItem('artist',this)">
                    <span th:text="#{facebook}">페이스북</span>
                    <input type="hidden" class="artist-id" th:value="${artist.getId()}">
                </button>
            </li>
            <li>
                <button type="button" id="btn_share_twitter" onclick="closeModal('#share_option_box'); shareTwitter();sharedItem('artist',this);">
                    <span th:text="#{twitter}">트위터</span>
                    <input type="hidden" class="artist-id" th:value="${artist.getId()}">
                </button>
            </li>
            <li>
                <button type="button" id="btn_copy_link" onclick=" copyHref(); closeModal('#share_option_box');sharedItem('artist',this)">
                    <span th:text="#{copyLink}">링크 복사</span>
                    <input type="hidden" class="artist-id" th:value="${artist.getId()}">
                </button>
            </li>
        </ul>
        <button type="button" id="btn_share_close" class="btn-share-close" onclick="closeModal('#share_option_box')">
            <img th:src="@{/img/icon_close_popup.png}" alt="icon_close_popup">
        </button>
    </div>
    <input type="hidden" class="loggedIn" sec:authorize="isAuthenticated()" th:value="true">
    <input type="hidden" class="loggedIn" sec:authorize="!isAuthenticated()" th:value="false">
</main>
<!--작가인기아트워크 모두보기 모달-->
<div class="wrap modal-wrap artist-artwork-all-wrap" id="artist_artwork_all">
    <section class="show-all-modal-section">
        <div class="title-container">
            <h1 class="search-all-title"><span th:each="detail : ${artist.getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}">작가이름</span><span>&nbsp; 인기 아트워크</span></h1>
        </div>
        <section class="artwork-list-section">
            <h6 class="artwork-count"><span></span><span th:text="#{mypage.count}"></span></h6>
            <ul class="exh-artworks-list">
                <!-- js로 태그 삽입 -->
            </ul>
            <div class="loading">
                <img th:src="@{/img/spinner.png}" alt="spinner">
            </div>
        </section>
    </section>
</div>
<!--작품 옵션 선택 창-->
</div>
<!--상세 정보 창-->
<div id="artwork_detail_box" class="artwork-detail-box wrap modal-container"></div>
<!--컬렉션 담기 모달-->
<div class="collection-addition-modal wrap" id="collection_addition_modal"></div>

<!-- script 위치 시작 -->
<script th:inline="javascript">
    var save = [[#{save}]];
    var like = [[#{like}]];
    var liked = [[#{liked}]];
    var watchThisArtwork = [[#{watchThisArtwork}]];
    var addToCollection = [[#{addToCollection}]];
    var detailInfo = [[#{detailInfo}]];
    var artworkTitle = [[#{artworkTitle}]];
    var artistNameTitle = [[#{artistNameTitle}]];
    var techniqueTitle = [[#{techniqueTitle}]];
    var sizeTitle = [[#{sizeTitle}]];
    var yearTitle = [[#{yearTitle}]];
    var soundNameTitle = [[#{soundNameTitle}]];
    var soundCreatorTitle = [[#{soundCreatorTitle}]];
    var soundLicenseTitle = [[#{soundLicenseTitle}]];
    var needToLogin = [[#{needToLogin}]];
    var signup = [[#{signup}]];
    var joinPatron = [[#{joinPatron}]];
    var login = [[#{login}]];
    var cancel = [[#{cancel}]];
    var linkCopied = [[#{linkCopied}]];
    var likeExhibition = [[#{likeExhibition}]];
    var unlikeExhibition = [[#{unlikeExhibition}]];
    var shareText = [[#{shareText}]];
    var goToWeb = [[#{goToWeb}]];
    var copied = [[#{copied}]];
    var addedToCollection  = [[#{addedToCollection}]];
    var allCollections = [[#{allCollections}]];
    var addedToChosenCollection = [[#{addedToChosenCollection}]];
    var toBeDeleted = [[#{toBeDeleted}]];
    var addedToLikedArtists = [[#{addedToLikedArtists}]];
    var ogText = [[#{ogText}]];
    var recentlyUsed = [[#{recentlyUsed}]];
    var createNewCollection  = [[#{collectionNew.createNewCollection}]];
    var shareTo = [[#{shareTo}]];
    var artistInfo = [[#{artistInfo}]];
</script>
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<script th:src="@{/js_v1_3/common/owl.carousel.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{https://developers.kakao.com/sdk/js/kakao.js}"></script>
<script>
    Kakao.init('da1fee3add758b28330cf06dd2f04b15');
</script>

<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/artist/artist-detail.js}"></script>
<!-- script 위치 종료 -->
</body>

</html>
