<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="robots" content="noindex,nofollow">
  <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
  <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
  <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
  <title id="html_title">PATRON | Sign up</title>
  <link rel="stylesheet" th:href="@{/css_v1_3/login/accept-service.css}">
  <!-- cookie -->
  <script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
</head>
<body>


<header xmlns:th="http://www.thymeleaf.org">
  <div id="nav_menu">
    <button type="button" id="btn_goback" class="btn-goback">
      <img th:src="@{/img/icon_go_back.png}" alt="icon_go_back">
    </button>
  </div>
</header>
<main>
  <!-- 간편 로그인 서비스 이용 동의 -->
  <div id="modal_social_service_agree" class="modal-social-service-agree" >
    <div class="carousel-item w-box signup-terms-of-service">
      <h2 class="login-section-title" th:if="${language == 'ko'}">서비스 이용 동의</h2>
      <h2 class="login-section-title" th:if="${language == 'en'}">Required</h2>
      <h2 class="login-section-title" th:if="${language == 'ja'}">サービス利用同意</h2>
      <div class="all-service-agree-area">
        <span class="all-service-agree" th:if="${language == 'ko'}">전체 동의하기</span>
        <span class="all-service-agree" th:if="${language == 'en'}">All Agreement</span>
        <span class="all-service-agree" th:if="${language == 'ja'}">全体同意</span>
        <label class="service-check" for="all_service_agree">
          <span class="label-hidden" th:if="${language == 'ko'}">전체 동의하기</span>
          <span class="label-hidden" th:if="${language == 'en'}">All Agreement</span>
          <span class="label-hidden" th:if="${language == 'ja'}">全体同意</span>
        </label>
        <input type="checkbox" id="all_service_agree" name="all_service_agree" onclick="checkBoxAll(this)" tabindex="-1">
      </div>
      <div class="dividing-line"></div>
      <ul class="terms-check-list">
        <li>
          <span th:if="${language == 'ko'}" class="check-essential" onclick="goTermsOfService('ko','service')"><span>[필수] 서비스 이용약관<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <span th:if="${language == 'en'}" class="check-essential" onclick="goTermsOfService('en','service')"><span>[Required] Terms of Service<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <span th:if="${language == 'ja'}" class="check-essential" onclick="goTermsOfService('ja','service')"><span>[必須] サービス利用約款<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <label class="service-check" for="ess_personal_info" tabindex="2">
            <span class="label-hidden" th:if="${language == 'ko'}">[필수] 서비스 이용약관</span>
            <span class="label-hidden" th:if="${language == 'en'}">[Required] Terms of Service</span>
            <span class="label-hidden" th:if="${language == 'ja'}">[必須] サービス利用約款</span>
            <i class="icon-more"><img th:src="@{/img/icon_more_black.png}" th:alt="#{personalInformation}"></i>
          </label>
          <input type="checkbox" id="ess_personal_info" name="service_agree" onclick="checkBox(this)" tabindex="-1">
        </li>
        <li>
          <span th:if="${language == 'ko'}" class="check-essential" onclick="goTermsOfService('ko','privacy')"><span>[필수] 개인정보 처리 방침<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <span th:if="${language == 'en'}" class="check-essential" onclick="goTermsOfService('en','privacy')"><span>[Required] Privacy Policy<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <span th:if="${language == 'ja'}" class="check-essential" onclick="goTermsOfService('ja','privacy')"><span>[必須] 個人情報処理方針<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <label class="service-check" for="ess_terms_service" tabindex="3">
            <span class="label-hidden" th:if="${language == 'ko'}">[필수] 개인정보 처리 방침</span>
            <span class="label-hidden" th:if="${language == 'en'}">[Required] Privacy Policy</span>
            <span class="label-hidden" th:if="${language == 'ja'}">[必須] 個人情報処理方針</span>
            <i class="icon-more"><img th:src="@{/img/icon_more_black.png}" th:alt="#{personalInformation}"></i>
          </label>
          <input type="checkbox" id="ess_terms_service" name="service_agree" onclick="checkBox(this)" tabindex="-1">
        </li>
        <li>
          <span th:if="${language == 'ko'}" class="check-essential" onclick="goTermsOfService('ko','account')"><span>[필수] 계정 운영정책<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <span th:if="${language == 'en'}" class="check-essential" onclick="goTermsOfService('en','account')"><span>[Required] Account Operations Policy<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <span th:if="${language == 'ja'}" class="check-essential" onclick="goTermsOfService('ja','account')"><span>[必須] アカウントポリシー<i class="icon-more"><img th:src="@{/img/icon_more_black.png}" alt="icon"></i></span></span>
          <label class="service-check" for="ess_account_service" tabindex="4">
            <span th:if="${language == 'ko'}" class="label-hidden">[필수] 계정 운영정책</span>
            <span th:if="${language == 'en'}" class="label-hidden">[Required] Account Operations Policy</span>
            <span th:if="${language == 'ja'}" class="label-hidden">[必須] アカウントポリシー</span>
            <i class="icon-more"><img th:src="@{/img/icon_more_black.png}" th:alt="#{personalInformation}"></i>
          </label>
          <input type="checkbox" id="ess_account_service" name="service_agree" onclick="checkBox(this)" tabindex="-1">
        </li>
        <li>
          <span th:if="${language == 'ko'}" class="check-choice">[선택] 혜택 정보 및 마케팅 수신</span>
          <span th:if="${language == 'en'}" class="check-choice">[Option] Receive benefit and marketing</span>
          <span th:if="${language == 'ja'}" class="check-choice">[選擇] 特典情報およびマーケティング受信</span>
          <label class="service-check" for="cho_marketing_reception">
            <span th:if="${language == 'ko'}" class="label-hidden">[선택] 혜택 정보 및 마케팅 수신</span>
            <span th:if="${language == 'en'}" class="label-hidden">[Option] Receive benefit and marketing</span>
            <span th:if="${language == 'ja'}" class="label-hidden">[選擇] 特典情報およびマーケティング受信</span>
          </label>
          <input type="checkbox" id="cho_marketing_reception" name="service_agree" onclick="checkBox(this)" tabindex="-1">
        </li>
      </ul>
      <div>
        <button th:if="${language == 'ko'}" type="button" id="btn_accept_service" class="carousel-control-next btn-login-next" onclick="acceptService();" disabled>계속</button>
        <button th:if="${language == 'en'}" type="button" id="btn_accept_service" class="carousel-control-next btn-login-next" onclick="acceptService();" disabled>Continue</button>
        <button th:if="${language == 'ja'}" type="button" id="btn_accept_service" class="carousel-control-next btn-login-next" onclick="acceptService();" disabled>けいぞく</button>
      </div>
    </div>
  </div>

  <input type="hidden" id="accept_email" th:value="${email}">
  <input type="hidden" id="accept_nickname" th:value="${nickname}">
  <input type="hidden" id="accept_provider" th:value="${provider}">
</main>

<!-- script 위치 시작 -->
<script type="text/javascript" th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script type="text/javascript" th:src="@{/js_v1_3/login/accept-service.js}"></script>
<!-- script 위치 종료 -->
</body>

</html>