<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" style="position: fixed">
<head>
    <meta name="robots" content="noindex,nofollow">
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <title id="html_title">PATRON | Find password</title>
    <link rel="stylesheet" th:href="@{/css_v1_3/login/login.css}">
</head>
<body>
    <header xmlns:th="http://www.thymeleaf.org">
    <div id="nav_menu">
        <button type="button" id="btn_goback" class="btn-goback" onclick="history.go(-1)" style="display: none">
            <img th:src="@{/img/icon_go_back.png}" alt="icon_go_back">
        </button>
        <button id="btn_cancel" class="btn-cancel" onclick="history.go(-1)" th:text="#{cancel}">
            취소
        </button>
    </div>
</header>
    <main>
    <!-- 비밀번호 찾기 -->
    <div class="wrap light">
        <div class="hidden-area">
            <section id="carousel" class="password-find-section">
                <!-- 이메일 주소 입력 -->
                <!--간편로그인 사용자일경우 비밀번호 변경 불가능-->
                <div id="step_1" class="carousel-item w-box password-find-step1">
                    <h2 class="login-section-title" th:text="#{passwordFind.forgotPassword}">비밀번호를 잊으셨나요?</h2>
                    <p class="login-guide-text" th:text="#{passwordFind.checkEmail}">계정 확인을 위해 아이디를 입력해주세요.</p>
                    <div class="login-input-area">
                        <p class="login-input-title" th:text="#{passwordFind.email}">이메일 주소</p>
                        <label class="label-hidden" for="email_id" th:text="#{passwordFind.email}">이메일 주소</label>
                        <input type="email" id="email_id" class="login-input email-id" tabindex="-1" spellcheck="false">
                        <button class="text-eraser email" onclick="eraseTxt('#email_id'); goFocus('#email_id');">
                            <img th:src="@{/img/icon_erase.png}" alt="icon_erase">
                        </button>
                        <div class="email error-guide-box">
                            <p class="error-guide" id="error_no_email" th:text="#{passwordFind.noEmailError}">이메일 주소를 입력하세요.</p>
                            <p class="error-guide" id="error_no_account" th:text="#{passwordFind.noAccountError}">가입된 계정이 없습니다.</p>
                        </div>
                    </div>
                    <div class="buttons-container">
                        <button type="button" id="btn_step1" class="carousel-control-next btn-login-next send-mail extra-button" onclick="emailSession()" th:text="#{next}">다음</button>
                    </div>
                </div>

                <!-- 인증코드 입력 -->
                <div id="step_2" class="carousel-item w-box password-find-step2">
                    <h2 class="login-section-title" th:text="#{authenticationCodeInput}">인증번호를 입력하세요</h2>
                    <p class="login-guide-text" th:text="#{authenticationCodeSend}">다음 이메일 주소로 전송된 코드를 입력하세요.</p>
                    <p id="email_address" class="email-address"></p>
                    <div class="login-input-area">
                        <p class="login-input-title" th:text="#{authenticationCode}">인증코드</p>
                        <label class="label-hidden" for="auth_code" th:text="#{authenticationCode}">인증코드</label>
                        <input type="text" id="auth_code" class="login-input email-id" tabindex="-1" spellcheck="false">
                        <button class="text-eraser code" onclick="eraseTxt('#auth_code'); goFocus('#auth_code');">
                            <img th:src="@{/img/icon_erase.png}" alt="icon_erase">
                        </button>
                        <div class="code error-guide-box">
                            <p class="error-guide" id="error_wrong_code" th:text="#{authenticationCodeInvalid}">코드가 일치하지 않습니다.</p>
                        </div>
<!--                        <p class="error-text" th:text="#{authenticationCodeInvalid}">코드가 일치하지 않습니다.</p>-->
                    </div>
                    <div class="buttons-container">
                        <button type="button" id="btn_step2" class="carousel-control-next btn-login-next check-code extra-button"  tabindex="-1" th:text="#{next}">다음</button>
                        <button type="button" id="btn_no_mail" class="btn-text btn-no-mail" onclick="modalOpen('modal-resend-mail')"  tabindex="-1" th:text="#{authenticationCodeResend}">인증코드 재전송</button>
                    </div>
                </div>

                <!-- 비밀번호 입력 -->
                <div id="step_3" class="carousel-item w-box login-step3 password-find-step3">
                    <h2 class="login-section-title" th:text="#{newPasswordInput}">새 비밀번호를 입력하세요</h2>
                    <p class="login-guide-text" th:text="#{passwordFind.enterNewPW}">계정이 확인되었습니다. 새로운 비밀번호를 입력하세요.</p>
                    <div class="login-input-area">
                        <p class="login-input-title" th:text="#{password}">비밀번호</p>
                        <label class="label-hidden" for="user_pw" th:text="#{password}">비밀번호</label>
                        <input type="password" maxlength='16' id="user_pw" class="login-input email-id" tabindex="-1" spellcheck="false">
                        <button class="text-eraser pw" onclick="eraseTxt('#user_pw'); goFocus('#user_pw');">
                            <img th:src="@{/img/icon_erase.png}" alt="icon_erase">
                        </button>
                        <div class="pw-show-box">
                            <img id="btn_pw_show" class="btn-pw-show" onclick="pwShowToggle('user_pw');" th:src="@{/img/icon_blind.png}" th:alt="#{showPassword}">
                        </div>
                        <div class="pw error-guide-box">
                            <p class="error-guide" id="error_no_password" th:text="#{passwordFind.noPWError}">비밀번호를 입력하세요.</p>
                            <p class="error-guide" id="error_incorrect_password" th:text="#{passwordFind.incorrectPWError}">비밀번호 조건이 맞지 않습니다.</p>
                        </div>
                    </div>
                    <ul class="pw-check-list">
                        <li class="pw-eng">
                            <i class="pw-check"></i>
                            <span th:text="#{lowerCaseUse}">영문 대소문자 사용</span>
                        </li>
                        <li class="pw-spe">
                            <i class="pw-check"></i>
                            <span th:text="#{capitalLetterUse}">특수문자 사용</span>
                        </li>
                        <li class="pw-length">
                            <i class="pw-check"></i>
                            <span th:text="#{moreThanEightChars}">8자 이상 사용</span>
                        </li>
                    </ul>
                    <div class="buttons-container">
                        <button type="button" id="btn_step3" class="btn-login-next carousel-control-next"  tabindex="-1" th:text="#{next}">다음</button>
                    </div>
                </div>

                <!-- 인증번호 재발송 모달 -->
                <div class="modal-content modal-resend-mail" onclick="closeModal('.modal-content')">
                    <div class="modal-area">
                        <p class="modal-title" th:text="#{emailCodeResendConfirmation}">인증메일을 재발송 하시겠습니까?</p>
                        <p class="modal-guide" th:text="#{checkSpamEmail}">먼저 인증메일이 스팸메일함에 있는지 확인<br>해주세요.</p>
                        <button type="button" id="btn_resend_mail" class="btn btn-resend-mail" onclick="resendEmail(this,'password');"  tabindex="-1" th:text="#{emailCodeResend}">재발송하기</button>
                        <button type="button" class="btn-cancel" onclick="modalClose()"  tabindex="-1" th:text="#{cancel}">취소</button>
                    </div>
                </div>
                <!-- 비밀번호 변경 완료 모달-->
                <div class="modal-content modal-changed-pw">
                    <div class="modal-area">
                        <p class="modal-title" th:text="#{passwordFind.loginWithNewPassword}">변경된 비밀번호로 로그인하세요.</p>
                        <p class="modal-guide" th:text="#{passwordFind.passwordChangeConfirmation}">비밀번호가 정상적으로 변경되었습니다.<br>새 비밀번호로 로그인하여 확인해주세요.</p>
                        <button type="button" id="btn_changed_pw" class="btn btn-resend-mail" onclick="linkHref('login');"  tabindex="-1" th:text="#{login.login}">로그인하기</button>
                    </div>
                </div>
                <!--경고 모달-->
                <div id="modal_error" class="modal-box orange modal-error" th:text="#{authenticationCodeInvalid}">
                    입력한 인증코드가 맞지 않습니다.
                </div>
            </section>
        </div>
    </div>
        <!-- 로그인 - 회원가입 안내 모달 -->
    <div class="modal-content modal-social-guide" style="display: none"></div>
</main>

<!-- script 위치 시작 -->
<script th:inline="javascript">
    var failedToSendEmail = [[#{failedToSendEmail}]];
    var authenticationCodeResent = [[#{authenticationCodeResent}]];
    var authenticationCodeInvalid = [[#{authenticationCodeInvalid}]];
    var alreadySnsAccountEnglish  = [[#{login.alreadySnsAccountEnglish}]];
    var alreadySnsAccount  = [[#{login.alreadySnsAccount}]];
    var authenticationPeriodPassed  = [[#{login.authenticationPeriodPassed}]];
    var simpleLogin  = [[#{login.simpleLogin}]];
</script>
<script type="text/javascript" th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script type="text/javascript" th:src="@{/js_v1_3/login/login.js}"></script>
<script type="text/javascript" th:src="@{/js_v1_3/login/login-ajax.js}"></script>
<script>
    document.getElementById('btn_step1').addEventListener('click',function(){
        document.getElementById('btn_goback').style.display = 'none';
    })
</script>
<!-- script 위치 종료 -->
</body>
</html>