.item-exh-title {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 26px;
  color: #0A0A0A;
}

.item-exh-artist {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
}

#anchor_see_more_item {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.similar-artist-section .carousel-artist-name, .artist-art-stream-section .carousel-exh-title {
  width: auto;
  height: 27px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 18px;
  line-height: 27px;
}

.other-category .art-stream-section-title, .similar-artist-section .similar-artist-title, .artist-artworks-list-section h2, .artist-art-stream-section .art-stream-section-title {
  height: 27px;
  margin-bottom: 8px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
}

a {
  display: block;
  width: inherit;
}

body {
  background-color: #0A0A0A;
}

#exhibition_id {
  display: none;
}

.artist-info-container {
  position: relative;
  padding: 0;
}
.artist-info-container .exh-info-section {
  display: flex;
  flex-direction: column;
  padding: 72px 0 40px 0;
}
.artist-info-container .exh-info-section .exh-info-box {
  display: block;
  width: 100vw;
  height: auto;
  margin-bottom: 34px;
  background-color: #0a0a0a;
}
.artist-info-container .exh-info-section .exh-title {
  display: block;
  width: calc(100vw - 76px);
  float: left;
  height: auto;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 28px;
  color: #f5f5f5;
  margin-top: 7px;
}
@media screen and (min-width: 481px) {
  .artist-info-container .exh-info-section .exh-title {
    width: calc(768rem - 44px);
  }
}
.artist-info-container .exh-info-section .artist-profile-img {
  display: block;
  float: left;
  position: relative;
  margin-right: 16px;
  overflow: hidden;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  margin-top: 0;
}
.artist-info-container .exh-info-section .artist-profile-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  -webkit-filter: grayscale(100%);
}
.artist-info-container .exh-info-section .exh-description {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  color: #adadad;
  line-height: unset;
}
.artist-info-container .exh-info-section .exh-tags {
  display: flex;
  padding-top: 24px;
  flex-wrap: wrap;
  row-gap: 12px;
}
.artist-info-container .exh-info-section .exh-tags ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
}
.artist-info-container .exh-info-section .exh-tags ul li {
  height: 28px;
  padding: 0 10px;
  margin-right: 8px;
  line-height: 28px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.65);
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
}
.artist-info-container .exh-info-section .exh-tags ul li a {
  display: block;
  width: inherit;
  height: inherit;
  opacity: 0.65;
}

.player-wrap {
  display: none;
  width: 100vw;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 2;
  -webkit-filter: grayscale(100%);
}
@media screen and (min-width: 481px) {
  .player-wrap {
    position: relative;
    width: 768rem;
    height: 432rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.player-wrap .play-step-1 {
  display: block;
  width: 100vw;
  height: 56.25vw;
}
@media screen and (min-width: 481px) {
  .player-wrap .play-step-1 {
    width: inherit;
    height: inherit;
  }
}
.player-wrap .play-step-1 .player-gradation {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 47.92%, #0A0A0A 100%);
}
.player-wrap .play-step-1 img {
  width: inherit;
  height: inherit;
}
.player-wrap .play-step-1 video {
  width: inherit;
  height: inherit;
}
.player-wrap .play-step-2 {
  display: none;
  width: 100vw;
  height: 202.5px;
}
.player-wrap .play-step-2 .player-gradation {
  position: absolute;
  width: 100vw;
  height: inherit;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) -70.12%, #0A0A0A 100%);
}
.player-wrap .play-step-2 img {
  width: inherit;
}
.player-wrap .play-step-2 .controllers {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 232px;
  flex-direction: row;
  justify-content: center;
}
.player-wrap .play-step-2 .controllers button {
  background: transparent;
}
.player-wrap .play-step-2 .controllers button img {
  width: 56px;
}

.btn-play-artist-video {
  position: absolute;
  top: 77px;
  left: 50%;
  transform: translatex(-50%);
  background: transparent;
  width: 56px;
  z-index: 1;
}

.play-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: #2841fa;
}

.fixed-bar {
  display: block;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: #424242;
}

.playing-bar {
  display: block;
  position: absolute;
  left: 0;
  width: 20vw;
  height: 2px;
  background-color: #2841fa;
}

.current-artist-wrap {
  display: none;
  position: fixed;
  top: 250.5px;
  z-index: 2;
}
.current-artist-wrap .current-artist-section {
  height: 49px;
  box-sizing: border-box;
}
@media screen and (min-width: 481px) {
  .current-artist-wrap .current-artist-section {
    display: none !important;
  }
}
.current-artist-wrap .current-artist-section ul {
  display: flex;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.current-artist-wrap .current-artist-section ul li:nth-of-type(1) {
  padding-top: 8px;
}
.current-artist-wrap .current-artist-section ul li:nth-of-type(1) .carousel-artist-type {
  height: 15px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 10px;
  line-height: 12px;
  color: rgba(245, 245, 245, 0.65);
}
.current-artist-wrap .current-artist-section ul li:nth-of-type(1) .carousel-artist-title {
  height: 18px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 14px;
  color: #f5f5f5;
}
.current-artist-wrap .current-artist-section ul li:nth-of-type(1) .carousel-exh-artist {
  height: 18px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #f5f5f5;
}

.artist-art-stream-section {
  padding: 0 0 40px 0;
}
.artist-art-stream-section .art-stream-section-title {
  color: #f5f5f5;
}
.artist-art-stream-section .carousel-exh-title {
  color: #f5f5f5;
}
.artist-art-stream-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.artist-art-stream-section .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  margin-right: 8px !important;
}
.artist-art-stream-section .carousel-item {
  height: 410px;
  background: rgba(255, 255, 255, 0.08);
}
.artist-art-stream-section .carousel-item .art-stream-carousel-img-wrap {
  height: 246px;
}
.artist-art-stream-section .carousel-item .art-stream-carousel-img-wrap img {
  position: absolute;
  margin-left: 50%;
  transform: translatex(-50%);
  z-index: -1;
}
.artist-art-stream-section .carousel-item .carousel-exh-type {
  height: 16px;
  line-height: 16px;
}
.artist-art-stream-section .carousel-item .carousel-exh-artist {
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.65);
}
.artist-art-stream-section .carousel-item .carousel-exh-content {
  height: 42px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.artist-art-stream-section .carousel-item .icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 17px;
  right: 12px;
}
.artist-art-stream-section .btn-connect-tv {
  width: auto;
  position: relative;
  left: 50%;
  height: auto;
  margin: 60px 0 0 0;
  transform: translatex(-50%);
  background: transparent;
}
.artist-art-stream-section .btn-connect-tv img {
  width: 56px;
}
.artist-art-stream-section .btn-connect-tv span {
  display: block;
  height: 23px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #ffffff;
}

.artist-artworks-list-section {
  padding: 0 0 40px 0;
}
.artist-artworks-list-section h2 {
  color: #fff;
}
.artist-artworks-list-section .artist-artworks-list {
  display: flex;
  flex-direction: column;
}
.artist-artworks-list-section .artist-artworks-list > li {
  display: none;
  justify-content: space-between;
  margin-bottom: 12px;
}
.artist-artworks-list-section .artist-artworks-list > li.artwork-list:nth-of-type(-n+5) {
  display: flex !important;
}
.artist-artworks-list-section .artist-artworks-list > li:last-of-type {
  margin-bottom: 0;
}
.artist-artworks-list-section .artist-artworks-list .artist-artwork {
  display: flex;
  flex-direction: row;
  width: 88%;
  height: 45px;
}
.artist-artworks-list-section .artist-artworks-list .artist-artwork .artist-artwork-img-wrap {
  min-width: 80px;
  width: 80px;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
}
.artist-artworks-list-section .artist-artworks-list .artist-artwork .artist-artwork-img-wrap img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.artist-artworks-list-section .artist-artworks-list .artwork-txt-info {
  width: 100%;
  margin-left: 12px;
}
.artist-artworks-list-section .artist-artworks-list .artwork-txt-info li {
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artist-artworks-list-section .artist-artworks-list .artwork-txt-info li:nth-of-type(1) {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}
.artist-artworks-list-section .artist-artworks-list .artwork-txt-info li:nth-of-type(2) {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #c2c2c2;
  opacity: 0.65;
}
.artist-artworks-list-section .artist-artworks-list .icon-show-option {
  width: 28px;
  height: 28px;
  background: transparent;
}
.artist-artworks-list-section .artist-artworks-list .icon-show-option img {
  width: inherit;
}
.artist-artworks-list-section .btn-share-artist {
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 76px;
  margin-top: 62px;
  background: transparent;
}
.artist-artworks-list-section .btn-share-artist img {
  width: 52px;
}
.artist-artworks-list-section .btn-share-artist span {
  display: block;
  height: 18px;
  margin-top: 6px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #0A0A0A;
}

.similar-artist-section {
  padding: 40px 0 60px 0;
}
.similar-artist-section .carousel-artist-name {
  color: #f5f5f5;
}
.similar-artist-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.similar-artist-section .similar-artist-title {
  color: #f5f5f5;
}
.similar-artist-section .similar-artist-carousel .carousel-item {
  height: 381px;
  background: rgba(255, 255, 255, 0.08);
}
.similar-artist-section .similar-artist-carousel .carousel-item .carousel-img-wrap {
  height: 246px;
}
.similar-artist-section .similar-artist-carousel .carousel-item .carousel-img-wrap img {
  position: absolute;
  margin-left: 50%;
  transform: translatex(-50%);
  z-index: -1;
  -webkit-filter: grayscale(100%);
}
.similar-artist-section .similar-artist-carousel .carousel-item .carousel-text-wrap {
  top: 246px;
  padding: 12px;
}
.similar-artist-section .similar-artist-carousel .carousel-item .carousel-artist-content {
  font-family: RobotoRegular, notoSansRegular, serif;
  margin-top: 24px;
}

.artwork-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}
.artwork-option-box .artwork-options {
  position: absolute;
  bottom: 176px;
  left: 50%;
  transform: translateX(-50%);
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-id {
  display: none;
}
.artwork-option-box .artwork-options .artwork-wrap a {
  display: flex;
  margin-bottom: 28px;
}
.artwork-option-box .artwork-options .artwork-wrap img {
  width: 96px;
  margin-right: 12px;
  border-radius: 4px;
}
.artwork-option-box .artwork-options .artwork-wrap img.icon-more {
  width: 16px;
  height: 16px;
  align-self: center;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info {
  width: 200px;
  padding-top: 5px;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li {
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li:nth-of-type(1) {
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #f5f5f5;
  opacity: 0.65;
}
.artwork-option-box .artwork-options button {
  background: transparent;
  width: 100%;
  height: 52px;
  text-align: left;
}
.artwork-option-box .artwork-options button img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.artwork-option-box .artwork-options button span {
  margin-left: 8px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.artwork-option-box .btn-artwork-options-close {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.artwork-option-box .btn-artwork-options-close img {
  width: inherit;
}

.share-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 0%, #0A0A0A 30.21%);
}
.share-option-box .share-options {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.share-option-box .share-options .share-option-title {
  height: 48px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
}
.share-option-box .share-options button {
  background: transparent;
  width: 100%;
  height: 48px;
  text-align: center;
}
.share-option-box .share-options button img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.share-option-box .share-options button span {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.share-option-box .btn-share-close {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  background: transparent;
}
.share-option-box .btn-share-close img {
  width: inherit;
}

.artwork-detail-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1001;
  overflow: scroll;
}
.artwork-detail-box section {
  padding-bottom: 80px;
}
.artwork-detail-box h1 {
  height: 27px;
  margin: 24px 0 12px 0;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.artwork-detail-box .btn-goback {
  margin: 10px 0px;
}
.artwork-detail-box .thumbnail-img-wrap {
  position: relative;
  width: 297px;
  height: 184px;
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
}
.artwork-detail-box .thumbnail-img-wrap img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: inherit;
  transform: translate(-50%, -50%);
}
.artwork-detail-box .info-box {
  width: inherit;
  height: auto;
  margin-top: 12px;
  padding: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}
@media screen and (min-width: 481px) {
  .artwork-detail-box .info-box {
    width: 768rem;
  }
}
.artwork-detail-box .info-box li {
  margin-bottom: 8px;
}
.artwork-detail-box .info-box li:last-of-type {
  margin-bottom: 0;
}
.artwork-detail-box .info-box li span {
  display: block;
}
.artwork-detail-box .info-box li span:nth-of-type(1) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.artwork-detail-box .info-box li span:nth-of-type(2) {
  height: auto;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}
.artwork-detail-box .info-box li span.korean-name {
  color: #f5f5f5;
}

@media screen and (min-width: 481px) {
  .artist-art-stream-section, .artist-artworks-list-section, .similar-artist-section, .exh-info-section, .collection-add-section, .more-info-section {
    width: 768rem;
  }
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-self: center;
}
.buttons .artist-button {
  display: block;
  background: transparent;
  text-align: left;
  width: 30px;
  height: 30px;
}
.buttons .artist-button img {
  width: 28px;
  margin-left: 50%;
  transform: translatex(-50%);
}
.buttons .artist-button span {
  display: none;
  width: inherit;
  height: 18px;
  font-weight: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  opacity: 0.65;
  text-align: center;
}

.contents-wrap {
  width: auto;
}
@media screen and (min-width: 481px) {
  .contents-wrap {
    width: 328px;
  }
  .contents-wrap .contents-wrap-div {
    width: 328px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.exh-artwork {
  margin-right: 6px;
  color: rgba(245, 245, 245, 0.65);
}
.exh-artwork span {
  text-decoration: none;
}

.exh-item {
  position: relative;
  width: 328px;
  height: 252px;
  overflow: inherit;
  margin-bottom: 24px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.exh-item .icon-exhibition {
  width: 28px !important;
  height: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  opacity: 0.8;
}
.exh-item .item-img-wrap {
  height: 184.5px;
  border-radius: 8px;
  overflow: hidden;
}
.exh-item .item-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.exh-item .item-gradation {
  position: absolute;
  width: 100%;
  height: 184.5px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
}
.exh-item .carousel-artwork-title {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
}
.exh-item .carousel-artwork-artist {
  color: rgba(255, 255, 255, 0.65);
}
.exh-item .item-text-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  box-sizing: border-box;
}

@media screen and (min-width: 481px) {
  .art-stream-contents-section {
    width: 768rem;
  }
}

.art-stream-section-title {
  height: 36px;
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 12px;
}

.exh-info-wrap {
  display: block;
  width: auto;
  height: 18px;
  margin-bottom: 8px;
  line-height: 18px;
  color: rgba(245, 245, 245, 0.65);
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
}

.item-exh-title {
  width: auto;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-exh-artist {
  white-space: nowrap;
  width: 328px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.artist-item {
  position: relative;
  flex-basis: 160px;
  width: 160px;
  margin-bottom: 40px;
}
.artist-item .artist-name {
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
  margin-top: 4px;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-item .item-img-wrap {
  width: 160px;
  height: 184.5px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
}
.artist-item .item-img-wrap img {
  position: relative;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
}
.artist-item .item-gradation {
  position: absolute;
  z-index: 1;
  width: 160px;
  height: 184.5px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
  border-radius: 8px;
}

.player-button {
  width: 52px;
  height: 52px;
}

.btn_play {
  width: inherit;
  height: inherit;
  border-radius: 52px;
  overflow: hidden;
}
.btn_play img {
  width: inherit;
  height: inherit;
}

.artist-artwork-all-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  box-sizing: border-box;
  overflow: scroll;
  background: #0A0A0A;
}
.artist-artwork-all-wrap .artwork-list-section {
  position: fixed;
  top: 111px;
  left: 50%;
  height: calc(100vh - 120px);
  padding-bottom: 160px;
  transform: translatex(-50%);
  border-bottom: none;
  overflow: scroll;
  box-sizing: border-box;
}
@media screen and (min-width: 481px) {
  .artist-artwork-all-wrap .artwork-list-section {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 481px) {
  .artist-artwork-all-wrap .artwork-list-section {
    width: 768rem;
  }
}
.artist-artwork-all-wrap .artwork-list-section .artwork-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(245, 245, 245, 0.65);
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list > li {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list > li a {
  display: flex;
  width: 100%;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list > li:last-of-type {
  margin-bottom: 0px;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .exh-artwork {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 45px;
  background: transparent;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .exh-artwork span {
  text-decoration: none;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .exh-artwork .exh-artwork-img-wrap {
  width: 80px;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .exh-artwork .exh-artwork-img-wrap img {
  width: 80px;
  height: inherit;
  object-fit: cover;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info {
  width: 200px;
  margin-left: 12px;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info li:nth-of-type(1) {
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #f5f5f5;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info li:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  text-align: left;
  line-height: 21px;
  color: #f5f5f5;
  opacity: 0.65;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .icon-show-option {
  width: 28px;
  height: 28px;
  background: transparent;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .icon-show-option img {
  width: inherit;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artworks-list .icon-show-option span {
  display: none;
}
.artist-artwork-all-wrap .artwork-list-section .exh-artwork-more {
  text-decoration: underline;
  color: rgba(245, 245, 245, 0.65);
}

.title-container {
  position: fixed;
  width: 100vw;
  top: 72px;
  background: #0A0A0A;
  z-index: 100;
}
.title-container h1 {
  height: 27px;
  margin-bottom: 12px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

@media screen and (max-width: 570px) {
  .title-container h1 {
    width: 328px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1440px) {
  .title-container h1 {
    width: 88vw;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1921px) {
  .title-container h1 {
    width: 50vw;
  }
}
.artwork-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}
.artwork-option-box .artwork-options {
  position: absolute;
  bottom: 176px;
  left: 50%;
  transform: translateX(-50%);
}
.artwork-option-box .artwork-options .artwork-wrap a, .artwork-option-box .artwork-options .artwork-wrap button {
  display: flex;
  margin-bottom: 28px;
}
.artwork-option-box .artwork-options .artwork-wrap img {
  width: 96px;
  height: 54px;
  border-radius: 4px;
  transform: translatey(0);
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info {
  width: 180px;
  padding-top: 5px;
  margin-left: 12px;
  margin-right: 20px;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li {
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li:nth-of-type(1) {
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 21px;
  color: #f5f5f5;
  opacity: 0.65;
}
.artwork-option-box .artwork-options .artwork-wrap #artwork_options_arrow {
  width: 16px;
  height: 16px;
  top: 20px;
  position: relative;
}
.artwork-option-box .artwork-options button, .artwork-option-box .artwork-options a,
.artwork-option-box .artwork-options .artist-information {
  display: block;
  background: transparent;
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: left;
}
.artwork-option-box .artwork-options button img, .artwork-option-box .artwork-options a img,
.artwork-option-box .artwork-options .artist-information img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.artwork-option-box .artwork-options button span, .artwork-option-box .artwork-options a span,
.artwork-option-box .artwork-options .artist-information span {
  margin-left: 8px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.artwork-option-box .artwork-options button span.korean-name, .artwork-option-box .artwork-options button span.bracket-english-name, .artwork-option-box .artwork-options button span.english-name, .artwork-option-box .artwork-options a span.korean-name, .artwork-option-box .artwork-options a span.bracket-english-name, .artwork-option-box .artwork-options a span.english-name,
.artwork-option-box .artwork-options .artist-information span.korean-name,
.artwork-option-box .artwork-options .artist-information span.bracket-english-name,
.artwork-option-box .artwork-options .artist-information span.english-name {
  margin: 0;
}
.artwork-option-box .btn-artwork-options-close {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.artwork-option-box .btn-artwork-options-close img {
  width: inherit;
}

.artwork-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-see-all {
  font-size: 14px;
  background-color: transparent;
  color: #2841fa;
  text-decoration: underline;
  font-family: RobotoMedium, notoSansMedium, serif;
}

.artist-artworks-list-section h2 {
  margin-bottom: 0;
}

.other-category {
  padding-bottom: 96px;
}
.other-category .art-stream-section-title {
  color: #f5f5f5;
}
.other-category .carousel-item {
  width: unset;
  height: unset;
  display: flex;
  flex-direction: column;
}
.other-category .carousel-item a {
  display: flex;
  overflow: hidden;
  width: unset;
  height: unset;
  padding: 12px 24px;
  background-color: #1f1f1f;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 16px;
  font-family: RobotoRegular, notoSansRegular, serif;
}

/*# sourceMappingURL=artist-detail.css.map */
