<div id="voice_guide" style="transition: .5s">
    <div class="genie-voice-guide voice-guide-container">
        <p class="guide-mic">
            <i class="g-voice-icon"></i>
            <!-- 호출어 추가 -->
            <!-- gigagenie.appinfo.getUserInfo - extra.kwsid으로 셋팅 -->
            <span class="voice-exit">서비스를 종료하려면 "나가기"</span>
        </p>
        <ul class="lolling-list">
            <li>
                <span>찾으시는 작가의 전시를 보려면 "작가이름 + 전시 보여줘"</span>
                <span class="showing-first">모네 전시 보여줘</span>
                <span class="showing-first">고흐 전시 보여줘</span>
            </li>
            <li>
                <p>선택된 전시 또는 작품을 바로 감상하려면 "감상하기"</p>
            </li>
            <li>
                <span>찾으시는 작가의 전시를 보려면 "작가이름 + 전시 보여줘"</span>
                <span class="showing-first">모네 전시 보여줘</span>
                <span class="showing-first">고흐 전시 보여줘</span>
            </li>
        </ul>
        <p class="voice-guide-common">서비스를 종료하려면 “나가기”</p>
    </div>
</div>
<div id="voice_guide_player" class="disnone" style="transition: .5s">
    <div class="genie-voice-guide voice-guide-container">
        <p class="guide-mic">
            <i class="g-voice-icon"></i>
            <!-- 호출어 추가 -->
            <!-- gigagenie.appinfo.getUserInfo - extra.kwsid으로 셋팅 -->
            <span class="voice-exit">파트론 홈으로 돌아가려면 “홈으로”</span>
        </p>
        <ul class="lolling-list-player">
            <li>
                <span>작가의 더 많은 작품을 보려면 "작가정보"</span>
            </li>
            <li>
                <p>전시의 이전 또는 다음 작품의 감상을 원하면 "이전작품" 또는 "다음작품"</p>
            </li>
            <li>
                <span>작가의 더 많은 작품을 보려면 "작가정보"</span>
            </li>
        </ul>
        <p class="voice-guide-common">파트론 홈으로 돌아가려면 “홈으로”</p>
    </div>
</div>
