@charset "UTF-8";
@media screen and (max-width: 570px) {
  section {
    width: 330px;
  }
}
/***** 전체 *****/
.login-button {
  font-size: 16px;
  font-weight: normal;
  background-color: #2841fa;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
}

#carousel {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.5s ease-in-out 0s;
}

.carousel-item {
  overflow: inherit;
}

.wrap {
  height: 100%;
}

.blue {
  background-color: #2841fa !important;
}

.green {
  color: #3EBA27;
}

.orange {
  color: #EA6600;
}

.btn-goback {
  position: unset;
}

main {
  padding-top: 72px;
}

.hidden-area {
  width: 360px;
  overflow: hidden;
  margin: auto;
}

.w-box {
  width: 360px;
  margin-right: 40px;
}

.login-section-title {
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 4px;
}

.login-guide-text {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}

.login-input-area {
  margin-top: 16px;
}

.btn-login-more {
  margin-top: 16px;
}

.login-input-title {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #2841fa;
}

.login-input {
  font-family: notoSansRegular, serif;
  font-size: 20px;
  color: #0A0A0A;
  width: 328px;
  height: 54px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #2841fa;
  caret-color: #2841fa;
  margin-bottom: 16px;
}

.error-text {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #EA6600;
  margin-bottom: 8px;
  display: none;
}

.btn-text {
  display: block;
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #0A0A0A;
  text-decoration: underline;
  background-color: transparent;
}

.btn-login-next {
  position: fixed;
  margin-top: 40px;
  width: 328px;
  height: 48px;
  background-color: #EBEBEB;
  border-radius: 12px;
}

.modal-content.active {
  top: 0;
}

/* 회원가입 서비스 이용 동의 */
.modal-social-service-agree {
  position: relative;
  display: block;
  width: 360px;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

.signup-terms-of-service input[type=checkbox] {
  display: none;
}
.signup-terms-of-service input[type=checkbox] + label {
  cursor: pointer;
}
.signup-terms-of-service .service-check {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-size: cover;
  background-image: url("../../img/icon_check_inactive.png");
  border: none;
  border-radius: 50%;
  position: absolute;
}
.signup-terms-of-service .service-check.active {
  background-image: url("../../img/icon_check_active.png");
}

.all-service-agree-area label {
  margin-top: 38px;
}

.all-service-agree {
  display: inline-block;
  width: 304px;
  font-family: notoSansMedium, serif;
  font-size: 16px;
  margin-top: 38px;
}

.terms-check-list span {
  display: inline-block;
  width: 304px;
  font-family: notoSansRegular, serif;
  font-size: 14px;
}
.terms-check-list li {
  margin-bottom: 20px;
}
.terms-check-list .check-essential {
  cursor: pointer;
  text-decoration: underline;
}
.terms-check-list .check-choice {
  color: #707070;
}

.dividing-line {
  width: 328px;
  height: 1px;
  background-color: #ebebeb;
  margin: 26px 0;
}

.login-step4 .login-input-title {
  margin-top: 41px;
}
.login-step4 ul li {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  margin-bottom: 8px;
}

.pw-check-list li {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  color: #999;
  margin-bottom: 8px;
}
.pw-check-list li.green {
  color: #3EBA27;
}

.pw-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/icon_waiting_for_success.png");
  background-size: cover;
  transform: translateY(3px);
}

.pw-check.active {
  background-image: url("../../img/icon_success.png");
}

.btn-pw-show {
  position: absolute;
  width: 100px;
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #707070;
  transform: translate(-70px, 25px);
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.icon-more {
  width: 16px;
  height: 16px;
  background: transparent;
  display: inline-block;
  transform: translateY(2px);
}
.icon-more img {
  width: inherit;
}

.weglot-container {
  opacity: 1;
}

.weglot-container.wg-default {
  display: block;
}

/*# sourceMappingURL=accept-service.css.map */
