@import '../common/library';
//common
html{
  background-color: $background-dark;
}
.keyword-info{
  display: none;
}
//section 2
.result-wrap{
  position: fixed;
  top: 92px;
  height: calc(100vh - 92px);
  margin-left: 50%;
  transform: translateX(-50%);
  //overflow: scroll;
  h1{
    height: 24px;
    font-family: $bothRegular;
    font-size: $fontsize-regular;
    line-height: 23px;
    color: $text-light;
  }
}

//alert
.modal-background{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  background: $background-dark;
  .modal-box{
    display: block;
    font-family: $bothMedium;
    font-size: $fontsize-small-regular;
    color: $error-color;
    padding: 0 16px 0 12px;
  }
}


//carousel web css
@media screen and (min-width: 481px) {
  .search-main-section, .search-section, .result-wrap {
    width: 768rem;
  }
}

