<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="common/common-meta.html :: headMeta"></div>
    <div th:remove="tag" th:replace="common/common-link.html :: headLink"></div>
    <div th:remove="tag" th:replace="common/common-head-script.html :: headScript"></div>
    <title id="html_title">PATRON | Artstream</title>
    <meta name="Description" CONTENT="4K Visual Arts Streaming Service with Music">
    <link rel="stylesheet" th:href="@{/css_v1_3/artstream/artstream-all.css}">
</head>
<body>

<div th:replace="common/header-depth.html"></div>
<main>
    <div class="wrap">
        <section class="art-stream-contents-section art-stream-exh-section">
            <h2 class="art-stream-section-title" th:text="#{artstream}">아트스트림</h2>
            <button type="button" id="btn_sorting" class="btn-sorting" onclick="showModal('#sorting_option_box'); checkNowSortingStandard(this)">
                <span th:text="#{latestReleaseOrder}">최신순</span><img th:src="@{/img/icon_sorting.png}" alt="icon_sorting">
            </button>
            <div class="art-stream-list">
                <div class="contents-wrap" th:each="exhibition : ${exhibitions}">
                    <div class="contents-wrap-div">
                        <div class="exh-item">
                            <a th:href="'/' + ${language} + '/player?exh_id='+${exhibition.getId()}">
                                <div class="item-gradation"></div>
                                <img class="icon-exhibition" src="/img/icon_exhibition.png" alt="icon_exhibition">
                                <div class="item-img-wrap">
                                    <img th:src="${exhibition.getArtworkExhibitions()[0].getArtwork().getContentsThumbnail().getDefaultImg()}"  th:each="detail : ${exhibition.getArtworkExhibitions()[0].getArtwork().getArtworkDetails()}" th:if="${detail.getLanguage().equals(language)}" th:alt="${detail.getArtworkName()}">
                                </div>
                                <p class="item-exh-title" th:each="detail : ${exhibition.getExhibitionDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getExhibitionName()}">Exhibition Title</p>
                            </a>
                            <div class="item-text-wrap">
                                <p class="item-exh-artist">
                                    <span class="korean-name" th:each="detail : ${exhibition.getArtistExhibitions()[0].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${detail.getArtistName()}"></span>
                                    <span th:if="${exhibition.getArtistExhibitions().size() > 1}">
                                        <span th:each="detail : ${exhibition.getArtistExhibitions()[1].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${', ' + detail.getArtistName()}"></span>
                                    </span>
                                    <span th:if="${exhibition.getArtistExhibitions().size() > 2}">
                                        <span th:each="detail : ${exhibition.getArtistExhibitions()[2].getArtist().getArtistDetails()}" th:if="${detail.getLanguage().equals(language)}" th:text="${', ' + detail.getArtistName()}"></span>
                                    </span>
                                    <span th:if="${exhibition.getArtistExhibitions().size() - 3 > 0}">
                                        <span class="etc-number-of-artists" th:text="' ' + #{mypage.other} + ' ' + ${exhibition.getArtistExhibitions().size()-3} + #{more}"></span>
                                    </span>
                                </p>
                                <div class="exh-info-wrap">
                                    <span class="exh-total-artwork" th:text="${exhibition.getArtworkExhibitions().size()} + #{artwork}">16작품</span>, <span class="exh-total-time" th:text="${exhibitionDuration[exhibitionStat.index]}">1시간 12분</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loading">
                <img th:src="@{/img/spinner.png}" alt="spinner">
            </div>
        </section>
    </div>
    <div id="sorting_option_box" class="sorting-option-box modal-container">
        <div class="modal-gradation-box" onclick="closeModal('#sorting_option_box')"></div>
        <ul id="sorting_options" class="sorting-options">
            <li class="sorting-option-title" th:text="#{sort}">정렬</li>
            <li>
                <img class="icon-confirm" th:src="@{/img/icon_confirm_white.png}" th:alt="icon_confirm_white">
                <button type="button" id="btn_sort_latest" class="btn-sort-latest" onclick="changeText('#btn_sorting span',this); closeModal('#sorting_option_box'); sortArtStream('latest')">
                        <span th:text="#{latestReleaseOrder}">최신순</span>
                </button>
            </li>
            <li>
                <img class="icon-confirm" th:src="@{/img/icon_confirm_white.png}" th:alt="icon_confirm_white">
                <button type="button" id="btn_sort_popularity" class="btn-sort-popularity" onclick="changeText('#btn_sorting span',this); closeModal('#sorting_option_box'); sortArtStream('popular')">
                        <span th:text="#{popularOrder}">인기순</span>
                </button>
            </li>
<!--            <li>-->
<!--                <img class="icon-confirm" th:src="@{/img/icon_confirm_white.png}" th:alt="icon_confirm_white">-->
<!--                <button type="button" id="btn_sort_alphabetical" class="btn-sort-alphabetical" onclick="changeText('#btn_sorting span',this); closeModal('#sorting_option_box'); sortArtStream('alphabet')">-->
<!--                        <span th:text="#{alphabetOrder}">가나다순</span>-->
<!--                </button>-->
<!--            </li>-->
            <li>
                <img class="icon-confirm" th:src="@{/img/icon_confirm_white.png}" th:alt="icon_confirm_white">
                <button type="button" id="btn_sort_share" class="btn-sort-share" onclick="changeText('#btn_sorting span',this); closeModal('#sorting_option_box'); sortArtStream('share')">
                        <span th:text="#{numberOfSharesOrder}">공유순</span>
                </button>
            </li>
        </ul>
        <button type="button" id="btn_sort_close" class="btn-sort-close" onclick="closeModal('#sorting_option_box')">
            <img th:src="@{/img/icon_close_popup.png}" alt="icon_close_popup">
        </button>
    </div>
</main>

<!-- script 위치 시작 -->
<script th:inline="javascript">
    var artwork = [[#{artwork}]];
</script>
<script th:src="@{/js_v1_3/common/jquery.min.js}"></script>
<script th:src="@{/js_v1_3/common/jsCookie.js}"></script>
<script th:src="@{/js_v1_3/common/owl.carousel.js}"></script>
<!--<script th:src="@{/js/common/sockjs.min.js}"></script>-->
<!--<script th:src="@{/js/common/stomp.min.js}"></script>-->
<script th:src="@{/js_v1_3/common/header.js}"></script>
<script th:src="@{/js_v1_3/common/common.js}"></script>
<script th:src="@{/js_v1_3/artstream/artstream-all.js}"></script>
<!-- script 위치 종료 -->
</body>

</html>
