.modal-connected .btn-cancel {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #0a0a0a;
  font-size: 14px;
  text-decoration: underline;
}

.code-error-modal {
  color: #EA6600;
}

.tv-connection-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.tv-connection-modal section {
  position: relative;
  top: 48px;
}
.tv-connection-modal .blue {
  background-color: #2841fa !important;
}
.tv-connection-modal ol.tv-connection-guide-text {
  list-style: decimal;
  height: 72px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #707070;
  padding-left: 16px;
}
.tv-connection-modal .tv-connection-container {
  width: inherit;
  margin-right: 40px;
}
@media screen and (min-width: 481px) {
  .tv-connection-modal .tv-connection-container {
    width: 768rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.tv-connection-modal .tv-connection-title {
  margin-top: 16px;
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 4px;
}
.tv-connection-modal .tv-connection-subtitle {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.tv-connection-modal .code-input-area {
  width: inherit;
  margin-top: 16px;
}
.tv-connection-modal .code-input-title {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #707070;
}
.tv-connection-modal .code-input {
  font-family: notoSansRegular, serif;
  font-size: 18px;
  color: #0A0A0A;
  width: 100%;
  height: 54px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #2841fa;
  caret-color: #2841fa;
}
@media screen and (min-width: 481px) {
  .tv-connection-modal .code-input {
    width: 768rem;
  }
}
.tv-connection-modal .code-input.error {
  border-bottom: solid 2px #ff000a;
}
.tv-connection-modal .btn-text {
  display: block;
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #0A0A0A;
  text-decoration: underline;
  background-color: transparent;
}
.tv-connection-modal .btn-tv-guide {
  margin-top: 16px;
}
.tv-connection-modal .btn-complete {
  position: fixed;
  width: inherit;
  height: 48px;
  background-color: #EBEBEB;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-connected {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  z-index: 4;
}
.modal-connected .modal-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 248px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
}
.modal-connected .modal-area div {
  background: #ebebeb;
  margin-top: 8px;
  height: 42px;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
}
.modal-connected .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 8px;
}
.modal-connected .modal-guide {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  color: #707070;
  line-height: 17px;
}
.modal-connected .tv-model {
  font-family: notoSansRegular, serif;
  font-size: 16px;
  color: #0A0A0A;
  line-height: 19px;
}
.modal-connected i {
  display: block;
  text-align: center;
  margin-top: 16px;
}
.modal-connected i img {
  width: 56px;
  height: 56px;
}
.modal-connected .btn {
  width: 248px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  margin: 16px 0;
  background-color: #2841fa;
  color: #ffffff;
}
.modal-connected .btn-cancel {
  position: initial;
  width: 248px;
  background-color: transparent;
  margin: 0;
}

@media screen and (min-width: 481px) {
  .connect-tv-section, .tv-connection-container {
    width: 768rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .tv-connection-modal .btn-complete {
    margin-top: 221px;
    position: relative;
    bottom: unset;
    transform: translateX(-50%);
  }
}
.error-guide-box {
  position: relative;
  height: 34px;
  box-sizing: border-box;
}
.error-guide-box .error-guide {
  position: absolute;
  top: 4px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 12px;
  color: #ff0000;
  opacity: 0;
}

.text-eraser {
  display: none;
  width: 28px;
  height: 28px;
  position: absolute;
  top: unset;
  right: 0;
  background: transparent;
  transform: translateY(-37px);
}

.text-eraser.active {
  display: block;
}

/*# sourceMappingURL=connecting-tv.css.map */
