@import url("https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA");
ol.lst-kix_wty9vst2l5wu-7 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-3.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-3 0;
}

ol.lst-kix_wty9vst2l5wu-6 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-5 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-4 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-3 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-2 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-1 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-0 {
  list-style-type: none;
}

ol.lst-kix_wty9vst2l5wu-6.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-6 0;
}

.lst-kix_wty9vst2l5wu-7 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-7, lower-latin) ". ";
}

.lst-kix_wty9vst2l5wu-3 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-3;
}

ol.lst-kix_wty9vst2l5wu-0.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-0 0;
}

.lst-kix_wty9vst2l5wu-6 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-6, decimal) ". ";
}

.lst-kix_wty9vst2l5wu-8 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-8, lower-roman) ". ";
}

ol.lst-kix_wty9vst2l5wu-2.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-2 0;
}

.lst-kix_wty9vst2l5wu-2 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-2;
}

.lst-kix_wty9vst2l5wu-8 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-8;
}

.lst-kix_wty9vst2l5wu-5 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-5;
}

.lst-kix_ag55cmndg5t-0 > li:before {
  content: "-  ";
}

ol.lst-kix_wty9vst2l5wu-5.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-5 0;
}

.lst-kix_ag55cmndg5t-6 > li:before {
  content: "-  ";
}

ol.lst-kix_wty9vst2l5wu-1.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-1 0;
}

ul.lst-kix_ag55cmndg5t-0 {
  list-style-type: none;
}

.lst-kix_ag55cmndg5t-5 > li:before {
  content: "-  ";
}

.lst-kix_wty9vst2l5wu-6 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-6;
}

.lst-kix_ag55cmndg5t-4 > li:before {
  content: "-  ";
}

ul.lst-kix_ag55cmndg5t-5 {
  list-style-type: none;
}

ul.lst-kix_ag55cmndg5t-6 {
  list-style-type: none;
}

.lst-kix_wty9vst2l5wu-0 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-0;
}

ol.lst-kix_wty9vst2l5wu-8.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-8 0;
}

ul.lst-kix_ag55cmndg5t-7 {
  list-style-type: none;
}

.lst-kix_ag55cmndg5t-1 > li:before {
  content: "-  ";
}

.lst-kix_ag55cmndg5t-3 > li:before {
  content: "-  ";
}

ul.lst-kix_ag55cmndg5t-8 {
  list-style-type: none;
}

ul.lst-kix_ag55cmndg5t-1 {
  list-style-type: none;
}

ul.lst-kix_ag55cmndg5t-2 {
  list-style-type: none;
}

ul.lst-kix_ag55cmndg5t-3 {
  list-style-type: none;
}

.lst-kix_ag55cmndg5t-2 > li:before {
  content: "-  ";
}

ul.lst-kix_ag55cmndg5t-4 {
  list-style-type: none;
}

.lst-kix_wty9vst2l5wu-4 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-4;
}

.lst-kix_wty9vst2l5wu-1 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-1;
}

.lst-kix_wty9vst2l5wu-1 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-1, lower-latin) ". ";
}

ol.lst-kix_wty9vst2l5wu-4.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-4 0;
}

.lst-kix_wty9vst2l5wu-7 > li {
  counter-increment: lst-ctn-kix_wty9vst2l5wu-7;
}

.lst-kix_wty9vst2l5wu-2 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-2, lower-roman) ". ";
}

.lst-kix_wty9vst2l5wu-3 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-3, decimal) ". ";
}

.lst-kix_wty9vst2l5wu-5 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-5, lower-roman) ". ";
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

.lst-kix_wty9vst2l5wu-4 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-4, lower-latin) ". ";
}

.lst-kix_ag55cmndg5t-7 > li:before {
  content: "-  ";
}

ol.lst-kix_wty9vst2l5wu-7.start {
  counter-reset: lst-ctn-kix_wty9vst2l5wu-7 0;
}

.lst-kix_ag55cmndg5t-8 > li:before {
  content: "-  ";
}

.lst-kix_wty9vst2l5wu-0 > li:before {
  content: "" counter(lst-ctn-kix_wty9vst2l5wu-0, decimal) ". ";
}

ol.lst-kix_wty9vst2l5wu-8 {
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
}

table td, table th {
  padding: 0;
}

.c28 {
  padding: 5pt;
  border: 1px solid #000;
  box-sizing: border-box;
}

.c17 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 72.8pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c2 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 42.8pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c9 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 62.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c22 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 60pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c4 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 110.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c8 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 56.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c1 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 96.8pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c16 {
  color: #b7b7b7;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c14 {
  color: #202124;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Arial";
  font-style: normal;
}

.c25 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c26 {
  color: #202124;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Roboto";
  font-style: normal;
}

.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Arial";
  font-style: normal;
}

.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.7;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c35 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Arial";
  font-style: normal;
}

.c19 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Arial";
  font-style: normal;
}

.c27 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c23 {
  font-size: 9pt;
  font-family: "Roboto";
  color: #202124;
  font-weight: 400;
}

.c12 {
  margin-left: 19pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}

.c11 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left;
}

.c32 {
  margin-left: 37.5pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}

.c18 {
  background-color: #ffffff;
  max-width: 538.6pt;
}

.c21 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
}

.c34 {
  font-family: "Roboto";
  color: #202124;
  font-weight: 400;
}

.c24 {
  padding: 0;
  margin: 0;
}

.c0 {
  font-size: 22pt;
  font-weight: 700;
}

.c5 {
  color: #202124;
  font-weight: 700;
}

.c20 {
  margin-left: 19pt;
  padding-left: 0pt;
}

.c30 {
  color: #ff0000;
  font-style: italic;
}

.c33 {
  margin-left: 36pt;
}

.c3 {
  color: #0000ff;
}

.c29 {
  height: 11pt;
}

.c10 {
  height: 0pt;
}

.c13 {
  height: 35.9pt;
}

.c31 {
  background-color: #ffffff;
}

.c15 {
  font-weight: 700;
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.notice-link {
  color: #2841FA !important;
}

@media screen and (min-width: 481px) {
  .c18 {
    max-width: 768rem;
    width: 100%;
  }
  .content-area {
    width: 768rem;
  }
}
.bold {
  font-weight: 700 !important;
}

/*# sourceMappingURL=help_adver.css.map */
