@charset "UTF-8";
.carousel-exh-type,
.carousel-artist-type {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
  color: #0A0A0A;
  opacity: 0.8;
}

.carousel-exh-title,
.carousel-artwork-title,
.carousel-artist-name {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 26px;
  color: #0A0A0A;
}

.carousel-exh-artist,
.carousel-artwork-artist {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
}

.carousel-exh-info {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #0A0A0A;
  opacity: 0.65;
}

.modal-disconnect .btn-cancel, .modal-login-required .btn-cancel {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #0a0a0a;
  font-size: 14px;
  text-decoration: underline;
}

/*      공지사항 페이지 전용 common css입니다 (notice-promotion.html에서만 사용)       */
* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar, *::-webkit-scrollbar-track, *::-webkit-scrollbar-thumb {
  opacity: 0;
  display: none;
}

a {
  -webkit-tap-highlight-color: transparent;
}

:active, :focus {
  border: none;
  outline: none;
}

input {
  border-radius: unset;
}

button {
  font-size: 16px;
  font-weight: normal;
  background-color: #2841fa;
  color: white;
  border: none;
  cursor: pointer;
}

.cta-button {
  width: 163px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-family: RobotoMedium, notoSansMedium, serif;
  border-radius: 8px;
}
.cta-button a {
  white-space: nowrap;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.carousel-item {
  cursor: pointer;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-goback {
  width: 28px;
  height: 28px;
  margin: 10px 16px;
  background: transparent;
}
@media screen and (min-width: 481px) {
  .btn-goback {
    margin: 10px 0;
  }
}
.btn-goback img {
  width: 28px;
  height: 28px;
}

.btn-gohome {
  background: transparent;
  margin: 9px 10px;
  width: 28px;
  height: 28px;
}
.btn-gohome img {
  width: 28px;
  height: 28px;
}

.btn-cancel {
  position: absolute;
  right: 0px;
  background: transparent;
  margin: 15px 20px;
  font-size: 14px;
  text-decoration: underline;
}

.wrap {
  width: 100vw;
  background-color: #0A0A0A;
}

section {
  width: 90vw;
  margin: auto;
}

.wrap.semi-light {
  background: #F5F5F5;
}

.wrap.light {
  background: #ffffff;
}

.carousel-wrap {
  width: 100vw;
}

.carousel-item {
  display: block;
  position: relative;
  width: 328px;
  max-height: 494px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}
.carousel-item .carousel-img-wrap {
  height: inherit;
}
.carousel-item .carousel-img-wrap img {
  width: auto;
  height: inherit;
  margin-left: 50%;
  transform: translateX(-50%);
}

.carousel-text-wrap {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: inherit;
  padding: 16px;
  box-sizing: border-box;
  z-index: 2;
}

.carousel-exh-type,
.carousel-artist-type {
  color: #f5f5f5;
}

.carousel-exh-title,
.carousel-artwork-title,
.carousel-artist-name {
  max-width: 296px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel-exh-artist,
.carousel-artwork-artist {
  margin-bottom: 14px;
  max-width: 296px;
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel-exh-info {
  color: #f5f5f5;
}

.carousel-artist-content,
.carousel-exh-content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
  font-family: RobotoRegular, notoSansRegular, serif;
}

.carousel-exh-number {
  width: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  font-size: 10px;
  font-family: RobotoBold, notoSansBold, serif;
}

.carousel-exh-info-wrap li {
  float: left;
}
.carousel-exh-info-wrap .carousel-exh-number {
  float: right;
}

.modal-box {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 328px;
  height: 48px;
  padding: 0 12px 0 12px;
  left: 50%;
  top: -60px;
  box-sizing: border-box;
  transform: translateX(-50%);
  background: #F5F5F5;
  box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  line-height: 48px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  color: #0A0A0A;
  transition: all 0.25s ease-in-out 0s;
}

.modal-box.active {
  top: 20px;
}

.modal-box.orange {
  background-color: #FFF4F3;
}

.modal-box.green {
  color: #3EBA27;
}

.modal-error {
  color: #EA6600;
  background-color: #FFF4F3;
}

.modal-gradation-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}

.modal-container {
  top: 0;
}
.modal-container.going-up {
  animation: going-up 0.5s ease-in-out;
}
.modal-container.going-down {
  animation: going-down 0.5s ease-in-out;
}

.modal-content {
  top: 0;
}
.modal-content.going-up {
  animation: going-up 0.5s ease-in-out;
}
.modal-content.going-down {
  animation: going-down 0.5s ease-in-out;
}

#toast_popup .modal-box {
  z-index: 2000;
}

@keyframes going-up {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
@keyframes going-down {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
.loading {
  position: relative;
  left: 50%;
  width: 32px;
  height: 32px;
  padding-bottom: 80px;
}
.loading img {
  width: 32px;
  height: 32px;
  animation: spin 2s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes spin {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.artwork-detail-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1001;
  overflow: scroll;
}
.artwork-detail-box section {
  padding-bottom: 80px;
}
.artwork-detail-box h1 {
  height: 27px;
  margin: 24px 0 12px 0;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.artwork-detail-box .btn-goback {
  margin: 10px 0px;
}
.artwork-detail-box .thumbnail-img-wrap {
  position: relative;
  width: 297px;
  height: 184px;
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
}
.artwork-detail-box .thumbnail-img-wrap img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: inherit;
  transform: translate(-50%, -50%);
}
.artwork-detail-box .info-box {
  width: 328px;
  height: auto;
  margin-top: 12px;
  padding: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}
.artwork-detail-box .info-box li {
  margin-bottom: 8px;
}
.artwork-detail-box .info-box li:last-of-type {
  margin-bottom: 0;
}
.artwork-detail-box .info-box li span {
  display: block;
}
.artwork-detail-box .info-box li span:nth-of-type(1) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.artwork-detail-box .info-box li span:nth-of-type(2) {
  height: auto;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}

.share-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 0%, #0A0A0A 30.21%);
}
.share-option-box .share-options {
  position: absolute;
  bottom: 176px;
  left: 50%;
  transform: translateX(-50%);
}
.share-option-box .share-options .share-option-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.share-option-box .share-options button {
  background: transparent;
  width: 100%;
  height: 52px;
  text-align: center;
}
.share-option-box .share-options button img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.share-option-box .share-options button span {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.share-option-box .btn-share-close {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  background: transparent;
}
.share-option-box .btn-share-close img {
  width: inherit;
}

.icon-show-option span {
  display: none;
}

.modal-login-required {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1002;
}
.modal-login-required div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 280px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
}
.modal-login-required .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 8px;
}
.modal-login-required .modal-guide {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.modal-login-required .btn {
  width: 248px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  margin: 16px 0;
  background-color: #2841fa;
  color: #ffffff;
}
.modal-login-required .btn-modal-cancel {
  width: 248px;
  background-color: transparent;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
  margin: 0;
}
.modal-login-required .btn-cancel {
  position: initial;
  width: 248px;
  background-color: transparent;
  margin: 0;
}

html {
  font-size: 0.2777777778vw;
  overflow-x: hidden;
}

@media screen and (min-width: 1320px) {
  html {
    font-size: 1.03px;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar, body::-webkit-scrollbar-track, body::-webkit-scrollbar-thumb {
    opacity: 0;
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 1319px) {
  html {
    font-size: 0.078125vw;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar, body::-webkit-scrollbar-track, body::-webkit-scrollbar-thumb {
    opacity: 0;
    display: none;
  }
}
.iframe {
  opacity: 0;
  width: 328px;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
}
@media screen and (min-width: 481px) {
  .iframe {
    width: 768rem;
    overflow-x: hidden;
  }
}

.collection-addition-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1001;
  overflow: scroll;
  background-color: #0A0A0A;
}
.collection-addition-modal .fixed-part {
  position: fixed;
  top: 0;
  left: 50%;
  width: calc(100% - 32rem);
  height: 189px;
  transform: translateX(-50%);
}
@media screen and (min-width: 481px) {
  .collection-addition-modal .fixed-part {
    width: 768rem;
  }
}
.collection-addition-modal .fixed-part .btn-close {
  position: absolute;
  top: 18px;
  right: 0;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #f5f5f5;
  background: transparent;
}
.collection-addition-modal .fixed-part h1 {
  position: absolute;
  top: 72px;
  left: 0;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 24px;
  line-height: 35px;
  color: #f5f5f5;
}
.collection-addition-modal .fixed-part .main-title {
  position: absolute;
  top: 132px;
  left: 0;
}
.collection-addition-modal .fixed-part .main-title ul {
  display: flex;
  width: 100%;
  height: 45px;
}
.collection-addition-modal .fixed-part .main-title ul li {
  height: inherit;
}
.collection-addition-modal .fixed-part .main-title ul li:nth-of-type(1) {
  width: 80px;
}
.collection-addition-modal .fixed-part .main-title ul li:nth-of-type(1) img {
  width: inherit;
  border-radius: 4px;
}
.collection-addition-modal .fixed-part .main-title ul li:nth-of-type(2) {
  width: 200px;
  margin-left: 12px;
}
.collection-addition-modal .fixed-part .main-title ul li:nth-of-type(2) .artwork-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}
.collection-addition-modal .fixed-part .main-title ul li:nth-of-type(2) .artwork-artist {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #f5f5f5;
  opacity: 0.65;
}
.collection-addition-modal .relative-part {
  position: relative;
  top: 189px;
  height: calc(100vh - 189px);
  overflow: scroll;
}
.collection-addition-modal .relative-part .subtitle {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.collection-addition-modal .relative-part .collection-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.collection-addition-modal .relative-part .collection-list li {
  width: 100%;
  height: 52px;
  margin-bottom: 12px;
}
.collection-addition-modal .relative-part .collection-list li.user-own-collection {
  margin-bottom: 24px;
}
.collection-addition-modal .relative-part .collection-list li button {
  position: relative;
  display: flex;
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  justify-content: space-between;
}
.collection-addition-modal .relative-part .collection-list li button .collection-name {
  width: 264px;
  text-align: left;
  line-height: 52px;
  padding-left: 16px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.collection-addition-modal .relative-part .collection-list li button img {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.collection-addition-modal .relative-part .btn-make-new-collection {
  display: flex;
  width: auto;
  height: 21px;
  margin: 24px auto 144px auto;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4C60FA;
  background: transparent;
}
.collection-addition-modal .add-collection-modal-gradient {
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, #0A0A0A 100%);
  position: fixed;
  bottom: 0;
  width: inherit;
  height: 88px;
}
.collection-addition-modal .btn-add-artworks {
  position: fixed;
  bottom: 40px;
  width: 328px;
  height: 48px;
  border-radius: 12px;
}
@media screen and (min-width: 481px) {
  .collection-addition-modal .btn-add-artworks {
    width: 768rem;
  }
}
.collection-addition-modal .btn-add-artworks span {
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 48px;
  color: #ffffff;
}
.collection-addition-modal .btn-add-artworks.disable {
  background-color: #EBEBEB;
}

.tv-connection-notice .controllers {
  position: absolute;
  width: 246px;
  height: 56px;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  left: 50%;
}
@media screen and (min-width: 481px) {
  .tv-connection-notice .controllers {
    width: 232px;
  }
}
.tv-connection-notice .controllers li {
  height: inherit;
}
.tv-connection-notice .controllers li button {
  height: inherit;
  background-color: transparent;
}
.tv-connection-notice .controllers li button img {
  height: inherit;
}

.modal-disconnect {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  z-index: 4;
}
.modal-disconnect .modal-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 248px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
}
.modal-disconnect .modal-area div {
  background: #ebebeb;
  margin-top: 8px;
  height: 42px;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
}
.modal-disconnect .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 8px;
}
.modal-disconnect .modal-guide {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  color: #707070;
  line-height: 17px;
}
.modal-disconnect .tv-model {
  font-family: notoSansRegular, serif;
  font-size: 16px;
  color: #0A0A0A;
  line-height: 19px;
}
.modal-disconnect i {
  display: block;
  text-align: center;
  margin-top: 16px;
}
.modal-disconnect i img {
  width: 56px;
  height: 56px;
}
.modal-disconnect .btn {
  width: 248px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  margin: 16px 0;
  background-color: #2841fa;
  color: #ffffff;
}
.modal-disconnect .btn-cancel {
  position: initial;
  width: 248px;
  background-color: transparent;
  margin: 0;
}

/*# sourceMappingURL=help_common.css.map */
