main {
  padding-top: 48px;
}

* {
  color: #0A0A0A;
}

@media screen and (min-width: 481px) {
  .hidden-area {
    width: 76.8rem;
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.carousel-item {
  border-radius: 0 !important;
}

.help-wrap {
  margin-left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 40px);
}
.help-title {
  font-family: notoSansBold, serif;
  font-size: 24px;
  line-height: 35px;
  margin-top: 24px;
  position: relative;
}
.help-tab {
  display: flex;
  font-family: notoSansRegular, serif;
  font-size: 18px;
  line-height: 23px;
  margin-top: 17px;
  position: relative;
}
.help-tab-title:nth-child(n+2) {
  margin-left: 16px;
}
.help-tab-bar {
  position: absolute;
  display: none;
  width: 67px;
  height: 3px;
  background: #2841FA;
  top: 28px;
}
.help-tab-FAQ-bar {
  width: 99px;
  left: 82px;
}
.help-tab-QnA-bar {
  width: 59px;
  left: 198px;
}
.help-tab-title {
  opacity: 0.65;
  cursor: pointer;
}
.help-tab-title.active {
  font-family: notoSansMedium, serif;
  opacity: 1;
}
.help-tab-title.active + .help-tab-bar {
  display: block;
}
.help-accordion-container {
  margin-top: 24px;
}
.help-content-header {
  display: flex;
  position: relative;
  height: 24px;
}
.help-content-header div {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  line-height: 17px;
  color: #999999 !important;
}
.help-content-header .help-notice-writer {
  position: absolute;
  left: 0;
}
.help-content-header .help-notice-date {
  position: absolute;
  right: 0;
}
.help-notice-title {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #0A0A0A;
  line-height: 17px;
}

.carousel-item {
  width: 100vw !important;
  height: auto !important;
}

.owl-item {
  min-height: 600px !important;
}

.panel-body {
  font-family: notoSansRegular, serif;
  font-size: 12px;
  line-height: 24px;
  padding-right: 16px;
}
.panel-body span {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  line-height: 17px;
}

.FAQ .panel-heading {
  padding: 16px 0 16px 0 !important;
}

.cs-modal-FAQ {
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  width: calc(100vw - 40px);
  height: 48px;
  padding: 12px;
  line-height: 23px;
  font-family: notoSansRegular, serif;
  font-size: 16px;
  color: #0A0A0A;
  position: relative;
}
@media screen and (min-width: 481px) {
  .cs-modal-FAQ {
    width: 76.8rem;
  }
}
.cs-modal-FAQ img {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 16px !important;
  height: 16px !important;
}

.QnA .panel-heading {
  position: relative;
}

.panel-collapse {
  margin-right: 16px;
}
@media screen and (min-width: 481px) {
  .panel-collapse {
    margin-right: 0;
  }
}

.QnA-delete {
  position: absolute;
  top: 26px;
  right: 10px;
  text-decoration: underline;
  color: #707070 !important;
  font-size: 12px;
  font-family: notoSansMedium, serif;
}
@media screen and (min-width: 481px) {
  .QnA-delete {
    right: 0;
  }
}

.QnA-info {
  position: relative;
  width: calc(100vw - 40px);
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #e0e0e0;
}
@media screen and (min-width: 481px) {
  .QnA-info {
    width: 100%;
  }
}
.QnA-info .QnA-info-title {
  font-family: notoSansMedium, serif;
  font-size: 14px;
  line-height: 20px;
}
.QnA-info .QnA-info-title span {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
  color: #2841fa !important;
}
.QnA-info .QnA-info-title h5 {
  all: unset;
  font-family: notoSansMedium, serif;
  font-size: 14px;
  color: #0A0A0A;
}
.QnA-info .QnA-info-time {
  margin-top: 2px;
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #777777 !important;
  white-space: pre-line;
}
.QnA-info .QnA-info-warn {
  margin-top: 12px;
  font-family: notoSansRegular, serif;
  font-size: 12px;
  color: #999999 !important;
}
.QnA-info .QnA-info-warn span {
  color: #999999 !important;
  margin: 0 8px 0 8px;
}

.QnA-collapse-question {
  padding: 0px 0 15px 0;
}

.QnA-collapse-title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2841FA;
}

.QnA-collapse-content {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #0A0A0A;
  word-wrap: break-word;
}

.sorting-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 0%, #0A0A0A 30.21%);
}
.sorting-option-box .sorting-options {
  position: absolute;
  top: 308px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.sorting-option-box .sorting-options .sorting-option-title {
  height: 48px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 19px;
  line-height: 48px;
  color: #ffffff;
}
.sorting-option-box .sorting-options .sorting-option {
  transform: translateX(-13px);
}
.sorting-option-box .sorting-options button {
  background: transparent;
  height: 48px;
  text-align: center;
}
.sorting-option-box .sorting-options button .sort-standard-box {
  display: flex;
  gap: 3px;
}
.sorting-option-box .sorting-options button .sort-standard-box img {
  opacity: 1;
  width: 16px;
  height: 16px;
  align-self: center;
}
.sorting-option-box .sorting-options button .sort-standard-box span {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.sorting-option-box .btn-sort-close {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  background: transparent;
}
.sorting-option-box .btn-sort-close img {
  width: inherit;
}

.modal-inquiry-success {
  color: #3EBA27;
}

@media screen and (min-width: 481px) {
  .container-fluid, .panel-group, .panel-heading {
    width: 76.8rem !important;
  }
}

.webview-carousel-0 {
  left: 0 !important;
}
@media screen and (min-width: 481px) {
  .webview-carousel-0 {
    left: 0 !important;
  }
}

.webview-carousel-1 {
  left: -100vw !important;
}
@media screen and (min-width: 481px) {
  .webview-carousel-1 {
    left: -76.8rem !important;
  }
}

.webview-carousel-2 {
  left: -200vw !important;
}
@media screen and (min-width: 481px) {
  .webview-carousel-2 {
    left: -153.6rem !important;
  }
}

.carousel-item {
  max-height: 100% !important;
}
@media screen and (min-height: 740px) {
  .carousel-item {
    max-height: 100% !important;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 481px) {
  #nav_menu, #nav_dropdown {
    width: 76.8rem !important;
  }
}
#nav_menu a, #nav_dropdown a {
  color: #fff;
}

#nav_anchor span, #nav_anchor a {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 18px;
  color: #fff;
}

/*# sourceMappingURL=help.css.map */
