.all-info-wrap .art-stream-list-section .item-exh-title, .art-stream-all-wrap .art-stream-list-section .item-exh-title {
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 26px;
  color: #0A0A0A;
}

.all-info-wrap .art-stream-list-section .item-exh-artist, .all-info-wrap .art-stream-list-section .item-exh-more, .art-stream-all-wrap .art-stream-list-section .item-exh-artist {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
}

.art-stream-contents-section .carousel-item .carousel-text-footer-wrap2, .art-stream-contents-section .carousel-item .carousel-text-footer-wrap1 .no-collection-guide .collection-edit-anchor {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
}

.collection-confirm-anchor, .artist-contents-section a.artist-section-all, .art-stream-contents-section .collection-confirm-anchor, a.mypage-collection-section-all, .more-contents-anchor {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #2841FA;
  font-size: 14px;
  text-decoration: underline;
}

body {
  position: relative;
}

.wrap {
  padding-bottom: 36px;
}

.mypage-header-wrap {
  position: relative;
  height: 126px;
}

.mypage-name {
  font-family: notoSansBold, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}
.mypage-name span {
  display: inline-block;
  max-width: 234px;
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(4px);
}

.mypage-name-sub {
  font-family: notoSansBold, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 262px;
}

.mypage-setting-anchor {
  width: 28px;
  height: 43px;
  position: absolute;
  right: 0px;
  bottom: 0;
}
.mypage-setting-anchor .mypage-setting-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-wrap {
  position: relative;
  margin-bottom: 40px;
}
.section-wrap:nth-of-type(1) {
  margin-top: 24px;
}

.section-wrap:last-child {
  margin-bottom: 0;
}

.more-contents-anchor {
  line-height: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 48px;
  background-color: #1f1f1f;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-decoration: none;
}

.artist-contents-section .carousel-img-wrap {
  -webkit-filter: grayscale(100%);
}

.mypage-collection-section .owl-carousel .owl-stage-outer,
.art-stream-contents-section .owl-carousel .owl-stage-outer {
  overflow: inherit;
}

.carousel-anchor {
  display: block;
  height: inherit;
}

.mypage-collection-section {
  background: #0A0A0A;
  position: relative;
}

h2.mypage-collection-section-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
  height: 26px;
  line-height: 26px;
}

a.mypage-collection-section-all {
  position: absolute;
  top: 0px;
  right: 0;
  height: 26px;
  line-height: 26px;
}

.art-stream-section-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26.06px;
  color: #ffffff;
  margin-bottom: 8px;
}

.coming-soon-day-count {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 4px 8px;
  border-radius: 12px;
  color: #f5f5f5;
  font-size: 12px;
  font-family: RobotoBold, notoSansBold, serif;
}

.collection-icon {
  width: 28px !important;
  height: 28px !important;
  position: absolute;
  top: 12px;
  right: 12px;
}

.art-stream-contents-section .carousel-artwork-artist {
  margin-bottom: 0;
}
.art-stream-contents-section .collection-confirm-anchor {
  line-height: 20px;
}
.art-stream-contents-section .collection-confirm-anchor .coming-soon-confirm-icon {
  width: 16px !important;
  height: 16px !important;
  display: inline !important;
  margin-right: 5px;
  transform: translateY(2px);
}

.art-stream-contents-section {
  position: relative;
}
.art-stream-contents-section .carousel-item .carousel-artwork-title {
  margin-top: 4px;
}
.art-stream-contents-section .carousel-item .carousel-artwork-artist {
  color: #adadad;
}
.art-stream-contents-section .carousel-item .carousel-text-wrap {
  left: 0;
  padding: 0;
}
.art-stream-contents-section .carousel-item .carousel-text-footer-wrap1 {
  width: auto;
  height: 18px;
  font-family: Noto Sans KR;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(245, 245, 245, 0.65);
}
.art-stream-contents-section .carousel-item .carousel-text-footer-wrap1.no-collection-wrap {
  bottom: 16px;
}
.art-stream-contents-section .carousel-item .carousel-text-footer-wrap1 .no-collection-guide {
  width: max-content;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.art-stream-contents-section .carousel-item .carousel-text-footer-wrap2 {
  position: absolute;
}

.artist-contents-section {
  position: relative;
  background: #0A0A0A;
}
.artist-contents-section .carousel-item-wrap-160 {
  width: 160px;
}
.artist-contents-section .artist-section-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26.06px;
  color: #ffffff;
  margin-bottom: 8px;
}
.artist-contents-section a.artist-section-all {
  position: absolute;
  top: 0;
  right: 0;
  height: 26px;
  line-height: 26px;
}
.artist-contents-section .carousel-item {
  width: 160px;
  box-sizing: border-box;
  border-radius: 0;
}
.artist-contents-section .carousel-item .carousel-img-wrap {
  position: relative;
  width: 160px;
  height: 184.5px;
  border-radius: 8px;
  overflow: hidden;
}
.artist-contents-section .carousel-item .carousel-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artist-contents-section .carousel-item .carousel-artist-name {
  height: 24px;
  font-size: 16px;
  color: #f5f5f5;
}
.artist-contents-section .carousel-item .carousel-content-wrap {
  position: relative;
  padding: 4.5px 0 0 0;
}
.artist-contents-section .carousel-item .like-count {
  height: 14px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 12px;
  line-height: 14px;
  color: rgba(245, 245, 245, 0.65);
}
.artist-contents-section .carousel-item .like-count img {
  float: left;
  width: 16px;
}

.artwork-option-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1009;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}
.artwork-option-box .artwork-options {
  position: absolute;
  bottom: 176px;
  left: 50%;
  transform: translateX(-50%);
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-id {
  display: none;
}
.artwork-option-box .artwork-options .artwork-wrap a, .artwork-option-box .artwork-options .artwork-wrap button {
  display: flex;
  margin-bottom: 28px;
}
.artwork-option-box .artwork-options .artwork-wrap img {
  width: 96px;
  height: 54px;
  margin-right: 12px;
  border-radius: 4px;
  transform: translatey(0);
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info {
  width: 200px;
  padding-top: 5px;
  margin-left: 12px;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li {
  white-space: nowrap;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li:nth-of-type(1) {
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
}
.artwork-option-box .artwork-options .artwork-wrap .artwork-txt-info li:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 21px;
  color: #f5f5f5;
  opacity: 0.65;
}
.artwork-option-box .artwork-options button,
.artwork-option-box .artwork-options .artist-information {
  display: block;
  background: transparent;
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: left;
}
.artwork-option-box .artwork-options button img,
.artwork-option-box .artwork-options .artist-information img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.artwork-option-box .artwork-options button span,
.artwork-option-box .artwork-options .artist-information span {
  margin-left: 8px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.artwork-option-box .btn-artwork-options-close {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.artwork-option-box .btn-artwork-options-close img {
  width: inherit;
}

.art-stream-all-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  box-sizing: border-box;
  overflow: scroll;
  background: #0A0A0A;
}
.art-stream-all-wrap .art-stream-list-section {
  position: fixed;
  top: 111px;
  left: 50%;
  height: calc(100vh - 80px);
  padding-bottom: 80px;
  box-sizing: border-box;
  transform: translatex(-50%);
  overflow-y: scroll;
  overflow-x: hidden;
}
.art-stream-all-wrap .art-stream-list-section .art-stream-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(245, 245, 245, 0.65);
}
.art-stream-all-wrap .art-stream-list-section .exh-item {
  position: relative;
  width: 328px;
  height: 252px;
  overflow: inherit;
  margin-bottom: 24px;
  box-sizing: border-box;
  border-radius: 8px;
}
.art-stream-all-wrap .art-stream-list-section .exh-item .item-img-wrap {
  height: 184.5px;
  border-radius: 8px;
  overflow: hidden;
}
.art-stream-all-wrap .art-stream-list-section .exh-item .item-img-wrap img {
  width: auto;
  height: inherit;
}
.art-stream-all-wrap .art-stream-list-section .exh-item .item-gradation {
  position: absolute;
  width: inherit;
  height: 184.5px;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
}
.art-stream-all-wrap .art-stream-list-section .exh-item .carousel-artwork-title {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19px;
}
.art-stream-all-wrap .art-stream-list-section .exh-item .carousel-artwork-artist {
  color: rgba(255, 255, 255, 0.65);
}
.art-stream-all-wrap .art-stream-list-section .exh-item .item-text-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  box-sizing: border-box;
}
.art-stream-all-wrap .art-stream-list-section .exh-info-wrap {
  display: block;
  width: auto;
  height: 18px;
  margin-bottom: 8px;
  line-height: 18px;
  color: rgba(245, 245, 245, 0.65);
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
}
.art-stream-all-wrap .art-stream-list-section .carousel-artist-type {
  height: 18px;
}
.art-stream-all-wrap .art-stream-list-section .item-exh-title {
  width: auto;
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
  margin-top: 4.5px;
}
.collection-confirm-anchor {
  line-height: 20px;
}
.collection-confirm-anchor .coming-soon-confirm-icon {
  width: 16px !important;
  height: 16px !important;
  display: inline !important;
  margin-right: 5px;
  transform: translateY(2px);
}

.artist-all-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  box-sizing: border-box;
  overflow: scroll;
  background: #0A0A0A;
}
.artist-all-wrap .artist-list-section {
  position: fixed;
  top: 111px;
  left: 50%;
  height: calc(100vh - 80px);
  padding-bottom: 80px;
  transform: translatex(-50%);
  border-bottom: none;
  overflow: scroll;
  box-sizing: border-box;
}
.artist-all-wrap .artist-list-section .artist-head-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(245, 245, 245, 0.65);
}
.artist-all-wrap .artist-list-section .artist-list > li {
  margin-bottom: 20px;
}
.artist-all-wrap .artist-list-section .artist-list > li:last-of-type {
  margin-bottom: 0;
}
.artist-all-wrap .artist-list-section .artist-list .artists-description {
  display: flex;
  flex-wrap: wrap;
}
.artist-all-wrap .artist-list-section .artist-list .artists-description .artist-profile-img {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  overflow: hidden;
}
.artist-all-wrap .artist-list-section .artist-list .artists-description .artist-profile-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  -webkit-filter: grayscale(100%);
}
.artist-all-wrap .artist-list-section .artist-list .artists-description .artist-profile-txt {
  width: 288px;
  margin-left: 12px;
}
.artist-all-wrap .artist-list-section .artist-list .artists-description .artist-profile-txt .artist-name {
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-container {
  position: fixed;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  background: #0A0A0A;
  z-index: 100;
}
.title-container h1 {
  height: 27px;
  margin-bottom: 12px;
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

@media screen and (max-width: 570px) {
  .title-container h1 {
    margin: auto;
  }
}
@media screen and (min-width: 571px) and (max-width: 1440px) {
  .title-container h1 {
    width: 88vw;
    margin: auto;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1921px) {
  .title-container h1 {
    width: 50vw;
    margin: auto;
  }
}
.artwork-all-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  box-sizing: border-box;
  overflow: scroll;
  background: #0A0A0A;
}
.artwork-all-wrap .artwork-list-section {
  position: fixed;
  top: 111px;
  left: 50%;
  height: calc(100vh - 80px);
  padding-bottom: 80px;
  transform: translatex(-50%);
  border-bottom: none;
  overflow: scroll;
  box-sizing: border-box;
}
.artwork-all-wrap .artwork-list-section .artwork-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(245, 245, 245, 0.65);
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list {
  display: flex;
  flex-direction: column;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list > li {
  display: flex;
  margin-bottom: 12px;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list > li a {
  display: flex;
  width: 100%;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list > li:last-of-type {
  margin-bottom: 0px;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .exh-artwork {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 45px;
  background: transparent;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .exh-artwork .exh-artwork-img-wrap {
  width: 80px;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .exh-artwork .exh-artwork-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info {
  width: 200px;
  margin-left: 12px;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info li:nth-of-type(1) {
  height: 24px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #f5f5f5;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .artwork-txt-info li:nth-of-type(2) {
  height: 21px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  text-align: left;
  line-height: 21px;
  color: #f5f5f5;
  opacity: 0.65;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .icon-show-option {
  width: 28px;
  height: 28px;
  background: transparent;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .icon-show-option img {
  width: inherit;
}
.artwork-all-wrap .artwork-list-section .exh-artworks-list .icon-show-option span {
  display: none;
}

.all-info-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  box-sizing: border-box;
  overflow: scroll;
  background: #0A0A0A;
}
@media screen and (min-width: 481px) {
  .all-info-wrap .search-all-title {
    width: 768rem;
  }
}
.all-info-wrap .art-stream-list-section {
  position: fixed;
  top: 111px;
  left: 50%;
  height: calc(100vh - 80px);
  padding-bottom: 100px;
  box-sizing: border-box;
  transform: translatex(-50%);
  overflow: scroll;
}
@media screen and (min-width: 481px) {
  .all-info-wrap .art-stream-list-section .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.all-info-wrap .art-stream-list-section .art-stream-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(245, 245, 245, 0.65);
}
.all-info-wrap .art-stream-list-section .exh-item {
  position: relative;
  width: 324rem;
  height: 252rem;
  overflow: inherit;
  margin-bottom: 24rem;
  box-sizing: border-box;
  border-radius: 8px;
}
.all-info-wrap .art-stream-list-section .exh-item .item-img-wrap {
  height: 184.5rem;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.all-info-wrap .art-stream-list-section .exh-item .item-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all-info-wrap .art-stream-list-section .exh-item .item-img-wrap.null {
  position: relative;
  background-color: #1d1d1d;
}
.all-info-wrap .art-stream-list-section .exh-item .item-img-wrap.null img.item-img {
  margin-left: 0;
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: auto;
}
.all-info-wrap .art-stream-list-section .exh-item .item-gradation {
  position: absolute;
  width: inherit;
  height: 184.5rem;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 72.87%, #0A0A0A 100%);
  z-index: 1;
}
.all-info-wrap .art-stream-list-section .exh-item .carousel-artwork-title {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 19rem;
}
.all-info-wrap .art-stream-list-section .exh-item .carousel-artwork-artist {
  color: rgba(255, 255, 255, 0.65);
}
.all-info-wrap .art-stream-list-section .exh-item .item-text-wrap {
  position: absolute;
  left: 0;
  width: inherit;
  box-sizing: border-box;
}
.all-info-wrap .art-stream-list-section .exh-info-wrap {
  display: block;
  width: auto;
  height: 18rem;
  line-height: 18rem;
  font-size: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  color: rgba(245, 245, 245, 0.65);
}
.all-info-wrap .art-stream-list-section .exh-info-wrap a {
  color: rgba(245, 245, 245, 0.65);
  text-decoration: underline;
}
.all-info-wrap .art-stream-list-section .carousel-artist-type {
  height: 18rem;
}
.all-info-wrap .art-stream-list-section .item-exh-title {
  width: auto;
  height: 24rem;
  font-size: 16px;
  line-height: 24rem;
  color: #f5f5f5;
  margin-top: 5px;
}
.all-info-wrap .art-stream-list-section .item-exh-more {
  text-decoration: underline;
}
.all-info-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  box-sizing: border-box;
  overflow: scroll;
  background: #0A0A0A;
}
.all-info-wrap .artist-list-section {
  position: fixed;
  top: 111px;
  left: 50%;
  height: calc(100vh - 80px);
  padding-bottom: 80px;
  transform: translatex(-50%);
  border-bottom: none;
  overflow: scroll;
  box-sizing: border-box;
}
.all-info-wrap .artist-list-section .artist-head-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(245, 245, 245, 0.65);
}
.all-info-wrap .artist-list-section .item-list > li {
  margin-bottom: 20px;
}
.all-info-wrap .artist-list-section .item-list > li:last-of-type {
  margin-bottom: 0;
}
.all-info-wrap .artist-list-section .item-list .artists-description {
  display: flex;
  flex-wrap: wrap;
}
.all-info-wrap .artist-list-section .item-list .artists-description .artist-profile-img {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  overflow: hidden;
}
.all-info-wrap .artist-list-section .item-list .artists-description .artist-profile-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  -webkit-filter: grayscale(100%);
}
.all-info-wrap .artist-list-section .item-list .artists-description .artist-profile-txt {
  width: 288rem;
  margin-left: 12px;
}
.all-info-wrap .artist-list-section .item-list .artists-description .artist-profile-txt .artist-name {
  height: 24px;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.all-info-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  box-sizing: border-box;
  overflow: scroll;
  background: #0A0A0A;
}
.all-info-wrap .artwork-list-section {
  position: fixed;
  top: 111px;
  left: 50%;
  height: calc(100vh - 80px);
  padding-bottom: 160px;
  transform: translatex(-50%);
  border-bottom: none;
  overflow: scroll;
  box-sizing: border-box;
}
.all-info-wrap .artwork-list-section .artwork-count {
  height: 21px;
  margin-bottom: 12px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(245, 245, 245, 0.65);
}
.all-info-wrap .artwork-list-section .item-list {
  display: flex;
  flex-direction: column;
}
.all-info-wrap .artwork-list-section .item-list > li {
  display: flex;
  margin-bottom: 12px;
}
@media screen and (min-width: 481px) {
  .all-info-wrap .artwork-list-section .item-list > li {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
  }
}
.all-info-wrap .artwork-list-section .item-list > li a {
  display: flex;
  width: 100%;
}
.all-info-wrap .artwork-list-section .item-list > li:last-of-type {
  margin-bottom: 0px;
}
.all-info-wrap .artwork-list-section .item-list .exh-artwork {
  display: flex;
  flex-direction: row;
  width: 300rem;
  height: 45rem;
  background: transparent;
}
.all-info-wrap .artwork-list-section .item-list .exh-artwork .exh-artwork-img-wrap {
  width: 45rem;
  height: 45rem;
  border-radius: 4px;
  overflow: hidden;
}
.all-info-wrap .artwork-list-section .item-list .exh-artwork .exh-artwork-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all-info-wrap .artwork-list-section .item-list .artwork-txt-info {
  width: 200rem;
  margin-left: 12px;
}
.all-info-wrap .artwork-list-section .item-list .artwork-txt-info li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.all-info-wrap .artwork-list-section .item-list .artwork-txt-info li:nth-of-type(1) {
  height: 24rem;
  font-family: RobotoMedium, notoSansMedium, serif;
  font-size: 16px;
  text-align: left;
  line-height: 24rem;
  color: #f5f5f5;
}
.all-info-wrap .artwork-list-section .item-list .artwork-txt-info li:nth-of-type(2) {
  height: 21rem;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  text-align: left;
  line-height: 21rem;
  color: #adadad;
}
.all-info-wrap .artwork-list-section .item-list .icon-show-option {
  width: 28px;
  height: 28px;
  background: transparent;
}
.all-info-wrap .artwork-list-section .item-list .icon-show-option img {
  width: inherit;
}
.all-info-wrap .artwork-list-section .item-list .icon-show-option span {
  display: none;
}

@media screen and (min-width: 481px) {
  .more-info-section .info-box {
    width: 768rem;
  }
}

@media screen and (min-width: 481px) {
  .mypage-header-section, .mypage-collection-section, .saved-exhibition-section, .art-stream-contents-section, .artist-contents-section, .watched-artworks-section,
  .art-stream-list-section, .search-all-title, .artwork-list-section, .artist-list-section, .more-info-section, .collection-add-section, .mypage-coming-soon-collection-section,
  .art-stream-waiting-exh-section {
    width: 768rem;
  }
  .carousel-wrap {
    width: 768rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.collection-addition-modal {
  z-index: 1009;
}

.icon-more {
  width: 16px;
  height: 16px;
  background: transparent;
  display: inline-block;
  transform: translateY(2px);
}
.icon-more img {
  width: inherit;
}

.mypage-collection-icon {
  width: 28px !important;
  height: 28px !important;
  position: absolute;
  top: 12px;
  right: 12px;
}

.exh-item a {
  width: inherit;
}

.icon-exhibition {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  opacity: 0.8;
}

@media screen and (max-width: 481px) {
  .item-list,
  .contents-wrap,
  .contents-wrap > div,
  .all-info-wrap .art-stream-list-section .exh-item,
  .item-img-wrap {
    width: inherit;
  }
  .all-info-wrap .art-stream-list-section .exh-item .item-img-wrap img.item-img {
    width: inherit;
    height: auto;
  }
}
.carousel-artwork-title {
  max-width: 328px;
  display: block;
}

.no-collection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.no-collection-container .collection-edit-anchor {
  display: flex;
  white-space: nowrap;
  font-size: 14px;
  color: #2841fa;
  text-decoration: underline;
  font-family: RobotoMedium, notoSansMedium, serif;
}

.owl-carousel .owl-item .no-collection-img {
  width: 34px !important;
  height: 28px !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.owl-carousel .owl-item .no-collection-square-img {
  width: 34px !important;
  height: 28px !important;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.no-data-text {
  white-space: nowrap;
  font-family: notoSansRegular;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ADADAD;
}

.item-img-wrap.no-collection {
  background-color: #141414;
}

.carousel-img-wrap.no-collection {
  background-color: #141414;
}

.my-collections-list .curation-item {
  height: auto;
}

.art-stream-waiting-exh-section {
  position: relative;
}

.all-info-wrap .art-stream-list-section .item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  gap: 12px;
  justify-content: space-between;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap {
  margin-bottom: 24px;
  flex-basis: 320px;
  flex-grow: 1;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .exh-item {
  width: 100%;
  height: 233px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap a.anchor-curation {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-img-wrap {
  height: inherit;
  display: flex;
  border-radius: unset;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-img-wrap .item-img {
  height: inherit;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-img-wrap .item-img-wrap.null .item-img {
  height: auto;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-exh-title {
  height: 24px;
  line-height: 24px;
  width: inherit;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-text-wrap {
  position: static;
  display: flex;
  justify-content: space-between;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-text-wrap .exh-info-wrap {
  display: flex;
  align-self: center;
  line-height: unset;
  height: auto;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-text-wrap a.item-exh-more, .all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-text-wrap a.collection-confirm-anchor {
  width: auto;
  flex-direction: row;
  padding: 6px 12px;
  color: #f5f5f5;
  background-color: #2841fa;
  border-radius: 8px;
  text-decoration: none;
  height: 32px;
  box-sizing: border-box;
  align-self: flex-end;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-text-wrap a.item-exh-more.saved, .all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-text-wrap a.collection-confirm-anchor.saved {
  background-color: #1f1f1f;
}
.all-info-wrap .art-stream-list-section .item-list .contents-wrap .item-text-wrap .item-exh-artist {
  width: 56%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: flex-end;
}

.last-section {
  margin-bottom: 80px !important;
}

.curation-artist {
  color: #adadad;
  font-size: 14px;
}

.curation-info {
  color: #707070;
  font-size: 12px;
}

/*# sourceMappingURL=mypage.css.map */
