@import '../common/library';

main {
  padding-top: 48px;
}
* {
  color: $text-dark;
}
.blue {
  background-color: $primary-color!important;
}
.QnA- {
  &wrap {
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 328px;
    @media screen and (min-width: 481px){
      width: 76.8rem;
    }
    label{
      font-family: $notoSansMedium;
      font-size: $fontsize-small;
      color: $primary-color!important;
    };
    .Qna-input-box{
      width: inherit;
    }
    #QnA_type {
      background: $background-light;
      border-radius: $border-radius-small;
      border: 1px solid $grayscale3;
      font-family: $notoSansRegular;
      font-size: $fontsize-regular;
      color: $grayscale5;
      cursor: pointer;
      @media screen and (min-width: 481px){
        width: inherit;
      }
    }
    img {
      position: absolute;
      right: 14px;
      top: 131px;
      width: 16px;
      height: 16px;
    }
    .content-count {
      font-family: $robotoRegular;
      font-size: 10px;
      line-height: 12px;
      color: $grayscale5!important;
      position: absolute;
      top: 393px;
      right: 12px;
      #content_count_value {
        color: $grayscale5!important;
      }
    }
  }
  &title {
    font-family: $notoSansBold;
    font-size: $fontsize-big;
    line-height: 35px;
    margin-top: 24px;
    position: relative;
  }
  &input{
    border: 1px solid $grayscale3;
    background: $background-light;
    border-radius: $border-radius-small;
    font-family: $notoSansRegular;
    font-size: $fontsize-regular;
    &.type {
      width: 328px;
      height: 48px;
      margin-top: 8px;
      text-indent: 12px;
    }
    &.content {
      cursor:pointer;
      resize: none;
      //width: 304px;
      //height: 188px;
      width: 328px;
      height: 204px;
      margin-top: 8px;
      padding: 12px;
      word-wrap: break-word;
      word-break: break-word;
      @media screen and (min-width: 481px){
        width: inherit;
      }
    }
    &.type::placeholder, &.content::placeholder {
      font-family: $notoSansRegular;
      font-size: $fontsize-regular;
      color: $grayscale5;
      -webkit-appearance: none;
      line-height: normal !important;
    }
  }
  &button {
    //position: absolute;
    position: fixed;
    width: 328px;
    height: 48px;
    bottom: 40px;
    background: $grayscale2;
    border-radius: $border-radius-breadcrumbs;
    color: $background-light!important;
    margin-left: 50%;
    transform: translateX(-50%);
    &.active{
      background: $primary-color;
    }
  }
}

[for="QnA_type"], [for="QnA_content"]{
  display: block;
  margin-top: 16px;
}

.sorting-option-box{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 0%, #0A0A0A 30.21%);
  .sorting-options{
    position: absolute;
    left: 50%;
    top: unset!important;
    bottom: 172px;
    transform: translateX(-50%);
    text-align: center;
    .sorting-option-title{
      height: 48px;
      font-family: $bothBold;
      font-size: 19px;
      line-height: 48px;
      color: $text-lightest;
    }
    button{
      background: transparent;
      //width: 50%;
      height: 48px;
      text-align: center;
      .sort-standard-box{
        span{
          font-family: $bothRegular;
          font-size: $fontsize-regular;
          line-height: 23px;
          color: $text-light;
        }
      }
    }
  }
  .btn-sort-close{
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    bottom: 62px;
    transform: translateX(-50%);
    background: transparent;
    img{
      width: inherit;
    }
  }
}

.panel-default {
  border-radius: 0 !important;
}

textarea::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder {
  line-height: normal !important;
}
