.anchor-edit-profile, .logged-in-tv-section li span, .app-info-section li span {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.edit-profile .edit-profile-nav .user-left-menu .user-left a {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #ea6600;
  font-size: 16px;
  text-decoration: underline;
}

.modal-changed-pw .btn-cancel {
  font-family: RobotoMedium, notoSansMedium, serif;
  color: #0a0a0a;
  font-size: 14px;
  text-decoration: underline;
}

header {
  z-index: 201;
}

.hidden-area {
  width: 360px;
  overflow: hidden;
  margin: auto;
}
@media screen and (min-width: 481px) {
  .hidden-area {
    width: auto;
    overflow: visible;
    margin: 0;
  }
}

.blue {
  background-color: #2841fa !important;
}

.setting {
  color: #f5f5f5;
  background-color: #0A0A0A;
  width: 100vw;
  height: 100vh;
}
.setting .setting-nav {
  transform: translateY(72px);
  background-color: #0A0A0A;
}
.setting .setting-nav .user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.setting .setting-nav .user-profile .user-name {
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #ffffff;
}
.setting .setting-nav .user-profile div {
  display: flex;
}
.setting .setting-nav .user-profile div span {
  font-size: 16px;
  color: rgba(245, 245, 245, 0.65);
  font-family: RobotoMedium, notoSansMedium, serif;
}
.setting .setting-nav .user-profile div i {
  height: 16px;
  align-self: center;
}
.setting .setting-nav .user-profile div img {
  width: 16px;
  height: 16px;
}
.setting .setting-nav .setting-menu-title {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: rgba(245, 245, 245, 0.65);
  margin-bottom: 16px;
}
.setting .setting-nav .setting-menu li {
  font-family: notoSansRegular, serif;
  font-size: 16px;
  color: #f5f5f5;
  margin-bottom: 24px;
}
.setting .setting-nav .setting-menu li:last-child {
  margin-bottom: 0;
}
.setting .setting-menu {
  padding: 24px 0;
  border-top: 1px solid #424242;
}
.setting .setting-menu a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting .setting-menu img {
  width: 16px;
  height: 16px;
}
.setting .btn-logout {
  background-color: transparent;
}
.setting .customer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: notoSansRegular, serif;
  font-size: 14px;
  padding-bottom: 80px;
}
.setting .customer-contact div {
  display: flex;
}
.setting .customer-contact div span {
  margin-right: 8px;
  color: rgba(245, 245, 245, 0.65);
}
.setting .customer-contact div a {
  display: inline-block;
  color: rgba(245, 245, 245, 0.65);
  text-decoration: underline;
}
.setting .customer-contact button {
  display: inline-block;
  font-size: 12px;
  color: rgba(245, 245, 245, 0.65);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  padding: 6px 10px;
}

.modal-changed-pw {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 210;
}

.modal-changed-pw div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 248px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
}

.modal-changed-pw .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 16px;
}

.modal-changed-pw .modal-guide {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}

.modal-changed-pw .btn {
  width: 248px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 16px;
  background-color: #2841fa;
  color: #ffffff;
}

.modal-changed-pw .btn-modal-cancel {
  width: 248px;
  background-color: transparent;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
  margin: 0;
}

.modal-changed-pw .btn-cancel {
  position: initial;
  width: 248px;
  background-color: transparent;
  margin: 0;
}

.edit-profile {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #f5f5f5;
  background-color: #0A0A0A;
  z-index: 110;
  overflow-y: scroll;
}
.edit-profile .edit-profile-nav {
  transform: translateY(72px);
  padding: 0 16px;
  background-color: #0A0A0A;
}
@media screen and (min-width: 481px) {
  .edit-profile .edit-profile-nav {
    width: 768rem;
    margin-left: 50%;
    transform: translateX(-50%) translateY(72px);
  }
}
.edit-profile .edit-profile-nav li:nth-child(2) {
  margin-top: 12px;
}
.edit-profile .edit-profile-nav li:nth-child(5) {
  margin-bottom: 12px;
}
.edit-profile .edit-profile-nav .edit-profile-info {
  padding-bottom: 24px;
  border-bottom: 1px solid #424242;
}
.edit-profile .edit-profile-nav .edit-profile-info .edit-profile-title {
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #f5f5f5;
  line-height: 35px;
}
.edit-profile .edit-profile-nav p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.65);
}
.edit-profile .edit-profile-nav p:nth-child(2) {
  margin-top: 4px;
}
.edit-profile .edit-profile-nav p:nth-child(3) {
  margin-top: 24px;
}
.edit-profile .edit-profile-nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit-profile .edit-profile-nav div img {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.edit-profile .edit-profile-nav .edit-profile-menu {
  padding: 12px 0;
}
.edit-profile .edit-profile-nav .edit-profile-menu .edit-profile-menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-profile .edit-profile-nav .edit-profile-menu img {
  width: 16px;
  height: 16px;
}
.edit-profile .edit-profile-nav .edit-profile-menu .edit-profile-menu-title {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: rgba(245, 245, 245, 0.65);
  line-height: 20px;
}
.edit-profile .edit-profile-nav .edit-profile-menu .edit-profile-menu-sub {
  font-family: notoSansRegular, serif;
  font-size: 16px;
  color: #f5f5f5;
  line-height: 23px;
}
.edit-profile .edit-profile-nav .user-left-menu {
  font-size: 16px;
  padding-top: 24px;
  border-top: 1px solid #424242;
  margin-bottom: 70px;
}
.edit-profile .edit-profile-nav .user-left-menu p {
  font-family: notoSansRegular, serif;
  color: rgba(245, 245, 245, 0.65);
  line-height: 20px;
}
.edit-profile .edit-profile-nav .user-left-menu :first-child {
  font-size: 14px;
}
.edit-profile .edit-profile-nav .user-left-menu .user-left {
  display: block;
  margin-top: 24px;
  line-height: 23px;
  height: 100px;
  padding-bottom: 70px;
}
.edit-username,
.edit-birth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.edit-username .nav_menu,
.edit-birth .nav_menu {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  background-color: #0A0A0A;
}
.edit-username .nav_menu .btn-cancel,
.edit-birth .nav_menu .btn-cancel {
  position: initial;
  background-color: transparent;
  font-size: 14px;
  color: #f5f5f5;
  text-decoration: underline;
  margin-right: 20px;
}
.edit-username .hidden-area,
.edit-birth .hidden-area {
  width: calc(100vw - 40px);
  overflow: hidden;
  margin: auto;
}
@media screen and (min-width: 481px) {
  .edit-username .hidden-area,
  .edit-birth .hidden-area {
    width: 328px;
  }
}
.edit-username .edit-username-section,
.edit-username .edit-birth-section,
.edit-birth .edit-username-section,
.edit-birth .edit-birth-section {
  margin-top: 72px;
  width: inherit;
}
.edit-username .edit-username-section div,
.edit-username .edit-birth-section div,
.edit-birth .edit-username-section div,
.edit-birth .edit-birth-section div {
  width: inherit;
}
.edit-username .edit-username-section .edit-username-title,
.edit-username .edit-username-section .edit-birth-title,
.edit-username .edit-birth-section .edit-username-title,
.edit-username .edit-birth-section .edit-birth-title,
.edit-birth .edit-username-section .edit-username-title,
.edit-birth .edit-username-section .edit-birth-title,
.edit-birth .edit-birth-section .edit-username-title,
.edit-birth .edit-birth-section .edit-birth-title {
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 4px;
}
.edit-username .edit-username-section .edit-username-guide,
.edit-username .edit-username-section .edit-birth-guide,
.edit-username .edit-birth-section .edit-username-guide,
.edit-username .edit-birth-section .edit-birth-guide,
.edit-birth .edit-username-section .edit-username-guide,
.edit-birth .edit-username-section .edit-birth-guide,
.edit-birth .edit-birth-section .edit-username-guide,
.edit-birth .edit-birth-section .edit-birth-guide {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.edit-username .edit-username-section .edit-username-input-area,
.edit-username .edit-username-section .edit-birth-input-area,
.edit-username .edit-birth-section .edit-username-input-area,
.edit-username .edit-birth-section .edit-birth-input-area,
.edit-birth .edit-username-section .edit-username-input-area,
.edit-birth .edit-username-section .edit-birth-input-area,
.edit-birth .edit-birth-section .edit-username-input-area,
.edit-birth .edit-birth-section .edit-birth-input-area {
  margin-top: 16px;
  width: inherit;
}
.edit-username .edit-username-section .edit-username-input-title,
.edit-username .edit-username-section .edit-birth-input-title,
.edit-username .edit-birth-section .edit-username-input-title,
.edit-username .edit-birth-section .edit-birth-input-title,
.edit-birth .edit-username-section .edit-username-input-title,
.edit-birth .edit-username-section .edit-birth-input-title,
.edit-birth .edit-birth-section .edit-username-input-title,
.edit-birth .edit-birth-section .edit-birth-input-title {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #2841fa;
}
.edit-username .edit-username-section .edit-username-input,
.edit-username .edit-username-section .edit-birth-input,
.edit-username .edit-birth-section .edit-username-input,
.edit-username .edit-birth-section .edit-birth-input,
.edit-birth .edit-username-section .edit-username-input,
.edit-birth .edit-username-section .edit-birth-input,
.edit-birth .edit-birth-section .edit-username-input,
.edit-birth .edit-birth-section .edit-birth-input {
  font-family: notoSansRegular, serif;
  font-size: 20px;
  color: #0A0A0A;
  width: 328px;
  height: 54px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #2841fa;
  caret-color: #2841fa;
  margin-bottom: 16px;
}
@media screen and (min-width: 481px) {
  .edit-username .edit-username-section .edit-username-input,
  .edit-username .edit-username-section .edit-birth-input,
  .edit-username .edit-birth-section .edit-username-input,
  .edit-username .edit-birth-section .edit-birth-input,
  .edit-birth .edit-username-section .edit-username-input,
  .edit-birth .edit-username-section .edit-birth-input,
  .edit-birth .edit-birth-section .edit-username-input,
  .edit-birth .edit-birth-section .edit-birth-input {
    width: inherit;
  }
}
.edit-username .edit-username-section .btn-save,
.edit-username .edit-birth-section .btn-save,
.edit-birth .edit-username-section .btn-save,
.edit-birth .edit-birth-section .btn-save {
  width: inherit;
  font-size: 16px;
  font-weight: normal;
  background-color: #EBEBEB;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
  border-radius: 12px;
  position: relative;
}

.edit-gender, .edit-nation, .edit-left {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.edit-gender .nav_menu, .edit-nation .nav_menu, .edit-left .nav_menu {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  background-color: #0A0A0A;
}
.edit-gender .nav_menu .btn-cancel, .edit-nation .nav_menu .btn-cancel, .edit-left .nav_menu .btn-cancel {
  position: initial;
  background-color: transparent;
  font-size: 14px;
  color: #f5f5f5;
  text-decoration: underline;
  margin-right: 20px;
}
.edit-gender .hidden-area, .edit-nation .hidden-area, .edit-left .hidden-area {
  width: calc(100vw - 40px);
  overflow: hidden;
  margin: auto;
}
@media screen and (min-width: 481px) {
  .edit-gender .hidden-area, .edit-nation .hidden-area, .edit-left .hidden-area {
    width: 328px;
  }
}
.edit-gender .edit-detail-section, .edit-nation .edit-detail-section, .edit-left .edit-detail-section {
  margin-top: 72px;
}
@media screen and (min-width: 481px) {
  .edit-gender .edit-detail-section, .edit-nation .edit-detail-section, .edit-left .edit-detail-section {
    width: 328px;
  }
}
.edit-gender .edit-detail-section .edit-detail-title, .edit-nation .edit-detail-section .edit-detail-title, .edit-left .edit-detail-section .edit-detail-title {
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 4px;
}
.edit-gender .edit-detail-section .edit-detail-guide, .edit-nation .edit-detail-section .edit-detail-guide, .edit-left .edit-detail-section .edit-detail-guide {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.edit-gender .edit-detail-section .edit-detail-select-area, .edit-nation .edit-detail-section .edit-detail-select-area, .edit-left .edit-detail-section .edit-detail-select-area {
  margin-top: 16px;
}
.edit-gender .edit-detail-section .edit-detail-select-title, .edit-nation .edit-detail-section .edit-detail-select-title, .edit-left .edit-detail-section .edit-detail-select-title {
  font-family: notoSansMedium, serif;
  font-size: 12px;
  color: #2841fa;
}
.edit-gender .edit-detail-section .edit-detail-select, .edit-nation .edit-detail-section .edit-detail-select, .edit-left .edit-detail-section .edit-detail-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 304px;
  height: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 12px;
}
@media screen and (min-width: 481px) {
  .edit-gender .edit-detail-section .edit-detail-select, .edit-nation .edit-detail-section .edit-detail-select, .edit-left .edit-detail-section .edit-detail-select {
    width: inherit;
  }
}
.edit-gender .edit-detail-section .edit-detail-select span, .edit-nation .edit-detail-section .edit-detail-select span, .edit-left .edit-detail-section .edit-detail-select span {
  font-size: 16px;
  color: #999;
  font-weight: 400;
  line-height: 23px;
}
.edit-gender .edit-detail-section .edit-detail-select i, .edit-nation .edit-detail-section .edit-detail-select i, .edit-left .edit-detail-section .edit-detail-select i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/icon_more_black.png");
  background-size: cover;
}
.edit-gender .edit-detail-section .btn-save,
.edit-gender .edit-detail-section .btn-left,
.edit-gender .edit-detail-section .btn-language, .edit-nation .edit-detail-section .btn-save,
.edit-nation .edit-detail-section .btn-left,
.edit-nation .edit-detail-section .btn-language, .edit-left .edit-detail-section .btn-save,
.edit-left .edit-detail-section .btn-left,
.edit-left .edit-detail-section .btn-language {
  width: 328px;
  font-size: 16px;
  font-weight: normal;
  background-color: #EBEBEB;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 46px;
  border-radius: 12px;
  position: relative;
}
.edit-gender .edit-detail-section textarea, .edit-nation .edit-detail-section textarea, .edit-left .edit-detail-section textarea {
  width: 304px;
  height: 168px;
  font-family: notoSansRegular, serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #0A0A0A;
  resize: none;
  border: 1px solid #2841fa;
  border-radius: 8px;
  padding: 12px 12px 32px 12px;
  margin-top: 8px;
}
.edit-gender .edit-detail-section textarea.write-area, .edit-nation .edit-detail-section textarea.write-area, .edit-left .edit-detail-section textarea.write-area {
  width: 100%;
  box-sizing: border-box;
}
.edit-gender .edit-detail-section textarea::placeholder, .edit-nation .edit-detail-section textarea::placeholder, .edit-left .edit-detail-section textarea::placeholder {
  color: #999999;
}
.edit-gender .edit-detail-section .number-of-text, .edit-nation .edit-detail-section .number-of-text, .edit-left .edit-detail-section .number-of-text {
  position: relative;
  right: 37px;
  bottom: 13px;
  font-family: RobotoRegular, serif;
  font-size: 10px;
  color: #999;
}

#left_textarea {
  position: relative;
}

.edit-left .edit-detail-section .number-of-text {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.select-option-box {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 220;
  width: 100vw;
  height: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}
.select-option-box .select-options {
  position: absolute;
  width: 328px;
  left: 50%;
  bottom: 172px;
  transform: translateX(-50%);
}
.select-option-box .select-options .select-option-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 12px;
}
.select-option-box .select-options button {
  background: transparent;
  width: auto;
  height: 52px;
  text-align: center;
}
.select-option-box .select-options button img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.select-option-box .select-options button span {
  margin-left: 8px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.select-option-box .btn-modal-close {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  bottom: 62px;
  transform: translateX(-50%);
  background: transparent;
}
.select-option-box .btn-modal-close img {
  width: inherit;
}

.select-option-box-nation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 220;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);
}
.select-option-box-nation .select-option-title {
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 12px;
  position: absolute;
  width: 328px;
  top: 116px;
  left: 50%;
  transform: translateX(-50%);
}
.select-option-box-nation .select-options {
  position: absolute;
  width: 328px;
  top: 156px;
  left: 50%;
  transform: translateX(-50%);
  height: 460px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.select-option-box-nation .select-options button {
  background: transparent;
  width: 100%;
  height: 47px;
  text-align: center;
}
.select-option-box-nation .select-options button img {
  width: 28px;
  height: 28px;
  transform: translatey(8px);
}
.select-option-box-nation .select-options button span {
  margin-left: 8px;
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 16px;
  line-height: 23px;
  color: #f5f5f5;
}
.select-option-box-nation .select-options::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  width: 0 !important;
}
.select-option-box-nation .select-options.left {
  top: 356px;
}
.select-option-box-nation .btn-modal-close {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  background: transparent;
}
.select-option-box-nation .btn-modal-close img {
  width: inherit;
}

.logged-in-tv-section, .app-info-section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  color: #f5f5f5;
  background-color: #0A0A0A;
  font-family: notoSansRegular, serif;
  font-size: 16px;
}
.logged-in-tv-section div, .app-info-section div {
  margin-top: 72px;
  padding: 0 16px;
}
.logged-in-tv-section .logged-in-tv-title, .logged-in-tv-section .app-info-title, .app-info-section .logged-in-tv-title, .app-info-section .app-info-title {
  font-family: notoSansBold, serif;
  font-size: 24px;
  color: #f5f5f5;
  line-height: 35px;
}
.logged-in-tv-section .logged-in-tv-guide, .logged-in-tv-section .app-info-guide, .app-info-section .logged-in-tv-guide, .app-info-section .app-info-guide {
  color: rgba(245, 245, 245, 0.65);
  line-height: 20px;
}
.logged-in-tv-section ul, .app-info-section ul {
  margin-top: 24px;
}
.logged-in-tv-section li, .app-info-section li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logged-in-tv-section li p, .app-info-section li p {
  line-height: 20px;
  color: #f5f5f5;
}
.logged-in-tv-section .app-info-contents, .app-info-section .app-info-contents {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.logged-in-tv-section .app-info-contents .title, .app-info-section .app-info-contents .title {
  color: rgba(245, 245, 245, 0.65);
  margin-top: 24px;
}
.logged-in-tv-section .app-info-contents .contents, .app-info-section .app-info-contents .contents {
  color: #f5f5f5;
}

.modal-profile-edit {
  position: fixed;
  top: 0;
  z-index: 1000;
}

@media screen and (min-width: 481px) {
  .setting-section, .profile-edit-section {
    width: 768rem;
  }
  .logged-in-tv-section, .app-info-section {
    width: 768rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.mypage-modal-header,
.modal-profile-edit {
  z-index: 200;
  height: 48px;
  width: 100%;
  background-color: #0A0A0A;
  margin-bottom: -1px;
  position: fixed;
}
.mypage-modal-header .nav_menu,
.modal-profile-edit .nav_menu {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: relative;
  background-color: #0A0A0A;
}
@media screen and (min-width: 481px) {
  .mypage-modal-header .nav_menu,
  .modal-profile-edit .nav_menu {
    width: 768rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.icon-confirm {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  transform: translate(-18px, 16px);
}

.anchor-edit-profile {
  width: auto;
  height: 18px;
  display: flex;
}
.anchor-edit-profile span {
  line-height: 18px;
}
.anchor-edit-profile i {
  height: inherit;
}
.anchor-edit-profile i img {
  height: inherit;
}

/*# sourceMappingURL=setting.css.map */
