@import '../common/library';

//헤더
header {
  z-index: 201;
}

.hidden-area {
  width: 360px;
  overflow: hidden;
  margin: auto;
  @media screen and (min-width: 481px){
    width: auto;
    overflow: visible;
    margin: 0;
  }
}
.blue {
  background-color: $primary-color!important;
}
//마이페이지 설정
.setting {
  color: $text-light;
  background-color: $background-dark;
  width: 100vw;
  height: 100vh;

  .setting-nav {
    transform: translateY(72px);
    //padding: 0 16px;
    background-color: $background-dark;

    .user-profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      .user-name {
        font-family: $notoSansBold;
        font-size: $fontsize-big;
        color: $text-lightest;
      }
      div {
        display: flex;
        span {
          font-size: 16px;
          //text-decoration: underline;
          color: rgba(245, 245, 245, 0.65);
          font-family: $bothMedium;
        }
        i{
          height: 16px;
          align-self: center;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .setting-menu-title {
      font-family: $notoSansRegular;
      font-size: $fontsize-small-regular;
      color: rgba(245, 245, 245, 0.65);
      margin-bottom: 16px;
    }
    .setting-menu li {
      font-family: $notoSansRegular;
      font-size: $fontsize-regular;
      color: $text-light;
      margin-bottom: 24px;
    }
    .setting-menu li:last-child {
      margin-bottom: 0;
    }
  }

  .setting-menu {
    padding: 24px 0;
    border-top: 1px solid #424242;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    img {
      width: 16px;
      height: 16px;
    }
  }

  .btn-logout {
    background-color: transparent;
  }

  .customer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $notoSansRegular;
    font-size: $fontsize-small-regular;
    padding-bottom: 80px;

    div {
      display: flex;
      span {
        margin-right: 8px;
        color: rgba(245, 245, 245, 0.65);
      }
      a {
        display: inline-block;
        color: rgba(245, 245, 245, 0.65);
        text-decoration: underline;
      }
    }

    button {
      display: inline-block;
      font-size: $fontsize-small;
      color: rgba(245, 245, 245, 0.65);
      background: rgba(255, 255, 255, 0.15);
      border-radius: 14px;
      padding: 6px 10px;
    }
  }
}

//간편로그인 회원 비밀번호 변경 불가 모달
.modal-changed-pw {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 210;
}
.modal-changed-pw div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F5F5;
  width: 248px;
  height: auto;
  border-radius: 16px;
  padding: 16px;
}
.modal-changed-pw .modal-title {
  font-family: notoSansMedium, serif;
  font-size: 16px;
}
.modal-changed-pw .modal-guide {
  font-family: notoSansRegular, serif;
  font-size: 14px;
  color: #707070;
}
.modal-changed-pw .btn {
  width: 248px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 16px;
  background-color: #2841fa;
  color: #ffffff;
}
.modal-changed-pw .btn-modal-cancel {
  width: 248px;
  background-color: transparent;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
  margin: 0;
}
.modal-changed-pw .btn-cancel {
  position: initial;
  width: 248px;
  background-color: transparent;
  margin: 0;
  @extend %sixth-text-button-style
}


//프로필 편집
.edit-profile {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: $text-light;
  background-color: $background-dark;
  z-index: 110;
  overflow-y: scroll;

  .edit-profile-nav {
    transform: translateY(72px);
    padding: 0 16px;
    background-color: $background-dark;
    @media screen and (min-width: 481px){
      width: 768rem;
      margin-left: 50%;
      transform: translateX(-50%)translateY(72px);
    }

    li:nth-child(2) {
      margin-top: 12px;
    }
    li:nth-child(5) {
      margin-bottom: 12px;
    }

    .edit-profile-info {
      padding-bottom: 24px;
      border-bottom: 1px solid #424242;

      .edit-profile-title {
        font-family: $notoSansBold;
        font-size: $fontsize-big;
        color: $text-light;
        line-height: 35px;
        }
      }
      p {
        font-size: 14px;
        line-height: 20px;
        color: rgba(245, 245, 245, 0.65);
      }
      p:nth-child(2) {
        margin-top: 4px;
      }
      p:nth-child(3) {
        margin-top: 24px
      }

      div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        display: inline-block;
        width: 28px;
        height: 28px;
      }
    }

    .edit-profile-menu {
      //padding-top: 24px;
      padding: 12px 0;
      .edit-profile-menu-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      img {
        width: 16px;
        height: 16px;
      }
      .edit-profile-menu-title {
        font-family: $notoSansRegular;
        font-size: $fontsize-small-regular;
        color: rgba(245, 245, 245, 0.65);
        line-height: 20px;
      }
      .edit-profile-menu-sub {
        font-family: $notoSansRegular;
        font-size: $fontsize-regular;
        color: $text-light;
        line-height: 23px;
      }
    }

    .user-left-menu {
      font-size: $fontsize-regular;
      padding-top: 24px;
      border-top: 1px solid #424242;
      margin-bottom: 70px;

      p {
        font-family: $notoSansRegular;
        color: rgba(245, 245, 245, 0.65);
        line-height: 20px;
      }
      :first-child {
        font-size: $fontsize-small-regular;
      }

      .user-left {
        display: block;
        margin-top: 24px;
        line-height: 23px;
        height: 100px;
        padding-bottom: 70px;
          a{
            @extend %fifth-text-button-style;
          }
      }
    }
  }
}

//프로필 편집 - 사용자 이름, 생년월일
.edit-username,
.edit-birth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .nav_menu {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    background-color: $background-dark;

    .btn-cancel {
      position: initial;
      background-color: transparent;
      font-size: 14px;
      color: $text-light;
      text-decoration: underline;
      margin-right: 20px;
    }
  }

  .hidden-area {
    width: calc(100vw - 40px);
    overflow: hidden;
    margin: auto;
    @media screen and (min-width: 481px) {
      width: 328px;
    }
  }
  .edit-username-section,
  .edit-birth-section {
    margin-top: 72px;
    width: inherit;

    div {
      width: inherit;
    }

    .edit-username-title,
    .edit-birth-title {
      font-family: $notoSansBold;
      font-size: $fontsize-big;
      color: $text-black;
      margin-bottom: 4px;
    }
    .edit-username-guide,
    .edit-birth-guide {
      font-family: $notoSansRegular;
      font-size: $fontsize-small-regular;
      color: $grayscale6;
    }
    .edit-username-input-area,
    .edit-birth-input-area {
      margin-top: 16px;
      width: inherit;
    }
    .edit-username-input-title,
    .edit-birth-input-title {
      font-family: $notoSansMedium;
      font-size: $border-radius-breadcrumbs;
      color: $primary-color;
    }
    .edit-username-input,
    .edit-birth-input {
      font-family: $notoSansRegular;
      font-size: 20px;
      color: $text-dark;
      width: 328px;
      height: 54px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 2px $primary-color;
      caret-color: $primary-color;
      margin-bottom: 16px;
      @media screen and (min-width: 481px) {
        width: inherit;
      }
    }
    .btn-save {
      width: inherit;
      font-size: 16px;
      font-weight: normal;
      background-color: $grayscale2;
      color: white;
      border: none;
      cursor: pointer;
      text-align: center;
      line-height: 46px;
      border-radius: 12px;
      //bottom: 40px;
      position: relative;
      //left: 49%;
      //transform: translateX(-50%);
    }
  }
}

//프로필 편집 - 성별, 국가, 탈퇴사유
.edit-gender, .edit-nation, .edit-left {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  .nav_menu {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    background-color: $background-dark;

    .btn-cancel {
      position: initial;
      background-color: transparent;
      font-size: 14px;
      color: $text-light;
      text-decoration: underline;
      margin-right: 20px;
    }
  }

  .hidden-area {
    width: calc(100vw - 40px);
    overflow: hidden;
    margin: auto;
    @media screen and (min-width: 481px) {
      width: 328px;
    }
  }
  .edit-detail-section {
    margin-top: 72px;
    @media screen and (min-width: 481px) {
      width: 328px;
    }

    .edit-detail-title {
      font-family: $notoSansBold;
      font-size: $fontsize-big;
      color: $text-black;
      margin-bottom: 4px;
    }
    .edit-detail-guide {
      font-family: $notoSansRegular;
      font-size: $fontsize-small-regular;
      color: $grayscale6;
    }
    .edit-detail-select-area {
      margin-top: 16px;
    }
    .edit-detail-select-title {
      font-family: $notoSansMedium;
      font-size: $border-radius-breadcrumbs;
      color: $primary-color;
    }
    .edit-detail-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 304px;
      height: 24px;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      background-color: #fff;
      padding: 12px;
      margin-top: 8px;
      margin-bottom: 12px;
      @media screen and (min-width: 481px) {
        width: inherit;
      }

      span {
        font-size: $fontsize-regular;
        color: #999;
        font-weight: 400;
        line-height: 23px;
      }
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url("../../img/icon_more_black.png");
        background-size: cover;
      }
    }
    .btn-save,
    .btn-left,
    .btn-language {
      width: 328px;
      font-size: 16px;
      font-weight: normal;
      background-color: #EBEBEB;
      color: white;
      border: none;
      cursor: pointer;
      text-align: center;
      line-height: 46px;
      border-radius: 12px;
      //bottom: 40px;
      position: relative;
      //left: 49%;
      //transform: translateX(-50%);
    }

    textarea {
      width: 304px;
      height: 168px;
      font-family: $notoSansRegular;
      font-size: $fontsize-regular;
      background-color: $background-light;
      color: $text-dark;
      resize: none;
      border: 1px solid $primary-color;
      border-radius: 8px;
      padding: 12px 12px 32px 12px;
      margin-top: 8px;
      &.write-area{
        width: 100%;
        box-sizing: border-box;
      }
    }
    textarea::placeholder {
      color: $grayscale5;
    }
    .number-of-text {
      position: relative;
      right: 37px;
      bottom: 13px;
      font-family: $robotoRegular;
      font-size: 10px;
      color: #999;
    }
  }
}
#left_textarea{
  position: relative;
}
.edit-left .edit-detail-section .number-of-text{
  position: absolute;
  right: 12px;
  bottom: 12px;
}
//프로필 편집 -  성별, 탈퇴사유
.select-option-box {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 220;
  width: 100vw;
  //height: 100vh;
  height: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);

  .select-options {
    position: absolute;
    width: 328px;
    left: 50%;
    bottom: 172px;
    transform: translateX(-50%);

    .select-option-title {
      font-family: $bothBold;
      font-size: 19px;
      line-height: 28px;
      color: $text-lightest;
      margin-bottom: 12px;
    }
    button {
      background: transparent;
      width: auto;
      height: 52px;
      text-align: center;
      img {
        width: 28px;
        height: 28px;
        transform: translatey(8px);
      }
      span {
        margin-left: 8px;
        font-family: $bothRegular;
        font-size: $fontsize-regular;
        line-height: 23px;
        color: $text-light;
      }
    }
  }
  .select-options.left {
    //top: 356px;
  }
  .btn-modal-close {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    bottom: 62px;
    transform: translateX(-50%);
    background: transparent;
    img {
      width: inherit;
    }
  }
}

//프로필 편집 - 국가
.select-option-box-nation{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 220;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, #0A0A0A 100%);

  .select-option-title {
    font-family: $bothBold;
    font-size: 19px;
    line-height: 28px;
    color: $text-lightest;
    margin-bottom: 12px;
    position: absolute;
    width: 328px;
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
  }

  .select-options {
    position: absolute;
    width: 328px;
    top: 156px;
    left: 50%;
    transform: translateX(-50%);
    height: 460px;
    overflow: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    button {
      background: transparent;
      width: 100%;
      height: 47px;
      text-align: center;
      img {
        width: 28px;
        height: 28px;
        transform: translatey(8px);
      }
      span {
        margin-left: 8px;
        font-family: $bothRegular;
        font-size: $fontsize-regular;
        line-height: 23px;
        color: $text-light;
      }
    }
  }
  .select-options::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
    width: 0 !important;
  }
  .select-options.left {
    top: 356px;
  }
  .btn-modal-close {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    background: transparent;
    img {
      width: inherit;
    }
  }
}


//디바이스 및 앱 - 로그인 된 TV
.logged-in-tv-section, .app-info-section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  color: #f5f5f5;
  background-color: #0A0A0A;
  font-family: $notoSansRegular;
  font-size: 16px;

  div {
    margin-top: 72px;
    padding: 0 16px;
  }
  .logged-in-tv-title, .app-info-title {
    font-family: $notoSansBold;
    font-size: 24px;
    color: #f5f5f5;
    line-height: 35px;
  }
  .logged-in-tv-guide, .app-info-guide {
    color: rgba(245, 245, 245, 0.65);
    line-height: 20px;
  }
  ul {
    margin-top: 24px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      line-height: 20px;
      color: $text-light;
    }
    span {
      @extend %first-text-button-style;
    }
  }

  .app-info-contents {
    margin: 0;
    padding: 0;
    line-height: 20px;
    .title {
      color: rgba(245, 245, 245, 0.65);
      margin-top: 24px;
    }
    .contents {
      color: $text-light;
    }
  }
}

.modal-profile-edit {
  position: fixed;
  top: 0;
  z-index: 1000;
}

//carousel web css
@media screen and (min-width: 481px) {
  .setting-section, .profile-edit-section {
    width: 768rem;
  }
  .logged-in-tv-section, .app-info-section {
    width: 768rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.mypage-modal-header,
.modal-profile-edit{
  z-index: 200;
  height: 48px;
  width: 100%;
  background-color: #0A0A0A;
  margin-bottom: -1px;
  position: fixed;
  .nav_menu{
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    background-color: $background-dark;
    @media screen and (min-width: 481px) {
      width: 768rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.icon-confirm {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  transform: translate(-18px, 16px);
}

.anchor-edit-profile{
  width: auto;
  height: 18px;
  display: flex;
  @extend %first-text-button-style;
  span{
    line-height: 18px;
  }
  i{
    height: inherit;
    img{
      height: inherit;
    }
  }
}
