main {
  padding-top: 48px;
}

#terms_of_privacy {
  font-family: RobotoRegular, notoSansRegular, serif;
  color: #424242;
}

#terms_of_service::after, #personal_information::after {
  all: unset;
}

.terms-of-service- {
  color: #0A0A0A;
}
.terms-of-service-wrap {
  position: fixed;
  top: 0;
  margin-top: 48px;
  z-index: 1;
  background: white;
  padding-bottom: 14px;
  width: inherit;
}
@media screen and (min-width: 481px) {
  .terms-of-service-wrap {
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
  }
}
.terms-of-service-title {
  font-family: notoSansBold, serif;
  font-size: 24px;
  line-height: 35px;
  margin-top: 24px;
  position: relative;
}
.terms-of-service-tab {
  display: flex;
  font-family: notoSansRegular, serif;
  font-size: 18px;
  line-height: 23px;
  margin-top: 17px;
  position: relative;
  width: inherit;
  overflow-x: scroll;
}
@media screen and (max-width: 481px) {
  .terms-of-service-tab {
    font-size: 14px;
  }
}
.terms-of-service-tab-title:nth-child(n+2) {
  margin-left: 16px;
}
.terms-of-service-tab-bar {
  position: absolute;
  display: none;
  width: 121px;
  height: 3px;
  background: #2841FA;
  top: 28px;
}
@media screen and (max-width: 481px) {
  .terms-of-service-tab-bar {
    width: 97px;
  }
}
.terms-of-service-tab-privacy-bar {
  width: 137px;
  left: 137px;
}
@media screen and (max-width: 481px) {
  .terms-of-service-tab-privacy-bar {
    width: 111px;
    left: 109px;
  }
}
.terms-of-service-tab-account-bar {
  width: 105px;
  left: 292px;
}
@media screen and (max-width: 481px) {
  .terms-of-service-tab-account-bar {
    width: 84px;
    left: 234px;
  }
}
.terms-of-service-tab-title {
  opacity: 0.65;
  cursor: pointer;
}
.terms-of-service-tab-title.active {
  opacity: 1;
  font-family: notoSansMedium, serif !important;
}
.terms-of-service-tab-title.active + .terms-of-service-tab-bar {
  display: block;
}
.terms-of-service-content-service, .terms-of-service-content-privacy, .terms-of-service-content-account {
  margin-top: 150px;
  width: 100%;
  font-family: notoSansRegular, serif;
  font-size: 12px;
  line-height: 24px;
  display: none;
  margin-bottom: 70px;
}
@media screen and (min-width: 481px) {
  .terms-of-service-content-service, .terms-of-service-content-privacy, .terms-of-service-content-account {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.terms-of-service-content-service.active, .terms-of-service-content-privacy.active, .terms-of-service-content-account.active {
  display: block;
}

@media screen and (min-width: 481px) {
  section {
    width: 768rem;
  }
}
#terms_of_service,
#terms_of_account,
#terms_of_privacy {
  font-size: 18px;
  padding: 0 0 2px 0;
  white-space: nowrap;
}
#terms_of_service.active,
#terms_of_account.active,
#terms_of_privacy.active {
  border-bottom: 3px solid #2841fa;
}

.terms-text-box > p, .terms-text-box ul {
  font-family: RobotoRegular, notoSansRegular, serif;
  font-size: 14px;
  margin-bottom: 24px;
  color: #0a0a0a;
}
.terms-text-box li {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.terms-text-box a {
  color: #0a0a0a;
}
.terms-text-box h2 {
  font-family: RobotoBold, notoSansBold, serif;
  font-size: 16px;
  margin-bottom: 24px;
  color: #0a0a0a;
}
.terms-text-box .mini-title {
  text-decoration: underline;
}
.terms-text-box .bold {
  font-weight: bold;
}

/*# sourceMappingURL=terms-of-service.css.map */
